<div class="uk-grid uk-grid-width-large-1-1 uk-grid-medium sortable-handler hierarchical_show">
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Users got register</span>
                <h2 class="uk-margin-remove"><span class="countUpMe"><%= @users_got_register %></span></h2>
            </div>
        </div>
    </div>
</div>
