<h3 class="heading_b uk-margin-bottom">Order Detail</h3>
<div class="md-card">
  <div class="md-card-content">
    <ul class="md-list">
      <li>
        <div class="md-list-content">
          <span class="md-list-heading">Billing Address</span>
          <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="md-list-content">
          <span class="md-list-heading">Payment Type</span>
          <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="md-list-content">
          <span class="md-list-heading">Promo Code</span>
          <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="md-list-content">
          <span class="md-list-heading">Email Address</span>
          <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="md-list-content">
          <span class="md-list-heading">Gift Card</span>
          <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="md-list-content">
          <ul class="md-list">
            <li>
              <div class="md-list-content">
                <span class="md-list-heading">Shipping Address</span>
                <span class="uk-text-small uk-text-muted">Lorem ipsum dolor sit amet.</span>
              </div>
            </li>
            <li>
              <div class="md-list-content">
                <span class="icheck-inline">
                    <input type="checkbox" data-switchery name="product_edit_active_control" id="product_edit_active_control" />
                    <label for="val_check_ski" class="inline-label">Signiture Required At Delivery</label>
                </span>
              </div>
            </li>
            <li>
              <div class="md-list-content">
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table class="uk-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Size</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="img_thumb" src="assets/img/ecommerce/s6_edge_3.jpg" alt=""></td>
                                    <td class="uk-text-large uk-text-nowrap"><a href="ecommerce_product_details.html">Neque corporis.</a></td>
                                    <td class="uk-text-nowrap">6</td>
                                    <td class="uk-text-nowrap">$ 580.00</td>
                                    <td>73</td>
                                    <td class="uk-text-nowrap"><span class="uk-badge uk-badge-muted" style="float: none">Ships in 3-5 days</span></td>
                                    <td class="uk-text-nowrap">$ 580.00</td>
                                </tr>
                                <tr>
                                    <td><img class="img_thumb" src="assets/img/ecommerce/s6_edge_3.jpg" alt=""></td>
                                    <td class="uk-text-large uk-text-nowrap"><a href="ecommerce_product_details.html">Neque corporis.</a></td>
                                    <td class="uk-text-nowrap">6</td>
                                    <td class="uk-text-nowrap">$ 580.00</td>
                                    <td>73</td>
                                    <td class="uk-text-nowrap"><span class="uk-badge uk-badge-danger" style="float: none">Out of stock</span></td>
                                    <td class="uk-text-nowrap">$ 580.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
      
                    <div class="md-list-content">
                      <span class="md-list-heading">Shipping Method</span>
                      <span class="uk-text-small uk-text-muted">Standard (est. delivery 10/ 07 16)</span>
                    </div>
                </div>
              </div>
            </li>
        </div>
      </li>
      <li class="uk-margin-medium-top">
        <div class="md-list-content">
          <span class="md-list-heading"><b>FREE SHIPPING</b>, Every Day, Every Onder, No Code Needed</span>
          <div class="uk-width-1-2">
              <div class="uk-overflow-container">
                  <table class="uk-table">
                      <tbody>
                          <tr>
                              <td class="uk-text-bold uk-text-italic uk-text-small">Item Total</td>
                              <td class="uk-text-nowrap">VND $ 580.00</td>
                          </tr>
                          <tr>
                              <td class="uk-text-bold uk-text-italic uk-text-small">Gift Wrap</td>
                              <td class="uk-text-nowrap">VND $ 580.00</td>
                          </tr>
                          <tr>
                              <td class="uk-text-bold uk-text-italic uk-text-small">Estimated Shopping & Handling</td>
                              <td class="uk-text-nowrap">VND $ 580.00</td>
                          </tr>
                          <tr>
                              <td class="uk-text-bold uk-text-italic uk-text-small">Total Before Tax</td>
                              <td class="uk-text-nowrap">VND $ 580.00</td>
                          </tr>
                          <tr>
                              <td class="uk-text-bold uk-text-italic uk-text-small">Estimated Tax</td>
                              <td class="uk-text-nowrap">VND $ 580.00</td>
                          </tr>
                          <tr>
                              <td class="uk-text-bold">Estimated Total</td>
                              <td class="uk-text-bold uk-text-italic">VND $ 580.00</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>