
/***********************************************************************************************/
/*  Responsive/adaptive stuff */
/***********************************************************************************************/

/*@media only screen and (min-width: 768px) and (max-width: 1199px) {*/
@media only screen and (max-width: 1199px) {

.page-pointer::before {
  border-bottom: 12px solid #f9fbfd;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  margin-left: -12px;
  margin-top: 1px;
}
.page-pointer {
  border-bottom: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: 103px;
  margin-top: 28px;
}
.middle-state .account-input-block .select select {
  width: 16rem;
}
.billing-section-body .account-input-block .select select {
  width: 12rem;
}
.billing-section-body .account-input-block .select__arrow {
  right: -7.3rem;
}
.middle-state .account-input-block .select select {
  width: 15rem;
}
.middle-state .account-input-block .select__arrow {
  right: -9.3rem;
}
.billing-section-body .mi {
  padding-left: 5px;
  padding-right: 5px;
}

.section-billing .account-input-block .select select {
  width: 11rem !important;
}
.state-selecting.account-input-block .select select {
  width: 16rem !important;
}
.section-billing .account-input-block .select__arrow {
  right: -6.3rem !important;
}
.state-selecting.account-input-block .select__arrow {
  right: -10.3rem !important;
}


}
@media only screen and (max-width: 991px) {
.tablist a {
  font-size: 1.3rem;
  font-weight: 600;
}
.page-pointer {
  margin-left: 64px;
  margin-top: 18px;
}
.section-billing .account-input-block .select select {
  width: 32rem !important;
}
.section-billing .account-input-block .select__arrow {
  right: -20.3rem !important;
}
.billing-section-body .mi {
  padding-left: 15px;
  padding-right: 15px;
}
.state-selecting.account-input-block span.reqf {
  left: -11.8rem;
}
}
@media only screen and (max-width: 767px) {
.billing-section-body .account-input-block .select select {
  width: 100%;
}
.billing-section-body .account-input-block .select__arrow {
  margin-top: -28px;
  right: 1.5rem;
}
.billing-section-body .mi {
  padding-left: 15px;
  padding-right: 15px;
}
.middle-state .account-input-block .select select {
  margin-bottom: 2rem;
  width: 100%;
}
.saks-bag-item-img {
  float: none;
  margin-bottom: 10px;
  width: 70px;
}
.tablist-holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.tablist {
  order: 2;
  width: 300px;
  border: .1rem solid #ddd;
  border-top-color: #000;
  border-bottom-color: #000;
  margin: 1.5rem 0;
}
.tablist li {
  display: block;
}
.tablist a {
  border-bottom: 0.1rem solid #ddd;
  font-size: 1.5rem;
  margin: 0;
  padding: .8rem;
  width: 100%;
  font-weight: 400;
}
.tablist-active{
  font-weight: 700 !important;
}
.tablist.pull-left.visible-xs {
  margin: 1rem 0 2rem;
}
.tablist li.page-pointer {
  display: none;
}
.section-billing .ul-saks-bag-top-list,
.section-submit .ul-saks-bag-top-list,
.section-payment .ul-saks-bag-top-list {
  float: left !important;
  width: 100%;
}
.common-section-body input {
  width: 100%;
}
.section-billing .sign-in-col label {
  display: inline-block;
  float: left;
}
.common-section-body .account-input-block .select select {
  width: 100% !important;
}
.state-selecting.account-input-block span.reqf {
  display: block ;
}
.state-selecting.account-input-block span.reqf {
  left: 0.2rem;
  top: 0;
}
.common-section-body .reqf {
  color: #fa0101;
  float: left;
  left: 0;
  margin-left: unset;
  margin-top: 1rem;
  position: unset;
  top: 0;
}
.common-section-body .name-input-block input {
  margin-bottom: 0rem;
}
.middle-state .account-input-block .select select {
  margin-bottom: 0rem;
}
.tablist a {
  font-size: 1.3rem;
  padding: 0.6rem;
}
}
/* All Mobile Sizes (devices and browser) 360*640 */
@media only screen and (max-width: 479px) {

}
@media only screen and (max-width: 319px) {
.section-billing .sign-in-col label {
  width: 80%;
}
}
