
/***********************************************************************************************/
/*  Responsive/adaptive stuff */
/***********************************************************************************************/

/*@media only screen and (min-width: 768px) and (max-width: 1199px) {*/
@media only screen and (max-width: 767px) {
.name-input-block {
  float: left;
  margin-right: 0;
  width: 100%;
}
.name-input-block label {
  display: block;
  float: left;
}
.reqf {
  color: #fa0101;
  float: left;
  left: 0;
  margin-left: unset;
  position: unset;
  top: 0;
}
.section-sign-up-area input[type="text"], .section-sign-up-area input[type="password"], .section-sign-up-area input[type="email"] {
  height: 3rem;
  width: 100% !important;
}
.name-input-block input{
	margin-bottom: 1.5rem;
}
.single-account-block-password label, .single-account-block-email label {
  width: unset;
  float: left;
}

.select {
  display: block;
  float: none;
  margin-right: 3.5%;
  position: relative;
  width: 100%;
}
.name-input-block select {
  -moz-appearance: none;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #3f3f3f;
  border-radius: 0;
  display: block;
  height: 3rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding-left: 0.4rem;
  width: 100%;
}
.select__arrow {
  border-color: #666 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 1rem;
  top: 3rem;
  width: 0;
}
}
/* All Mobile Sizes (devices and browser) 360*640 */
@media only screen and (max-width: 479px) {

}

