%section.section-signin-area.my-dashboard
  .container
    %h2.sr-only My Account Navigation Area
    .account-inner
      .row
        .col-md-3.col-sm-3
          =render "users/left_menu"
        / .col-md-3 ends
        .col-md-9.col-sm-9
          .all-informations-wrapper
            / ACCOUNT INFORMATION AREA Starts
            .single-account.show.account-information{"data-account" => "information"}
              %h2
                MY DASHBOARD
              .hello-section
                ="Hello " + current_user.full_name
              ="From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information."
              %br
              %br
              %br
              .account-information.title-text
                ACCOUNT INFORMATION
              %hr.mg-top-10
              .row.my-dashboard-link
                .col-md-4
                  .title-text
                    CONTACT INFORMATION
                  .contact-text
                    %div
                      =current_user.full_name
                    %div
                      =current_user.email
                    %div
                      =link_to "Change password",profile_user_path(current_user)
                .col-md-2.no-pd-lr
                  =link_to "EDIT",profile_user_path(current_user)
                .col-md-4
                  .title-text
                    NEWS LETTERS
                  .new-letter-text
                    You are currently not subscribed to any newsletter.
                .col-md-2.no-pd-lr
                  =link_to "EDIT",profile_user_path(current_user)
              %br
              %br
              %br
              %hr
              %br
              %br
              .account-information.title-text
                ADDRESS BOOK
                %span.manage-address.my-dashboard-link
                  =link_to "MANAGE ADDRESS",address_book_user_path(current_user)
              %hr.mg-top-10
              .row.my-dashboard-link
                .col-md-4
                  .title-text
                    DEFAULT BILLING ADDRESS
                  -if @default_billing.present?
                    .italic-txt
                      %div
                        =@default_billing.full_name
                      %div
                        =@default_billing.street_address
                      %div
                        =@default_billing.full_address
                      %div
                        =@default_billing.country_name
                      %div
                        T:
                        =@default_billing.telephone
                .col-md-2.no-pd-lr
                  =link_to "EDIT ADDRESS",edit_user_address_path(current_user.id,@default_billing.id) if @default_billing.present?
                .col-md-4
                  .title-text
                    DEFAULT SHIPPING ADDRESS
                  -if @default_shipping.present?
                    .italic-txt
                      %div
                        =@default_shipping.full_name
                      %div
                        =@default_shipping.street_address
                      %div
                        =@default_shipping.full_address
                      %div
                        =@default_shipping.country_name
                      %div
                        T:
                        =@default_shipping.telephone
                .col-md-2.no-pd-lr
                  =link_to "EDIT ADDRESS",edit_user_address_path(current_user.id,@default_shipping.id) if @default_billing.present?