%section.section-signin-area
  .container
    %h2.sr-only My Account Navigation Area
    .account-inner
      .row
        .col-md-3.col-sm-3
          =render "users/left_menu"
        / .col-md-3 ends
        .col-md-9.col-sm-9
          .all-informations-wrapper
            %table.table.table-bordered
              %thead
                %tr
                  %th{:scope => "row"} ID
                  %th{:scope => "row"} Quantity
                  %th{:scope => "row"} Status
                  %th{:scope => "row"} Total
                  %th{:scope => "row"} Actions
              %tbody
                -@orders.each do |i|
                  %tr
                    %td
                      =i.id
                    %td
                      =i.order_details.sum(:quantity)
                    %td
                      =show_order_status(i.status)
                    %td
                      $
                      =i.total
                    %td
                      =link_to "View Detail",order_path(i)
