#loading-indicator{:style=>"display:none;"}
  =image_tag("loading.gif")
%footer.footer-area
  -if !devise_controller?
    .footer-top
      .container
        .footer-top-inner
          %h2 Deals of the day
          .width-30.pull-left
            %a{:href =>"https://www.boutiqueken.com/pro/search?search_txt=BRANDS+Brooks"}
              %p.image-footer
                =image_tag("img/footer/brooks._V527797008_.jpg",alt: "Brooks")
              .none-link  
                Shop Brooks Fall Running Essentials
              .link
                %a{:href => "https://www.boutiqueken.com/pro/search?search_txt=BRANDS+Brooks"}
                  %h3 Up to 60% off MSRP
                %i.fa.fa-angle-right.fa-cus
          .width-30.pull-left
            %a{:href =>"https://www.boutiqueken.com/pro/search?search_txt=BRANDS+The+North+Face"}
              %p.image-footer
                =image_tag("img/footer/FB_2._V282166333_.jpg",alt: "The North Face Brand")
              .margin-top
                .none-link  
                  The Brand you need now
                .link  
                  %a{:href => "https://www.boutiqueken.com/pro/search?search_txt=BRANDS+The+North+Face"}
                    %h3 Up to 80% off MSRP
                  %i.fa.fa-angle-right.fa-cus
          .width-40.pull-left
            .left-image
              %a{:href =>"https://www.boutiqueken.com/cat/shoes-boots"}
                %p.image-footer.image-footer-180
                  =image_tag("img/footer/static-3._V527804960_.jpg",alt: "Winter Boots KhomBu")
            .right-content
              .none-link
                Winter Boots KhomBu, Northside, Totes and more!
              .link
                %a{:href => "https://www.boutiqueken.com/cat/shoes-boots"}
                  %h3 Up to 50% off MSRP
                %i.fa.fa-angle-right.fa-cus
          .clear-fix
          / .f-right ends
        / .footer-top-inner ends
      / .container ends
    / .footer-top ends
  -else
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
  .footer-bottom
    .container
      %h6
      .footer-bottom-inner
        .footer-sitemap
          .row
            .col-sm-3
              %h2 Explore Boutiqueken
              %ul.ul-single-sitemap
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/brands"} Brands
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women"} Clothing
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-all-designer-clothing"} 
                    Luxury
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-sunglasses"} Eyewear
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women"} 
                    New Arrivals
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-dresses"} 
                    Outdoor
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-coats"} 
                    Rideshop
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-activewear"} 
                    Running
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-shoes"} 
                    Shoes
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes"} 
                    Watches
            / .col-sm-3 ends
            .col-sm-3
              %h2 Customer Service
              %ul.ul-single-sitemap
                %li
                  %a{:href => faq_path} FAQ's
                %li
                  %a{:href => "#"} 
                    Coupons
                %li
                  %a{:href => contact_us_path} Contact Us
                %li
                  %a{:href => about_us_path} About Us
                %li
                  %a{:href => safe_shopping_guarantee_path} 
                    Safe Shopping Guarantee
                %li
                  %a{:href => secure_shopping_path} Secure shopping
            / .col-sm-3 ends
            .col-sm-3
              %h2 Shipping & Returns
              %ul.ul-single-sitemap
                %li
                  %a{:href => domestic_shipping_and_return_path} Domestic
                %li
                  %a{:href => international_shipping_and_return_path} International
                %li
                  -if current_user.present?
                    %a{:href => orders_user_path(current_user)} Order Status &amp; Tracking
                  -else
                    %a{:href => new_user_session_path} Order Status &amp; Tracking
            / .col-sm-3 ends
            .col-sm-3
              %h2 My Account
              %ul.ul-single-sitemap
                %li
                  %a{:href => new_user_session_path} Login/Register
                -if current_user.present?
                  %li
                    %a{:href => profile_user_path(current_user)} My Account
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Order Status
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Order History
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Print An Invoice
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Track My Order

                -else
                  %li
                    %a{:href => new_user_session_path} My Account
                  %li
                    %a{:href => new_user_session_path} 
                      Order Status
                  %li
                    %a{:href => new_user_session_path} 
                      Order History
                  %li
                    %a{:href => new_user_session_path} 
                      Print An Invoice
                  %li
                    %a{:href => new_user_session_path} 
                      Track My Order
            / .col-sm-3 ends
          / .row ends
        / .footer-sitemap ends
      / .footer-bottom-inner ends
      .footer-social
        %a.txt-float-right{:href => privacy_policy_path}
          Privacy Policies
          
        %a.txt-float-right{:href => term_of_use_path}
          Terms of Use
        
      / .footer-social ends
      %p.copyright.product-details-info
        @2009-2016 - Boutiqueken.com or its affiliates, 108 Madison Ave, New York, NY 10016, USA.
        %br
        Boutiqueken.com is operated by NYFashoFin Inc. Products on Boutiqueken.com are sold by NYFashoFin Retail, Inc.
        %br
        Gift cards and e-Gift cards sold on Boutiqueken.com are sold by NYFashoFin Gift Cards, Inc. or ACI Gift Cards, Inc.
