%footer.footer-area
  -if !devise_controller?
    .footer-top
      .container
        .footer-top-inner
          %h4 Deals of the day
          .f-left.pull-left
            %a{:href =>"javascript:;"}
              %p.image-footer
                =image_tag("img/footer/brooks._V527797008_.jpg")
              %p  
                Shop Brooks Fall Running Essentials
                %a{:href => "#"} Up to 60% off MSRP
                %i.fa.fa-angle-right
          / .f-left ends
          .f-center.pull-left
            %a{:href =>"javascript:;"}
              %p.image-footer
                =image_tag("img/footer/FB_2._V282166333_.jpg")
              %p  
                The Brand you need now
                %a{:href => "#"} Up to 80% off MSRP
                %i.fa.fa-angle-right
          / .f-center ends
          .f-right.pull-left
            %a{:href =>"javascript:;"}
              %p.image-footer
                =image_tag("img/footer/static-3._V527804960_.jpg")
              %p  
                Winter Boots KhomBu, Northside, Totes and more!
                %a{:href => "#"} Up to 50% off MSRP
          / .f-right ends
        / .footer-top-inner ends
      / .container ends
    / .footer-top ends
  -else
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
  .footer-bottom
    .container
      %h2 We’re Dedicated to Our Customers 24/7
      .footer-bottom-inner
        .footer-sitemap
          .row
            .col-sm-3
              %strong Shop Saks
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} The Trendcaster
                %li
                  %a{:href => "#"} Fall Fashion: A Designer Series
                %li
                  %a{:href => "#"} Collection: A Contemporary Series
                %li
                  %a{:href => "#"} #SaksStyle Hub
                %li
                  %a{:href => "#"} Catalogs
                %li
                  %a{:href => "#"} Gift Cards
            / .col-sm-3 ends
            .col-sm-3
              %strong Stores &amp; Corporate
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Store Locations &amp; Events
                %li
                  %a{:href => "#"} Bridal Trunk Shows
                %li
                  %a{:href => "#"} About Us
                %li
                  %a{:href => "#"} Careers
                %li
                  %a{:href => "#"} Policies
            / .col-sm-3 ends
            .col-sm-3
              %strong Shipping &amp; Returns
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Domestic
                %li
                  %a{:href => "#"} International
                %li
                  %a{:href => "#"} Order Status &amp; Tracking
            / .col-sm-3 ends
            .col-sm-3
              %strong SaksFirst Card
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} SaksFirst
                %li
                  %a{:href => "#"} Pay Bills &amp; Manage
                %li
                  %a{:href => "#"} Apply
                %li
                  %a{:href => "#"} Upgrade to the Saks MasterCard
            / .col-sm-3 ends
          / .row ends
        / .footer-sitemap ends
      / .footer-bottom-inner ends
      .footer-social
        %ul.ul-social-icons
          %li
            %a{:href => "#"}
              %img{:alt => "pov-icon", :src => asset_path("img/icons/pov.png")}/
          %li
            %a{:href => "#"}
              %img{:alt => "fb-icon", :src => asset_path("img/icons/facebook.png")}/
          %li
            %a{:href => "#"}
              %img{:alt => "twitter-icon", :src => asset_path("img/icons/twitter.png")}/
          %li
            %a{:href => "#"}
              %img{:alt => "pinterest-icon", :src => asset_path("img/icons/pinterest.png")}/
          %li
            %a{:href => "#"}
              %img{:alt => "tumbler-icon", :src => asset_path("img/icons/tumbler.png")}/
          %li
            %a{:href => "#"}
              %img{:alt => "instagram-icon", :src => asset_path("img/icons/instagram.png")}/
          %li
            %a{:href => "#"}
              %img{:alt => "youtube-icon", :src => asset_path("img/icons/youtube.png")}/
        %a.download-app{:href => "#"}
          Download the Saks App:
          %img{:alt => "app-icon", :src => asset_path("img/icons/app.png")}/
        %a.sign-up-sms{:href => "#"}
          Sign up for SMS:
          %img{:alt => "sms-icon", :src => asset_path("img/icons/sms.png")}/
      / .footer-social ends
      %p.copyright
        © 2015, Saks Fifth Avenue
        %span •
        CA Transparency in Supply Chains Act