#loading-indicator{:style=>"display:none;"}
  =image_tag("loading.gif")
%footer.footer-area
  -if !devise_controller?
    .footer-top
      .container
          
  -else
    %br
    %br
    %br
    %br
    %br
    %br
  .footer-bottom-error-code
    .container
      %h6
      .footer-bottom-error-code-inner
        .footer-sitemap-error-code
          .row
            .col-xs-5ths
              %strong.dialog-title Women's Clothing
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Activewear
                %li
                  %a{:href => "#"} Blazers
                %li
                  %a{:href => "#"} 
                    Bras, panties & lingerie
                %li
                  %a{:href => "#"} Coats
                %li
                  %a{:href => "#"} 
                    Dresses
                %li
                  %a{:href => "#"} 
                    Jackets
                %li
                  %a{:href => "#"} 
                    Jeans
                %li
                  %a{:href => "#"} 
                    Jumpsuits & rompers
                %li
                  %a{:href => "#"} 
                    Leggings
                %li
                  %a{:href => "#"} 
                    Maternity
                %li
                  %a{:href => "#"} 
                    Pajamas & robes
                %li
                  %a{:href => "#"} 
                    Pants & capris
                %li
                  %a{:href => "#"} 
                    Shorts
                %li
                  %a{:href => "#"} 
                    Skirts
                %li
                  %a{:href => "#"} 
                    Suits & suit separates
                %li
                  %a{:href => "#"} 
                    Sweaters
                %li
                  %a{:href => "#"} 
                    Swimwear
                %li
                  %a{:href => "#"} 
                    Tights, socks, & hosiery
                %li
                  %a{:href => "#"} 
                    Tops
                %li
                  %a{:href => "#"} 
                    Vests
                %li
                  %a{:href => "#"} 
                    Wear to work
            .col-xs-5ths
              %strong.dialog-title Men's Clothing
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Active
                %li
                  %a{:href => "#"} 
                    Blazers, sport coats & vests
                %li
                  %a{:href => "#"} Casual button-down shirts
                %li
                  %a{:href => "#"} Coats & jackets
                %li
                  %a{:href => "#"} 
                    Dress shirts
                %li
                  %a{:href => "#"} Golf shop
                %li
                  %a{:href => "#"} 
                    Guys shop
                %li
                  %a{:href => "#"} 
                    Hoodies & sweatshirts
                %li
                  %a{:href => "#"} 
                    Jeans
                %li
                  %a{:href => "#"} 
                    Pajamas, lounge & sleepwear
                %li
                  %a{:href => "#"} 
                    Pants
                %li
                  %a{:href => "#"} 
                    Polos
                %li
                  %a{:href => "#"} 
                    Suits & suit separates
                %li
                  %a{:href => "#"} 
                    Shorts
                %li
                  %a{:href => "#"} 
                    Socks
                %li
                  %a{:href => "#"} 
                    Sweaters
                %li
                  %a{:href => "#"} 
                    T-shirts
                %li
                  %a{:href => "#"} 
                    Tuxedos & formalwear
                %li
                  %a{:href => "#"} 
                    Underwear & undershirts
            / .col-sm-3 ends
            .col-xs-5ths
              %strong.dialog-title Women's Shoes
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Booties
                %li
                  %a{:href => "#"} Boots
                %li
                  %a{:href => "#"} 
                    Comfort
                %li
                  %a{:href => "#"} 
                    Evening & bridal
                %li
                  %a{:href => "#"} 
                    Flats
                %li
                  %a{:href => "#"} 
                    Heels
                %li
                  %a{:href => "#"} 
                    Pumps
                %li
                  %a{:href => "#"} 
                    Sandals
                %li
                  %a{:href => "#"} 
                    Slippers
                %li
                  %a{:href => "#"} 
                    Sneakers
                %li
                  %a{:href => "#"} 
                    Wedges
                %li
                  %a{:href => "#"} 
                    Winter & rain boots
                %li
                  %a{:href => "#"} 
                    Wide & narrow widths
                %li
                  %a{:href => "#"} 
                    All women's shoes

            / .col-sm-3 ends
            .col-xs-5ths
              %strong.dialog-title Gifts for Her
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Gifts we love
                %li
                  %a{:href => "#"} 
                    Gifts under
                %li
                  %a{:href => "#"} 
                    Active
                %li
                  %a{:href => "#"} 
                    Beauty
                %li
                  %a{:href => "#"} 
                    Coats
                %li
                  %a{:href => "#"} 
                    Handbags & accessories
                %li
                  %a{:href => "#"} 
                    Jewelry & watches
                %li
                  %a{:href => "#"} 
                    Pajamas, robes & slippers
                %li
                  %a{:href => "#"} 
                    Shoes
                %li
                  %a{:href => "#"} 
                    Sweaters
                %li
                  %a{:href => "#"} 
                    Tech
                %li
                  %a{:href => "#"} 
                    Shop all
            .col-xs-5ths
              %strong.dialog-title Gifts for Him
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Gifts we love
                %li
                  %a{:href => "#"} 
                    Gifts under
                %li
                  %a{:href => "#"} 
                    Active
                %li
                  %a{:href => "#"} 
                    Bags
                %li
                  %a{:href => "#"} 
                    Coats
                %li
                  %a{:href => "#"} 
                    Cologne & grooming
                %li
                  %a{:href => "#"} 
                    Pajamas, robes & slippers
                %li
                  %a{:href => "#"} 
                    Shirts & polos
                %li
                  %a{:href => "#"} 
                    Sweaters
                %li
                  %a{:href => "#"} 
                    Watches & jewelry
                %li
                  %a{:href => "#"} 
                    Tech
                %li
                  %a{:href => "#"} 
                    Shop all
                
            / .col-sm-3 ends
          / .row ends
        / .footer-sitemap ends
      / .footer-bottom-inner ends
     
