#loading-indicator{:style=>"display:none;"}
  =image_tag("loading.gif")
%footer.footer-area
  -if !devise_controller?
    .footer-top
      .container
        .footer-top-inner
          %h4 Deals of the day
          .width-30.pull-left
            %a{:href =>"javascript:;"}
              %p.image-footer
                =image_tag("img/footer/brooks._V527797008_.jpg")
              .none-link  
                Shop Brooks Fall Running Essentials
              .link
                %a{:href => "#"}
                  Up to 60% off MSRP
                %i.fa.fa-angle-right.fa-cus
          .width-30.pull-left
            %a{:href =>"javascript:;"}
              %p.image-footer
                =image_tag("img/footer/FB_2._V282166333_.jpg")
              .margin-top
                .none-link  
                  The Brand you need now
                .link  
                  %a{:href => "#"}
                    Up to 80% off MSRP
                  %i.fa.fa-angle-right.fa-cus
          .width-40.pull-left
            .left-image
              %a{:href =>"javascript:;"}
                %p.image-footer.image-footer-180
                  =image_tag("img/footer/static-3._V527804960_.jpg")
            .right-content
              .none-link
                Winter Boots KhomBu, Northside, Totes and more!
              .link
                %a{:href => "#"} Up to 50% off MSRP
                %i.fa.fa-angle-right.fa-cus
          .clear-fix
          / .f-right ends
        / .footer-top-inner ends
      / .container ends
    / .footer-top ends
  -else
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
  .footer-bottom
    .container
      .footer-bottom-inner
        .footer-sitemap
          .row
            .col-sm-3
              %strong Explore Boutiqueken
              %ul.ul-single-sitemap
                %li
                  %a{:href => "#"} Brands
                %li
                  %a{:href => "#"} Clothing
                %li
                  %a{:href => "#"} 
                    Luxury
                %li
                  %a{:href => "#"} Eyewear
                %li
                  %a{:href => "#"} 
                    New Arrivals
                %li
                  %a{:href => "#"} 
                    Outdoor
                %li
                  %a{:href => "#"} 
                    Rideshop
                %li
                  %a{:href => "#"} 
                    Running
                %li
                  %a{:href => "#"} 
                    Shoes
                %li
                  %a{:href => "#"} 
                    Watches
            / .col-sm-3 ends
            .col-sm-3
              %strong Customer Service
              %ul.ul-single-sitemap
                %li
                  %a{:href => faq_path} FAQ's
                %li
                  %a{:href => "#"} 
                    Coupons
                %li
                  %a{:href => "#"} Contact Info
                %li
                  %a{:href => about_us_path} About Us
                %li
                  %a{:href => safe_shopping_guarantee_path} 
                    Safe Shopping Guarantee
                %li
                  %a{:href => secure_shopping_path} Secure shopping
            / .col-sm-3 ends
            .col-sm-3
              %strong Shipping & Returns
              %ul.ul-single-sitemap
                %li
                  %a{:href => domestic_shipping_and_return_path} Domestic
                %li
                  %a{:href => international_shipping_and_return_path} International
                %li
                  -if current_user.present?
                    %a{:href => orders_user_path(current_user)} Order Status &amp; Tracking
                  -else
                    %a{:href => new_user_session_path} Order Status &amp; Tracking
            / .col-sm-3 ends
            .col-sm-3
              %strong My Account
              %ul.ul-single-sitemap
                %li
                  %a{:href => new_user_session_path} Login/Register
                -if current_user.present?
                  %li
                    %a{:href => profile_user_path(current_user)} My Account
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Order Status
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Order History
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Print An Invoice
                  %li
                    %a{:href => orders_user_path(current_user)} 
                      Track My Order

                -else
                  %li
                    %a{:href => new_user_session_path} My Account
                  %li
                    %a{:href => new_user_session_path} 
                      Order Status
                  %li
                    %a{:href => new_user_session_path} 
                      Order History
                  %li
                    %a{:href => new_user_session_path} 
                      Print An Invoice
                  %li
                    %a{:href => new_user_session_path} 
                      Track My Order
            / .col-sm-3 ends
          / .row ends
        / .footer-sitemap ends
      / .footer-bottom-inner ends
      .footer-social
      /   %ul.ul-social-icons
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "pov-icon", :src => asset_path("img/icons/pov.png")}/
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "fb-icon", :src => asset_path("img/icons/facebook.png")}/
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "twitter-icon", :src => asset_path("img/icons/twitter.png")}/
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "pinterest-icon", :src => asset_path("img/icons/pinterest.png")}/
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "tumbler-icon", :src => asset_path("img/icons/tumbler.png")}/
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "instagram-icon", :src => asset_path("img/icons/instagram.png")}/
      /     %li
      /       %a{:href => "#"}
      /         %img{:alt => "youtube-icon", :src => asset_path("img/icons/youtube.png")}/
      /   %a.download-app{:href => "#"}
      /     Download the Boutiqueken App:
      /     %img{:alt => "app-icon", :src => asset_path("img/icons/app.png")}/
      /   %a.sign-up-sms{:href => "#"}
      /     Sign up for SMS:
      /     %img{:alt => "sms-icon", :src => asset_path("img/icons/sms.png")}/
      / / .footer-social ends
      / %p.copyright
      /   © 2016, Boutiqueken Fifth Avenue
      /   %span •
      /   CA Transparency in Supply Chains Act