#loading-indicator{:style=>"display:none;"}
  =image_tag("loading.gif")
%footer.footer-area
  -if !devise_controller?
    .footer-top
      .container
          
  -else
    %br
    %br
    %br
    %br
    %br
    %br
  .footer-bottom-error-code
    .container
      %h6
      .footer-bottom-error-code-inner
        .footer-sitemap-error-code
          .row
            .col-xs-5ths
              %strong.dialog-title Women's Clothing
              %ul.ul-single-sitemap
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-activewear"} Activewear
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-blazers"} Blazers
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-bras-panties-lingerie"} 
                    Bras, panties & lingerie
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-coats"} Coats
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-dresses"} 
                    Dresses
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-jackets"} 
                    Jackets
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-jeans"} 
                    Jeans
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-jumpsuits-rompers"} 
                    Jumpsuits & rompers
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-leggings"} 
                    Leggings
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-maternity"} 
                    Maternity
                %li
                  %a{:href => "#https://www.boutiqueken.com/cat/women-pajamas-robes"} 
                    Pajamas & robes
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-pants-capris"} 
                    Pants & capris
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-shorts"} 
                    Shorts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-skirts"} 
                    Skirts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-suits-suit-separates"} 
                    Suits & suit separates
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-sweaters"} 
                    Sweaters
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-swimwear"} 
                    Swimwear
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-tights-socks-hosiery"} 
                    Tights, socks, & hosiery
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-tops"} 
                    Tops
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-vests"} 
                    Vests
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/women-wear-to-work"} 
                    Wear to work
            .col-xs-5ths
              %strong.dialog-title Men's Clothing
              %ul.ul-single-sitemap
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-active"} Active
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-blazers-sport-coats-vests"} 
                    Blazers, sport coats & vests
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-casual-button-down-shirts"} Casual button-down shirts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-coats-jackets"} Coats & jackets
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-dress-shirts"} 
                    Dress shirts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-golf-shop"} Golf shop
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-guys-shop"} 
                    Guys shop
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-hoodies-sweatshirts"} 
                    Hoodies & sweatshirts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-jeans"} 
                    Jeans
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-pajamas-lounge-sleepwear"} 
                    Pajamas, lounge & sleepwear
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-pants"} 
                    Pants
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-polos"} 
                    Polos
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-suits-suit-separates"} 
                    Suits & suit separates
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-shorts"} 
                    Shorts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-socks"} 
                    Socks
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-sweaters"} 
                    Sweaters
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-t-shirts"} 
                    T-shirts
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-tuxedos-formalwear"} 
                    Tuxedos & formalwear
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/men-underwear-undershirts"} 
                    Underwear & undershirts
            / .col-sm-3 ends
            .col-xs-5ths
              %strong.dialog-title Women's Shoes
              %ul.ul-single-sitemap
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-12597-booties"} Booties
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-boots"} Boots
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-comfort"} 
                    Comfort
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-evening-bridal"} 
                    Evening & bridal
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-flats"} 
                    Flats
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-heels"} 
                    Heels
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-pumps"} 
                    Pumps
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-sandals"} 
                    Sandals
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-slippers"} 
                    Slippers
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-sneakers"} 
                    Sneakers
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-wedges"} 
                    Wedges
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-winter-rain-boots"} 
                    Winter & rain boots
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-wide-narrow-widths"} 
                    Wide & narrow widths
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/shoes-all-women-s-shoes"} 
                    All women's shoes

            / .col-sm-3 ends
            .col-xs-5ths
              %strong.dialog-title Gifts for Her
              %ul.ul-single-sitemap
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-gifts-we-love"} Gifts we love
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-gifts-under"} 
                    Gifts under
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-active"} 
                    Active
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-beauty"} 
                    Beauty
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-coats"} 
                    Coats
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-handbags-accessories"} 
                    Handbags & accessories
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-jewelry-watches"} 
                    Jewelry & watches
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-pajamas-robes-slippers"} 
                    Pajamas, robes & slippers
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-shoes"} 
                    Shoes
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-sweaters"} 
                    Sweaters
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-tech"} 
                    Tech
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-shop-all"} 
                    Shop all
            .col-xs-5ths
              %strong.dialog-title Gifts for Him
              %ul.ul-single-sitemap
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8496-gifts-we-love"} Gifts we love
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8497-gifts-under"} 
                    Gifts under
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8498-active"} 
                    Active
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-bags"} 
                    Bags
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8500-coats"} 
                    Coats
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-cologne-grooming"} 
                    Cologne & grooming
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8502-pajamas-robes-slippers"} 
                    Pajamas, robes & slippers
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-shirts-polos"} 
                    Shirts & polos
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8504-sweaters"} 
                    Sweaters
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-watches-jewelry"} 
                    Watches & jewelry
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8506-tech"} 
                    Tech
                %li
                  %a{:href => "https://www.boutiqueken.com/cat/gifts-8507-shop-all"} 
                    Shop all
                
            / .col-sm-3 ends
          / .row ends
        / .footer-sitemap ends
      / .footer-bottom-inner ends
     
