.home-content
  .add-home
    .row
      .col-xs-12.col-sm-6.col-md-6.pd-lef-10
        .add-middle
          %a{:href => "https://www.boutiqueken.com/cat/gifts-gifts-we-love"}
            %img.no-mg-bt{:alt => "gift for women", :src => asset_path("gift/Womens._V526557889_.jpg")}/
      .col-xs-12.col-sm-6.col-md-6.pd-lef-10
        .add-middle
          %a{:href => "https://www.boutiqueken.com/cat/gifts-16001-gifts-we-love"}
            %img{:alt => "gift for men", :src => asset_path("gift/Mens._V277817659_.jpg")}/
  %div{:style =>"margin-top: 15px"}
  .add-home
    .row.no-mg
      .col-xs-6.col-sm-4.col-md-4.r-not
        %a{:href => "https://www.boutiqueken.com/cat/gifts-girls"}
          %img.no-mg-bt{:alt => "gift for girls", :src => asset_path("gift/Gifts_For_Girls._V527819272_.jpg")}/
      .col-xs-6.col-sm-4.col-md-4.r-not
        %a{:href => "https://www.boutiqueken.com/cat/gifts-baby"}
          %img.no-mg-bt{:alt => "gift for baby", :src => asset_path("gift/Gifts_For_Baby._V527819272_.jpg")}/
      .col-xs-6.col-sm-4.col-md-4.r-not
        %a{:href => "https://www.boutiqueken.com/cat/gifts-boys"}
          %img.no-mg-bt{:alt => "gift for boys", :src => asset_path("gift/Gifts_For_Boys._V527819272_.jpg")}/
  %div{:style =>"margin-top: 15px"}
  .add-home
    .row.no-mg
      .col-xs-12.col-sm-12.col-md-12.pd-lef-10
        %a{:href => "https://www.boutiqueken.com/cat/men-boots"}
          %img.no-mg-bt{:alt => "get your gifts in time", :src => asset_path("gift/gift_in_time.jpg")}/