%header.header-area
  .header-top
    .container
      / DESKTOP TOP LINKS STARTS
      %ul.ul-top-navigation.ul-top-navigation-desktop.hidden-xs.pull-right
        %li
          %a{:href => "#"} Order Tracking
        %li.star-icon
          %a{:href => "#"}
            Ship To:
            %img{:alt => "star-icon", :src => "/assets/img/icons/star-icon.png"}/
        %li
          %a{:href => "#"} Chat
        %li
          %a{:href => "#"} 1.877.551.7257
        %li
          %a{:href => "#"}
            Saks Bag(
            %span.bag-count> 0
            )
        -if current_user.present?
          %li
            =link_to current_user.full_name,profile_user_path(current_user)
          %li
            = link_to "Log out", destroy_user_session_path,method: :delete
        -else
          %li
            =link_to "Sign In",new_user_session_path
          %li
            = link_to "Sign Up", new_user_registration_path
      / DESKTOP TOP LINKS ENDS
      / MOBILE TOP LINKS STARTS
      %ul.ul-top-navigation.ul-top-navigation-mobile.hidden-lg.hidden-md.hidden-sm.pull-right
        %li
          %a{:href => "#"}
            %i.fa.fa-comment{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fa.fa-phone-square{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
        %li.m-trigger
          %a{:href => "#"}
            %i.fa.fa-bars{"aria-hidden" => "true"}
      / MOBILE TOP LINKS ENDS
    / .container ends
  / .header-top ends
  .container
    %a.logo-wrapper.pull-left{:href => "#"}
      %img.img-responsive{:alt => "saks-logo", :src => "/assets/img/logo.png"}/
    / MOBILE OFFER TOP TEXT STARTS
    %p.pull-right.free-offer.free-offer-mobile.hidden-lg.hidden-md.hidden-sm
      Enjoy Free Express Shipping on orders $100+
      %a{:href => "#"} Details
    / MOBILE OFFER TOP TEXT ENDS
    / MEDIUM SCREEN SEARCH BOX AREA STARTS
    .search-wrapper.search-wrapper-medium-screen
      %p.pull-left.free-offer.free-offer-desktop.hidden-xs
        Enjoy Free Express Shipping on orders $100+
        %a{:href => "#"} Details
      %form.pull-right.search-box{:action => "#"}
        %input{:type => "text"}/
        %button{:type => "submit"}
          %i.fa.fa-search
    / MEDIUM SCREEN SEARCH BOX AREA ENDS
    / DESKTOP NAVIGATION STARTS
    %nav.main-navigation.hidden-xs
      %ul
        =render "shared/menu_top"
        %li#WomensApparelNavMenu.menu-item.span-3
          %a{:href => "#"} WOMEN'S APPAREL
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b WOMEN'S APPAREL
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Dresses
                %li
                  %a{:href => "#"} Formal &amp; Evening
                %li
                  %a{:href => "#"} Tops
                %li
                  %a{:href => "#"} Sweaters
                %li
                  %a{:href => "#"} Jackets &amp; Vests
                %li
                  %a{:href => "#"} Coats
                %li
                  %a{:href => "#"} The Fur Salon
                %li
                  %a{:href => "#"} Jeans
                %li
                  %a{:href => "#"} Pants &amp; Shorts
                %li
                  %a{:href => "#"} Jumpsuits &amp; Rompers
                %li
                  %a{:href => "#"} Skirts
                %li
                  %a{:href => "#"} Swimsuits &amp; Cover-ups
                %li
                  %a{:href => "#"} Suit Separates
                %li
                  %a{:href => "#"} Activewear
                %li
                  %a{:href => "#"} Lingerie &amp; Shapewear
                %li
                  %a{:href => "#"} Sleepwear &amp; Loungewear
                %li
                  %a{:href => "#"} Plus &amp; Extended Sizes
                %li
                  %a{:href => "#"} Maternity
                %li
                  %a{:href => "#"} Special Offers
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b LIFESTYLE BOUTIQUES
              %ul
                %li
                  %a{:href => "#"} Premier Designers
                %li
                  %a{:href => "#"} Contemporary
                %li
                  %a{:href => "#"} Modern
              %b SALE: Women's Apparel
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Women's Apparel Designers
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} #SaksStyle
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} Fall 2016 Runway Report: Vol.2
                %li
                  %a{:href => "#"} Fall 2016 Runway Report:Vol.1
                %li
                  %a{:href => "#"} Contemporary Designers Editorial
                %li
                  %a{:href => "#"} Denim Designers Editorial
                %li
                  %a{:href => "#"} Collection: A Contemporary Series
                %li
                  %a{:href => "#"} Wedding Shop
                %li
                  %a{:href => "#"} The It List
                %li
                  %a{:href => "#"} The Advance
                %li
                  %a{:href => "#"} Valentino Fall Editorial
                %li
                  %a{:href => "#"} Evening Editorial
                %li
                  %a{:href => "#"} The Trendcaster Vol. 10 October
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 9 September
                %li
                  %a.menu-banner-edition{:href => "#"}
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#ShoesNavMenu.menu-item.span-3
          %a{:href => "#"} SHOES
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b SHOES
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Boots
                %li
                  %a{:href => "#"} Pumps &amp; Slingbacks
                %li
                  %a{:href => "#"} Flats
                %li
                  %a{:href => "#"} Sandals
                %li
                  %a{:href => "#"} Sneakers
                %li
                  %a{:href => "#"} Oxfords &amp; Loafers
                %li
                  %a{:href => "#"} Wedges
                %li
                  %a{:href => "#"} Espadrilles
                %li
                  %a{:href => "#"} Evening
                %li
                  %a{:href => "#"} Wedding
                %li
                  %a{:href => "#"} Cold Weather
                %li
                  %a{:href => "#"} Mules
                %li
                  %a{:href => "#"} Mary Janes
                %li
                  %a{:href => "#"} Exotics
                %li
                  %a{:href => "#"} Slippers
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} Saks Exclusives
                %li
                  %a{:href => "#"} Iconic Shoes
                %li
                  %a{:href => "#"} Military
                %li
                  %a{:href => "#"} Velvet
                %li
                  %a{:href => "#"} High Shine
              %b MENS SHOES
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b KIDS SHOES
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SALE: Shoes
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Shoes Designers
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} #SaksStyle
                %li
                  %a{:href => "#"} Wedding Shop
                %li
                  %a{:href => "#"} Jimmy Choo Editorial
                %li
                  %a{:href => "#"} Fall Shoe Editorial
                %li
                  %a{:href => "#"} Valentino Fall Editorial
                %li
                  %a{:href => "#"} Gucci Pre-Fall Editorial
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 10 October
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 9 September
                %li
                  %a.menu-banner-edition{:href => "#"}
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#HandbagsNavMenu.menu-item.span-3.is-selected
          %a{:href => "#"} HANDBAGS
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b HANDBAGS
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Crossbody Bags
                %li
                  %a{:href => "#"} Shoulder Bags
                %li
                  %a{:href => "#"} Clutches
                %li
                  %a{:href => "#"} Totes
                %li
                  %a{:href => "#"} Top Handles &amp; Satchels
                %li
                  %a{:href => "#"} Backpacks
                %li
                  %a{:href => "#"} Mini Bags
                %li
                  %a{:href => "#"} Hobo Bags
                %li
                  %a{:href => "#"} Bucket Bags
                %li
                  %a{:href => "#"} Saddle Bags
                %li
                  %a{:href => "#"} Diaper Bags
                %li
                  %a{:href => "#"} Beach Bags
                %li
                  %a{:href => "#"} Bag Accessories
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b WALLETS &amp; CASES
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Wallets &amp; Wristlets
                %li
                  %a{:href => "#"} Card Cases &amp; Coin Purses
                %li
                  %a{:href => "#"} Makeup Bags
                %li
                  %a{:href => "#"} Mobile Cases
              %b SPECIAL OFFERS
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} Saks Exclusives
                %li
                  %a{:href => "#"} Iconic Bags
                %li
                  %a{:href => "#"} Motif Mania
                %li
                  %a{:href => "#"} Velvet
                %li
                  %a{:href => "#"} High Shine
              %b SALE: Handbags
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Handbags Designers
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} #SaksStyle
                %li
                  %a{:href => "#"} Wedding Shop
                %li
                  %a{:href => "#"} Jimmy Choo Editorial
                %li
                  %a{:href => "#"} Designer Handbag Editorial
                %li
                  %a{:href => "#"} Valentino Fall Editorial
                %li
                  %a{:href => "#"} Gucci Pre-Fall Editorial
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 10 October
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 9 September
                %li
                  %a.menu-banner-edition{:href => "#"}
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#JewelryAccessoriesNavMenu.menu-item.span-3
          %a{:href => "#"} JEWELRY &amp; ACCESSORIES
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b ALL JEWELRY
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Earrings
                %li
                  %a{:href => "#"} Necklaces
                %li
                  %a{:href => "#"} Bracelets
                %li
                  %a{:href => "#"} Rings
                %li
                  %a{:href => "#"} Brooches
                %li
                  %a{:href => "#"} Jewelry Storage
              %b FINE JEWELRY
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b FASHION JEWELRY
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b WATCHES
              %ul
                %li
                  %a{:href => "#"} For Her
                %li
                  %a{:href => "#"} For Him
              %b SUNGLASSES &amp; OPTICALS
              %ul
                %li
                  %a{:href => "#"} Shop All
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b ACCESSORIES
              %ul
                %li
                  %a{:href => "#"} Scarves
                %li
                  %a{:href => "#"} Hats &amp; Gloves
                %li
                  %a{:href => "#"} Cold-Weather Accessories
                %li
                  %a{:href => "#"} Fur &amp; Faux Fur
                %li
                  %a{:href => "#"} Wraps, Capes &amp; Vests
                %li
                  %a{:href => "#"} Belts
                %li
                  %a{:href => "#"} Wallets &amp; Cases
                %li
                  %a{:href => "#"} Tech Cases, Electronics &amp; Accessories
                %li
                  %a{:href => "#"} Hair Accessories
                %li
                  %a{:href => "#"} Umbrellas &amp; Key Chains
                %li
                  %a{:href => "#"} Tights &amp; Hosiery
                %li
                  %a{:href => "#"} The Fur Salon
              %b SPECIAL OFFERS
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} Bridal
                %li
                  %a{:href => "#"} Pearls &amp; Pearl Embellished
                %li
                  %a{:href => "#"} Fun Fur
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b SALE: Jewelry &amp; Accessories
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Jewelry &amp; Accessories Designers
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} #SaksStyle
                %li
                  %a{:href => "#"} Wedding Shop
                %li
                  %a{:href => "#"} Sunglasses Editorial
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 10 October
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 9 September
                %li
                  %a.menu-banner-edition{:href => "#"}
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#SaksBeautyPlaceNavMenu.menu-item.span-2
          %a{:href => "#"} beauty
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b SPECIAL OFFERS
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b FOR HER
              %ul
                %li
                  %a{:href => "#"} Skin Care
                %li
                  %a{:href => "#"} Makeup
                %li
                  %a{:href => "#"} Fragrance
                %li
                  %a{:href => "#"} Sun Care &amp; Bronzers
                %li
                  %a{:href => "#"} Tools &amp; Accessories
                %li
                  %a{:href => "#"} Bath &amp; Body
                %li
                  %a{:href => "#"} Hair Care
                %li
                  %a{:href => "#"} Gifts &amp; Gift Sets
              %b FOR HIM
              %ul
                %li
                  %a{:href => "#"} Cologne
                %li
                  %a{:href => "#"} Skin Care
                %li
                  %a{:href => "#"} Shaving
                %li
                  %a{:href => "#"} Sun Care
                %li
                  %a{:href => "#"} Bath &amp; Body
                %li
                  %a{:href => "#"} Hair Care
                %li
                  %a{:href => "#"} Toiletry Kits &amp; Cases
                %li
                  %a{:href => "#"} Gifts &amp; Gift Sets
              %b CANDLES, SOAPS &amp; SCENTS
              %ul
                %li
                  %a{:href => "#"} Shop All
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} The Apothecary Shop
                %li
                  %a{:href => "#"} Best in Beauty
                %li
                  %a{:href => "#"} Fall Color
                %li
                  %a{:href => "#"} Vensette's Beauty Picks
              %b SALE: Beauty
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Beauty Designers
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} The Trendcaster: Vol 10 October
                %li
                  %a.menu-banner-edition{:href => "#"}
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#TheMensStoreNavMenu.menu-item.span-4
          %a{:href => "#"} men
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b APPAREL
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Coats &amp; Jackets
                %li
                  %a{:href => "#"} Suits, Sportcoats &amp; Vests
                %li
                  %a{:href => "#"} Sweaters &amp; Sweatshirts
                %li
                  %a{:href => "#"} Casual Button-Down Shirts
                %li
                  %a{:href => "#"} Dress Shirts
                %li
                  %a{:href => "#"} T-Shirts &amp; Polos
                %li
                  %a{:href => "#"} Jeans
                %li
                  %a{:href => "#"} Pants &amp; Shorts
                %li
                  %a{:href => "#"} Activewear
                %li
                  %a{:href => "#"} Swimwear
                %li
                  %a{:href => "#"} Ties &amp; Formal Accessories
                %li
                  %a{:href => "#"} Underwear &amp; Socks
                %li
                  %a{:href => "#"} Loungewear, Pajamas &amp; Robes
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b SHOES
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Sneakers
                %li
                  %a{:href => "#"} Boots
                %li
                  %a{:href => "#"} Dress Shoes
                %li
                  %a{:href => "#"} Loafers
                %li
                  %a{:href => "#"} Oxfords &amp; Lace-Ups
                %li
                  %a{:href => "#"} Drivers
                %li
                  %a{:href => "#"} Slip-Ons
                %li
                  %a{:href => "#"} Flip Flops &amp; Sandals
                %li
                  %a{:href => "#"} Slippers
              %b ACCESSORIES
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Belts
                %li
                  %a{:href => "#"} Bags &amp; Leather Goods
                %li
                  %a{:href => "#"} Luggage, Travel &amp; Umbrellas
                %li
                  %a{:href => "#"} Sunglasses &amp; Opticals
                %li
                  %a{:href => "#"} Ties &amp; Formal Accessories
                %li
                  %a{:href => "#"} Lapel Pins
                %li
                  %a{:href => "#"} Scarves, Hats and Gloves
                %li
                  %a{:href => "#"} Pens &amp; Desk Accessories
                %li
                  %a{:href => "#"} Tech Cases, Electronics &amp; Accessories
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b CUFF LINKS, JEWELRY &amp; WATCHES
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Cuff Links &amp; Tie Bars
                %li
                  %a{:href => "#"} Jewelry
                %li
                  %a{:href => "#"} Watches
                %li
                  %a{:href => "#"} Jewelry &amp; Watch Storage
              %b SPORTS MEMORABILIA
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b GROOMING &amp; COLOGNE
              %ul
                %li
                  %a{:href => "#"} Cologne &amp; Aftershave
                %li
                  %a{:href => "#"} Skin Care
                %li
                  %a{:href => "#"} Shaving
                %li
                  %a{:href => "#"} Gifts &amp; Gift Sets
                %li
                  %a{:href => "#"} Bath &amp; Body
                %li
                  %a{:href => "#"} Hair Care
                %li
                  %a{:href => "#"} Sun Care
                %li
                  %a{:href => "#"} Toiletry Kits &amp; Cases
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} The New Office Casual
                %li
                  %a{:href => "#"} Colors of the Season
                %li
                  %a{:href => "#"} Cutting-Edge Designers
                %li
                  %a{:href => "#"} Saks Exclusives
              %b SALE: Men
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Men Designers
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} The Trendcaster: Vol. 1 Fall
                %li
                  %a{:href => "#"} EDITION
                %li
                  %a{:href => "#"} #SaksStyle
                %li
                  %a{:href => "#"} The Summer Shop
                %li
                  %a{:href => "#"} Wedding Shop
                %li
                  %a{:href => "#"} Made to Measure
                %li
                  %a.menu-banner-edition{:href => "#"}
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#JustKidsNavMenu.menu-item.span-3
          %a{:href => "#"} kids
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b BABY (0-24 MONTHS)
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Baby Girl (0-24 Months)
                %li
                  %a{:href => "#"} Baby Boy (0-24 Months)
                %li
                  %a{:href => "#"} Accessories
                %li
                  %a{:href => "#"} Baby Gifts
              %b BABY GEAR &amp; ESSENTIALS
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Strollers &amp; Accessories
                %li
                  %a{:href => "#"} Car Seats &amp; Accessories
                %li
                  %a{:href => "#"} Diaper Bags
                %li
                  %a{:href => "#"} Feeding
                %li
                  %a{:href => "#"} Bathing
                %li
                  %a{:href => "#"} Blankets
                %li
                  %a{:href => "#"} Baby Carriers
                %li
                  %a{:href => "#"} Playards &amp; Activity Chairs
              %b GIRLS (SIZES 2-16)
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Girls (2-6)
                %li
                  %a{:href => "#"} Girls (7-16)
                %li
                  %a{:href => "#"} Accessories
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b BOYS (SIZES 2-20)
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Boys (2-6)
                %li
                  %a{:href => "#"} Boys (7-20)
                %li
                  %a{:href => "#"} Accessories
              %b SHOES FOR ALL AGES
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Baby (0-24 Months)
                %li
                  %a{:href => "#"} Girls (2-16)
                %li
                  %a{:href => "#"} Boys (2-20)
              %b TOYS &amp; GIFTS
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b PLAYROOM DECOR
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#"} Cold Weather Shop
                %li
                  %a{:href => "#"} Names to Know
                %li
                  %a{:href => "#"} The New Baby Checklist
                %li
                  %a{:href => "#"} Premier Designer Shop
                %li
                  %a{:href => "#"} Unisex Shop
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b SPECIAL OFFERS
              %ul
                %li
                  %a{:href => ""} Shop All
              %b SALE: Kids
              %ul
                %li
                  %a{:href => ""} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => ""} Kids Designers
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => ""} #SaksStyle
                %li
                  %a{:href => ""} Wedding Shop
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li#HomeHiTechNavMenu.menu-item.span-4
          %a{:href => "#"} home
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b HOME DECOR
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Frames
                %li
                  %a{:href => "#"} Decorative Pillows &amp; Throws
                %li
                  %a{:href => "#"} Home Fragrance &amp; Candles
                %li
                  %a{:href => "#"} Vases, Bowls &amp; Trays
                %li
                  %a{:href => "#"} Room Accents
                %li
                  %a{:href => "#"} Books &amp; Games
                %li
                  %a{:href => "#"} Desk Decor &amp; Stationery
                %li
                  %a{:href => "#"} Furniture &amp; Rugs
                %li
                  %a{:href => "#"} Outdoor Decor
              %b BED &amp; BATH
              %ul
                %li
                  %a{:href => "#"} Bedding Collections
                %li
                  %a{:href => "#"} Bath
              %b DINING &amp; ENTERTAINING
              %ul
                %li
                  %a{:href => "#"} Dinnerware
                %li
                  %a{:href => "#"} Serveware
                %li
                  %a{:href => "#"} Drinkware
                %li
                  %a{:href => "#"} Table Linens &amp; Accessories
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b KITCHEN
              %ul
                %li
                  %a{:href => "#"} Cookware &amp; Bakeware
                %li
                  %a{:href => "#"} Coffee &amp; Tea
                %li
                  %a{:href => "#"} Small Appliances
                %li
                  %a{:href => "#"} Cutlery
                %li
                  %a{:href => "#"} Prep &amp; Tools
              %b GOURMET FOODS
              %ul
                %li
                  %a{:href => "#"} Gift Baskets &amp; Gift Sets
                %li
                  %a{:href => "#"} Candies &amp; Chocolates
                %li
                  %a{:href => "#"} Appetizers
                %li
                  %a{:href => "#"} Entrees &amp; Side Dishes
                %li
                  %a{:href => "#"} Desserts
              %b TRAVEL &amp; TECH
              %ul
                %li
                  %a{:href => "#"} Totes &amp; Luggage
                %li
                  %a{:href => "#"} Travel Accessories
                %li
                  %a{:href => "#"} Tech Cases, Electronics &amp; Accessories
              %b PERSONALIZATION
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SPORTS &amp; LEISURE
              %ul
                %li
                  %a{:href => "#"} Games
                %li
                  %a{:href => "#"} Sports Memorabilia
                %li
                  %a{:href => "#"} Bicycles
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b HOME CLEANING &amp; GARMENT CARE
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b PET ACCESSORIES
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b HOLIDAY
              %ul
                %li
                  %a{:href => "#"} Shop All
                %li
                  %a{:href => "#"} Ornaments &amp; Decor
                %li
                  %a{:href => "#"} Hanukkah
                %li
                  %a{:href => "#"} Snow Globes &amp; Collectibles
                %li
                  %a{:href => "#"} Holiday Menu
                %li
                  %a{:href => "#"} Signature Saks
              %b NEW &amp; POPULAR
              %ul
                %li
                  %a{:href => "#"} New Arrivals
                %li
                  %a{:href => "#"} Best Sellers
                %li
                  %a{:href => "#4"} Saks Fifth Avenue Collection
                %li
                  %a{:href => "#"} Designer Home
                %li
                  %a{:href => "#"} Wedding Gifts
              %b SALE: Home
              %ul
                %li
                  %a{:href => "#"} Shop All
              %b SHOP BY DESIGNER
              %ul
                %li
                  %a{:href => "#"} Home Designers
            / SUBMENU COLUMN ENDS
            %li.sub-menu-column
              %b TRENDS &amp; EVENTS
              %ul
                %li
                  %a{:href => "#"} Wedding Shop
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
        %li.gift
          %a{:href => "#"} gift
        %li#SaksSaleNavMenu.menu-item.span-1.last-child
          %a{:href => "#"} sale
          %ul.sub-menu
            %li.triangle
            %li.sub-menu-column.first-child
              %b SHOP BY CATEGORY
              %ul
                %li
                  %a{:href => "#"} Women's Apparel
                %li
                  %a{:href => "#"} Shoes
                %li
                  %a{:href => "#"} Handbags
                %li
                  %a{:href => "#"} Jewelry &amp; Accessories
                %li
                  %a{:href => "#"} Beauty
                %li
                  %a{:href => "#"} Men
                %li
                  %a{:href => "#"} Kids
                %li
                  %a{:href => "#"} Home
              %b SHOP BY PRICE
              %ul
                %li
                  %a{:href => "#"} Under $50
                %li
                  %a{:href => "#"} $50 - $150
                %li
                  %a{:href => "#"} $150 - $300
                %li
                  %a{:href => "#"} $300 - $500
                %li
                  %a{:href => "#"} $500 - $1000
                %li
                  %a{:href => "#"} $1000 - $2000
                %li
                  %a{:href => "#"} Over $2000
              %b SALE: Trending Now
              %ul
                %li
                  %a{:href => "http://www.saksfifthavenue.com/SALE:-Trending-Now/Fall-Favorites/shop/_/N-52k0u2"} Fall Favorites
              %b SHOP Saks OFF 5TH
              %ul
                %li
                  %a{:href => "http://www.saksoff5th.com", :target => "_blank"} saksoff5th.com
            / SUBMENU COLUMN ENDS
          / SUBMENU ENDS
    / DESKTOP NAVIGATION ENDS
    / MOBILE NAVIGATION STARTS
    %nav.main-navigation-mobile.hidden-lg.hidden-md.hidden-sm
      %ul
        %li.close-close
          %span
            Close
            %span X
        %li
          %a{:href => "#"}
            DESIGNERS
            %span &gt;
        %li
          %a{:href => "#"}
            WOMEN'S APPAREL
            %span &gt;
        %li
          %a{:href => "#"}
            SHOES
            %span &gt;
        %li
          %a{:href => "#"}
            HANDBAGS
            %span &gt;
        %li
          %a{:href => "#"}
            JEWELRY &amp; ACCESSORIES
            %span &gt;
        %li
          %a{:href => "#"}
            beauty
            %span &gt;
        %li
          %a{:href => "#"}
            men
            %span &gt;
        %li
          %a{:href => "#"}
            kids
            %span &gt;
        %li
          %a{:href => "#"}
            home
            %span &gt;
        %li.gift
          %a{:href => "#"}
            gift
            %span &gt;
        %li
          %a{:href => "#"}
            sale
            %span &gt;
    / MOBILE NAVIGATION ENDS
    / BIG SCREEN SEARCH BOX AREA STARTS
    .search-wrapper.search-wrapper-big-screen
      %p.pull-left.free-offer.free-offer-desktop
        Enjoy Free Express Shipping on orders $100+
        %a{:href => "#"} Details
      %form.pull-right.search-box{:action => "#"}
        %input{:type => "text"}/
        %button{:type => "submit"}
          %i.fa.fa-search
    / BIG SCREEN SEARCH BOX AREA ENDS
  / .container ends
/ HEADER ENDS
/ SECTION HOME CONTENT Starts