.home-content
  .add-home
    .row
      .col-xs-6.col-sm-5.col-md-5.r-not
        .add-left
          %a{:href => "https://www.boutiqueken.com/cat/watches-15862-best-sellers"}
            %img.no-mg-bt{:alt => "Stylist watch set", :src => asset_path("center/Hol1_WLP_3._V277246677_.jpg")}/
          %div{:style =>"margin-top: 7px"}
          %a{:href => "https://www.boutiqueken.com/cat/shoes-pumps"}
            %img{:alt => "Party Ready Pumps", :src => asset_path("center/Hol1_WLP_4._V277246677_.jpg")}/
      .col-xs-6.col-sm-3.col-md-5.r-not.visible-xs
        .add-left
          %a{:href => "https://www.boutiqueken.com/cat/men-watches"}
            %img.no-mg-bt{:alt => "Low Profile Watches", :src => asset_path("center/HOL1_MHP_3._V277300082_.jpg")}/
          %div{:style =>"margin-top: 7px"}
          %a{:href => "https://www.boutiqueken.com/cat/shoes-dress-shoes"}
            %img{:alt => "Polished Dress Shoes", :src => asset_path("center/HOL1_MHP_4._V277300082_.jpg")}/
      .col-xs-12.col-sm-7.col-md-7.pd-lef-10
        .add-middle
          %a{:href => "https://www.boutiqueken.com/cat/women-dresses"}
            %img{:alt => "Pretty Party Dresses", :src => asset_path("center/HOL1_FLP_2._V527756207_.jpg")}/
  %div{:style =>"margin-top: 15px"}
  .add-home
    .row
      .col-xs-6.col-sm-5.col-md-5.r-not.hidden-xs
        .add-left
          %a{:href => "https://www.boutiqueken.com/cat/men-watches"}
            %img.no-mg-bt{:alt => "Low Profile Watches", :src => asset_path("center/HOL1_MHP_3._V277300082_.jpg")}/
          %div{:style =>"margin-top: 7px"}
          %a{:href => "https://www.boutiqueken.com/cat/shoes-dress-shoes"}
            %img{:alt => "Polished Dress Shoes", :src => asset_path("center/HOL1_MHP_4._V277300082_.jpg")}/
      .col-xs-12.col-sm-7.col-md-7.pd-lef-10
        .add-middle
          %a{:href => "https://www.boutiqueken.com/cat/women-coats"}
            %img{:alt => "The Season's Standout Coats", :src => asset_path("center/Hol1_WLP_9._V277770169_.jpg")}/
  %div{:style =>"margin-top: 15px"}
  .add-home
    .row.no-mg
      .col-xs-6.col-sm-4.col-md-4.r-not
        %a{:href => "https://www.boutiqueken.com/cat/kids"}
          %img.no-mg-bt{:alt => "High-Shine HandBags", :src => asset_path("center/Hol1_WLP_5._V277770169_.jpg")}/
      .col-xs-6.col-sm-4.col-md-4.r-not
        %a{:href => "https://www.boutiqueken.com/cat/jewelry-gemstones"}
          %img.no-mg-bt{:alt => "Gem Stone Jewelry", :src => asset_path("center/Hol1_WLP_6._V277770169_.jpg")}/
      .col-xs-6.col-sm-4.col-md-4.r-not
        %a{:href => "https://www.boutiqueken.com/cat/men-boots"}
          %img.no-mg-bt{:alt => "The Boot Breakdown", :src => asset_path("center/HOL1_MHP_6._V277300082_.jpg")}/
      / .col-xs-6 ends
      / .col-xs-6.col-sm-3.l-not.hidden-xs
      /   .add-right
      /     %a{:href => "#"}
      /       %img{:alt => "add-img", :src => "assets/img/adds/FASHION_MEN_R1C2_TOP.jpg"}/
      /     %a{:href => "#"}
      /       %img{:alt => "add-img", :src => "assets/img/adds/FASHION_MEN_R1C2_BOTTOM.jpg"}/
      /     %a{:href => "#"}
      /       %img{:alt => "add-img", :src => "assets/img/adds/FASHION_MEN_R3C3.jpg"}/
      /     %a{:href => "#"}
      /       %img{:alt => "add-img", :src => "assets/img/adds/CAT_PROMO_R2C2_FASHION_DEALS.png"}/
      / .col-xs-6 ends
    / .row ends
  .section-shop-brand
    .product-container
      %h2 Shop by Brand
      .all-brands
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "Lark & Ro", :src => asset_path("logo/WHP_LogoFarm_9._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands-michael-michael-kors"}
          %img{:alt => "MICHAEL KORS", :src => asset_path("logo/WHP_LogoFarm_2._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands-calvin-klein"}
          %img{:alt => "Calvin Klein", :src => asset_path("logo/WHP_LogoFarm_3._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "Stuart Weitzman", :src => asset_path("logo/WHP_LogoFarm_4._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/pro/search?search_txt=BRANDS+Sam+Edelman"}
          %img{:alt => "Sam Edelman", :src => asset_path("logo/WHP_LogoFarm_5._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands-fossil"}
          %img{:alt => "FOSSIL", :src => asset_path("logo/MHP_WHP_logofarm_fossil._V285012686_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/pro/search?search_txt=BRANDS+kate+spade+new+york"}
          %img{:alt => "Kate Spade", :src => asset_path("logo/WHP_LogoFarm_7._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "ALEX AND ALI", :src => asset_path("logo/WHP_LogoFarm_8._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands-guess"}
          %img{:alt => "GUESS", :src => asset_path("logo/MHP_WHP_logofarm_Guess_V2._V281037680_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "VINCE", :src => asset_path("logo/WHP_LogoFarm_10._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "Theory", :src => asset_path("logo/WHP_LogoFarm_11._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "MILLY", :src => asset_path("logo/WHP_LogoFarm_12._V275504835_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands-adidas"}
          %img{:alt => "ADIDAS", :src => asset_path("logo/Fall2_WLP_Logos_._V279876431_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/pro/search?search_txt=BRANDS+BCBGMAXAZRIA"}
          %img{:alt => "BCBGMAXAZRIA", :src => asset_path("logo/Fall2_WLP_Logos_2._V279876431_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands-levi-s"}
          %img{:alt => "LEVI'S", :src => asset_path("logo/Fall2_WLP_Logos_3._V279876431_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "HUDSON", :src => asset_path("logo/Fall2_WLP_Logos_4._V279876430_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/cat/brands"}
          %img{:alt => "PARKER", :src => asset_path("logo/Fall2_WLP_Logos_5._V279876430_.jpg")}/
        %a{:href => "https://www.boutiqueken.com/pro/search?search_txt=BRANDS+Rachel+Zoe"}
          %img{:alt => "RACHEL ZOE", :src => asset_path("logo/Fall2_WLP_Logos_6._V279876431_.jpg")}/
        