/ HOME LEFT MENU MARKUP
%aside.home-left-menu.hidden-xs
  / single category starts
  .catagory-item.no-mar-top
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/clothing_50.png")}/
      %h4
        %a{:href =>"https://www.boutiqueken.com/cat/women"} 
          Clothing, Shows &amp; Accessories
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-jeans"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Denim Store
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-jackets"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          The Restore Shop
      %li
        %a{:href => "https://www.boutiqueken.com/cat/shoes"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Boots &amp; Booties Store
      %li
        %a{:href => "https://www.boutiqueken.com/cat/handbags-shoulder-bags "}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Handbags &amp; Shoulder
      %li
        %a{:href => "https://www.boutiqueken.com/cat/handbags"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Bags
  / single category ends
  / single category starts
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/CANADA_DENIM_tile.png")}/
      %h4
        %a{:href =>"https://www.boutiqueken.com/cat/women"}
          WOMEN
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-dresses"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-shoes"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-handbags"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Handbags
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-accessories"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Accessories
      %li
        %a{:href => "https://www.boutiqueken.com/cat/women-jewelry-watches"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Jewelry
      %li
        %a{:href => "https://www.boutiqueken.com/cat/watches-all-women-s-watches"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
  / single category ends
  / single category starts
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/belts_v2.png")}/
      %h4
        %a{:href =>"https://www.boutiqueken.com/cat/men"}
          MEN
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "https://www.boutiqueken.com/cat/men"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
      %li
        %a{:href => "https://www.boutiqueken.com/cat/men-all-men-s-shoes"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
      %li
        %a{:href => "https://www.boutiqueken.com/cat/men-bags-backpacks "}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Messenger Bags
      %li
        %a{:href => "https://www.boutiqueken.com/cat/men-accessories-wallets "}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Accessories
      %li
        %a{:href => "https://www.boutiqueken.com/cat/watches-all-men-s-watches"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
      %li
        %a{:href => "https://www.boutiqueken.com/cat/jewelry-men-s-jewelry-accessories"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Jewelry
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/50_kids.png")}/
      %h4
        %a{:href =>"https://www.boutiqueken.com/cat/kids"} 
          KIDS
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "https://www.boutiqueken.com/cat/kids-dresses"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
        %ul
          %li
            %a{:href => "https://www.boutiqueken.com/cat/kids-pajamas"} Girls
          %li
            %a{:href => "https://www.boutiqueken.com/cat/kids-pajamas-afe5eb26-f503-402f-b08e-73c44d979eca"} Boys
      %li
        %a{:href => "https://www.boutiqueken.com/cat/shoes-all-kids-shoes"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
        %ul
          %li
            %a{:href => "https://www.boutiqueken.com/cat/shoes-girls-shoes"} Girls
          %li
            %a{:href => "https://www.boutiqueken.com/cat/shoes-boys-shoes"} Boys
      %li
        %a{:href => "https://www.boutiqueken.com/cat/jewelry-kids-jewelry-watches"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
  / single category ends
  / single category starts
  
  .aside-left-add
    %a{:href => "https://www.boutiqueken.com/cat/women-sweaters"}
      %img.img-responsive{:alt => "Knits", :src => asset_path("left_nav/FASHION_WOMEN_R4C3.jpg")}/
    %a{:href => "https://www.boutiqueken.com/cat/women-sweaters"}
      %img.img-responsive{:alt => "Winter accessories", :src => asset_path("left_nav/FASHION_WOMEN_R4C2.jpg")}/
    %a{:href => "https://www.boutiqueken.com/cat/women-activewear"}
      %img.img-responsive{:alt => "Trainers", :src => asset_path("left_nav/FASHION_WOMEN_R3C3.jpg")}/
    %a{:href => "https://www.boutiqueken.com/cat/watches-all-women-s-watches"}
      %img.img-responsive{:alt => "Minimal Watchs", :src => asset_path("left_nav/FASHION_WOMEN_R4C4.jpg")}/
      
    %a{:href => "https://www.boutiqueken.com/cat/shoes-boots"}
      %img.img-responsive{:alt => "Boots", :src => asset_path("left_nav/FASHION_WOMEN_R3C1_BOTTOM.jpg")}/
    %a{:href => "https://www.boutiqueken.com/cat/kids"}
      %img.img-responsive{:alt => "Kids Clothing", :src => asset_path("left_nav/ca_cl-kids-left-column_180x120._CB303518723_.jpg")}/
  / .aside-left-add ends
/ HOME LEFT MENU MARKUP