/ HOME LEFT MENU MARKUP
%aside.home-left-menu.hidden-xs
  / single category starts
  .catagory-item.no-mar-top
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/clothing_50.png")}/
      %h4 Clothing, Shows &amp; Accessories
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Denim Store
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          The Restore Shop
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Boots &amp; Booties Store
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Handbags &amp; Shoulder
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Bags
  / single category ends
  / single category starts
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/CANADA_DENIM_tile.png")}/
      %h4 WOMEN
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Handbags
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Accessories
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Jewelry
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
  / single category ends
  / single category starts
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/belts_v2.png")}/
      %h4 MES
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Messenger Bags
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Accessories
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Jewelry
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/50_kids.png")}/
      %h4 KIDS
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
        %ul
          %li
            %a{:href => "#"} Girls
          %li
            %a{:href => "#"} Boys
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
        %ul
          %li
            %a{:href => "#"} Girls
          %li
            %a{:href => "#"} Boys
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
  / single category ends
  / single category starts
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/belts_v2.png")}/
      %h4 MES
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Messenger Bags
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Accessories
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Jewelry
  / single category ends
  / single category starts
  .catagory-item
    .catagory-item-title
      %img{:alt => "category-icon", :src => asset_path("img/belts_v2.png")}/
      %h4 MES
      %i.fa.fa-chevron-up{"aria-hidden" => "true"}
    %ul.catagory-item-ul
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Clothing
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Shoes
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Messenger Bags
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Accessories
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Watches
      %li
        %a{:href => "#"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}>
          Jewelry
  / single category ends
  .aside-left-add
    %a{:href => "#"}
      %img.img-responsive{:alt => "", :src => asset_path("img/adds/Fall2_WLP_2._V279537642_.jpg")}/
    %a{:href => "#"}
      %img.img-responsive{:alt => "", :src => asset_path("img/adds/FASHION_MEN_R1C2_TOP.jpg")}/
    %a{:href => "#"}
      %img.img-responsive{:alt => "", :src => asset_path("img/adds/FASHION_MEN_R1C2_BOTTOM.jpg")}/
    %a{:href => "#"}
      %img.img-responsive{:alt => "", :src => asset_path("img/adds/FASHION_MEN_R3C3.jpg")}/
    %a{:href => "#"}
      %img.img-responsive{:alt => "", :src => asset_path("img/adds/CAT_PROMO_R2C2_FASHION_DEALS.png")}/
  / .aside-left-add ends
/ HOME LEFT MENU MARKUP