- @main_menus.each do |i|
  %li.menu-item.span-3.first-child
    %a{:href => "#"}=i.cat_name.upcase
    %ul.sub-menu.designers-menu
      %li.triangle
      -main_subs = i.children
      -main_subs.each_with_index do |sub,index|
        %li.sub-menu-column{class: index == 0 ? 'first-child' : ''}
          %b=sub.cat_name.capitalize
          -sub_of_subs =  sub.children
          -if sub_of_subs.present?
            %ul
              - sub_of_subs.each do |sub_of_sub|
                %li
                  %a{href: "#"}=sub_of_sub.cat_name.capitalize
      / SUBMENU COLUMN ENDS
      / %li.sub-menu-column.last-child
      /   %b FEATURED DESIGNERS
      /   %ul
      /     %li
      /       %a{:href => "#"} 3.1 Phillip Lim
      /     %li
      /       %a{:href => "#"} Akris/Akris punto
      /     %li
      /       %a{:href => "#"} Alexander McQueen
      /     %li
      /       %a{:href => "#"} Alice + Olivia
      /     %li
      /       %a{:href => "#"} Balmain
      /     %li
      /       %a{:href => "#"} Bottega Veneta
      /     %li
      /       %a{:href => "#"} Brunello Cucinelli
      /     %li
      /       %a{:href => "#"} Burberry
      /     %li
      /       %a{:href => "#"} Chloe
      /     %li
      /       %a{:href => "#"} Christian Louboutin
      /     %li
      /       %a{:href => "#"} Diane von Furstenberg
      /     %li
      /       %a{:href => "#"} Dolce &amp; Gabbana
      /     %li
      /       %a{:href => "#"} Eileen Fisher
      /     %li
      /       %a{:href => "#"} Fendi
      /     %li
      /       %a{:href => "#"} Gianvito Rossi
      /     %li
      /       %a{:href => "#"} Giorgio Armani
      /     %li
      /       %a{:href => "#"} Givenchy
      /     %li
      /       %a{:href => "#"} Gucci
      /   %ul
      /     %li
      /       %a{:href => "#"} Jimmy Choo
      /     %li
      /       %a{:href => "#"} Joie
      /     %li
      /       %a{:href => "#"} Lanvin
      /     %li
      /       %a{:href => "#"} Manolo Blahnik
      /     %li
      /       %a{:href => "#"} Moncler
      /     %li
      /       %a{:href => "#"} Prada
      /     %li
      /       %a{:href => "#"} Proenza Schouler
      /     %li
      /       %a{:href => "#"} Rag &amp; Bone
      /     %li
      /       %a{:href => "#"} Ralph Lauren
      /     %li
      /       %a{:href => "#"} Saint Laurent
      /     %li
      /       %a{:href => "#"} Salvatore Ferragamo
      /     %li
      /       %a{:href => "#"} Stella McCartney
      /     %li
      /       %a{:href => "#"} St. John
      /     %li
      /       %a{:href => "#"} Theory
      /     %li
      /       %a{:href => "#"} The Row
      /     %li
      /       %a{:href => "#"} Tory Burch
      /     %li
      /       %a{:href => "#"} Valentino
      /     %li
      /       %a{:href => "#"} Vince
      / SUBMENU COLUMN ENDS
    / SUBMENU ENDS