%aside.left-cate
  .single-product-cat
    %strong.trigger
      Related Links
      %span
        %i.fa.fa-chevron-down
    %ul.ul-product-cat.ul-static
      %li
        %a{:href => domestic_shipping_and_return_path,class: determine_static_left_selected("domestic_shipping_return")}
          Domestic Shipping and Returns
      %li
        %a{:href => international_shipping_and_return_path,class: determine_static_left_selected("international_shipping_return")}
          International Shipping and Returns 
      %li
        %a{:href => safe_shopping_guarantee_path,class: determine_static_left_selected("safe_shopping_guarantee")}
          Safe Shopping Guarantee
      %li
        %a{:href => faq_path,class: determine_static_left_selected("faq")}
          FAQ’s
      %li
        %a{:href => "#"}
          Coupons
      %li
        %a{:href => secure_shopping_path,class: determine_static_left_selected("secure_shopping")}
          Secure shopping
      %li
        %a{:href => about_us_path,class: determine_static_left_selected("about_us")}
          About Us
      %li
        %a{:href => "#"}
          Contact Info
      %li
        %a{:href => term_of_use_path,class: determine_static_left_selected("term_of_use")}
          Terms of Use
      %li
        %a{:href => privacy_policy_path,class: determine_static_left_selected("privacy_policy")}
          Privacy Policy
