%aside.left-cate
  .single-product-cat
    %strong.trigger
      Related Links
      %span
        %i.fa.fa-chevron-down
    %ul.ul-product-cat
      %li
        %a{:href => domestic_shipping_and_return_path}
          Domestic Shipping and Returns
      %li
        %a{:href => international_shipping_and_return_path}
          International Shipping and Returns 
      %li
        %a{:href => safe_shopping_guarantee_path}
          Safe Shopping Guarantee
      %li
        %a{:href => faq_path}
          FAQ’s
      %li
        %a{:href => "#"}
          Coupons
      %li
        %a{:href => secure_shopping_path}
          Secure shopping
      %li
        %a{:href => about_us_path}
          About Us
      %li
        %a{:href => "#"}
          Contact Info
      %li
        %a{:href => term_of_use_path}
          Terms of Use
      %li
        %a{:href => privacy_policy_path}
          Privacy Policy
