%h1 About Boutiqueken

%p{:class => "word_style_15px"} Life seemed to go fast in 1998th when David Litt started Boutiqueken as a fashion retailer with a simple wish to make life easier. The original idea of creating a website with the great selection of fashion grows and today Boutiqueken is a fashion specialty retailer with a compelling selection of clothing, shoes, and accessories. Even more, as a result of our business commitment and wish to respond to our client needs, today our website deals in almost 138 countries worldwide!

%p{:class => "word_style_15px"} Boutiqueken offers a fascinating selection of clothing, shoes, and accessories for men, women and children, provides safe shopping, fast and reliable shipping. 

%p{:class => "word_style_15px"} However, what really distinguishes from others is our ability to grow and evolve in accordance with your needs and expectations. Yes, things have changed from 1998th. Life seems to go faster now, but our mission is still the same- making your life easier! All around the world, people are enjoying in different types of shopping, and we are proud to provide domestic and international shipping and returns for you.

%p{:class => "word_style_15px"} We believe fashion is a business of optimism, and in that spirit we continue to grow and evolve. Free shipping and free returns, mobile shopping and exciting new retail partnerships offer us continued opportunities to serve more customers in more ways with a fresh, relevant shopping experience and inspiring style. Fashion changes. Shopping changes. Our commitment to happy customers doesn't.


%p{:class => "word_style_15px"} Even more, we know that true beauty comes from the inside, and that is why we help you choose what makes you feel good in your own skin. Your pleasure is our satisfaction.

%p{:class=> "word_style_15px_right"} Thank you for letting Boutiqueken be part of your world!

%p{:class => "word_style_15px_right"} Boutiqueken, (NYFashoFin Inc.) is publicly traded on the NYFH.