%h1 Domestic Shipping and returns

%p.word_style_15px
  Boutiqueken knows how valuable is your time. For all our customers in domestic shipping, 
  %b we provide FREE shipping and returns! Free shipping with no order minimums! 

%p.word_style_15px
  If you are not 100% satisfied with your purchase, for any reason,  just go through our easy online returning process and print free return label! As simple as that!
%br
%h3
  3 steps easily return:
%p.word_style_15px
  1. Go to "My account" and select item you would like to return. Please note that the item needs to be in their original packaging and condition.
%p.word_style_15px
  2. Print your prepare return shipping label to your original Boutiqueken box or any other cardboard shipping box. Just make sure to cover or remove any old shipping labels, and seal your box completely. 
%p.word_style_15px
  3. Drop box off at any authorized UPS Shipping Center, but please try to avoid UPS Drop Box. 
%p.word_style_15px
  Here you can find the nearest UPS Shipping Center.
%p.word_style_15px
  And that is all!

%br
%h3
  What about shipping fees?

%p.word_style_15px
  Standard shipping (3-5 business days) are FREE, but 1-Business day shipping cost $35 per order, and 2-Business days cost $45 per order.

%br
%h3
  Which items are eligible for expedited shipping?
%p.word_style_15px
  Boutiqueken offers a fascinating selection of clothing, shoes, and accessories for men, women and children, and everything on our site is eligible for expedited shipping.

%br
%h3
  Can I exchange items with Boutiqueken?
%p.word_style_15px
  Oh, yes! Please call us, and after processed your exchange, your replacement item(s) will be ship to you with FREE 1-Business day shipping, and you will have 60 days to return your original item(s) with your FREE label. 
%p.word_style_15px
  Your pleasure is our satisfaction.


