.faq
  %h1
    General FAQ’s

  %p
    %h3 1. Which credit cards do you accept?
    Right now, we accept Visa, MasterCard, Discover and American Express
  %p
    %h3 2. Do you accept Cashier's Checks or Money Orders?
    Unfortunately, we don't accept Cashier's Checks or Money Orders right now. 
  %p
    %h3 3. Is it Boutiqueken safe for my credit card?
    Boutiqueken is safe for you and your credit card. We encourage you to learn more about Safe Shopping Guarantee here. Boutiqueken is protected by SSL encryption technology, and the Safe Shopping Guarantee backs every credit card purchase you made at Boutiqueken. 
  %p
    %h3 4. Is it Boutiqueken safe for my debit card?
    Yes, it is safe. However, please remember that if you chose to pay by debit card the amount of the transaction will be withdrawn once your order is shipped. Until then, the amount of charge will be on "hold" and it would not be available to you.
  %p
    %h3 5. Is there a possibility of back orders?
    Unfortunately no, we do not do back orders.
  %p
    %h3 6. Do you have a catalog?
    Only the virtual one. Our selection is online, so we do not use a physical catalog.
  %p
    %h3 7. Which Internet browser is recommended by Boutiqueken?
    We recommend using Firefox, Safari for Macintosh users and Internet Explorer 8 and above for Windows users, in a wish to view our website correctly.
  %p
    %h3 8. What if the item I need is out of stock in my size?
    Well, that is awkward. We can only recommend that when you see something you like or need, try to place your order really soon because quantities are limited. 
  %p
    %h3 9. Should I sign up for your Daily Deals Email?
    Yes, you should. That way you will immediately know about special promotions, limited-time special offers, coupons and other exciting features. Do not worry, we NEVER rent, sell or share your personal information. Learn more on our privacy policy.
  %p
    %h3 10. What are cookies and do I need to enable them on my browser before shopping?
    A cookie is a small amount of data, but do not worry, cookies are not sharing your personal information- more anonymous unique identifiers instead. If your browser allows, and they mostly do, every website sends its own cookie to it. 
    Each website can access only the cookie they sent to your hard drive, and can't access cookies sent by other websites. 
    So, you need to enable cookies before shopping. For more information, please, feel free to see our privacy policy. 
  %p
    %h3 11. How can I combine multiple orders or add more items to my order once it has been placed?
    Once when the order has been placed we are not able to combine multiple orders or add more items. We only can cancel order(s) before shipping. Please note that if you cancel an order, it may pass 24 hours before you are able to make a new order with the same items. 
  %p
    %h3 12. How to change the shipping address?
    If you have any problems like that, please contact our Customer Loyalty Team immediately. Please note that the some orders are shipped very soon after order placement, so it is not always possible to change the shipping address.
  %p
    %h3 12. Can I contact you for additional assistance?
    Please contact our Customer Loyalty Team- Your pleasure is our satisfaction!
  %p
    %h3 13. The item from my shopping cart is no longer available. Why?
    While you have not completed the checkout process, another customer can buy it. In that case, you will receive a message that the wishing item is no longer available. Just placing an item in your shopping cart does not guarantee your right to purchase that item. 
  %p
    %h3 14. The sale item from yesterday in my shopping cart is no longer on sale today. Why?
    The shopping cart cannot secure sale price. We recommend that when you see something you like, place your orders as soon as possible. If an item stays in the shopping cart after the sale has expired, its price would be changed. 
  %p
    %h3 15. Are you authorized for selling brands from your website?
    Yes, we are! We are authorized online retailer of all brands sold on our website. Even more, we sell only original merchandise. 
  %p
    %h3 16. Do you have factory seconds?
    No, we only sell first-quality. 
  %p
    %h3 17. What is wrong when I get an error message that there has been an authorization failure when placing an order?
    If you get that kind of message, please double check the credit card number and date of expiration. 
    After that, please remember, that this is common when you place several orders on time, and usually you do not do it, or if the card is new. It is important to remember that this error messages tend to come from your bank, you may want to call them.
  %p
    %h3 18. Do you offer coupons?
    Yes, we do. Sign for our Daily Deals Email, follow us on Twitter, friend us on Facebook, and check back regularly for special coupons and promotions.
  %p
    %h3 19. Do you provide international shipping and returns?
    Yes, we do. Our website deals in almost 138 countries worldwide.
  %p
    %h3 20. With which shipping company you cooperate?
    We cooperate with DHL, FedEX, Purolator, etc. However, we are giving our best that your purchase comes to you with fast and reliable shipping method.
