.international-ship
  %h1 International Shipping and returns
  %p
    Boutiqueken knows how valuable is your time. For our international customers, we provide FREE shipping for orders more than $75, and for orders under $75 the fee is $15 per order.
    And all returns are FREE!
    If you are not 100% satisfied with your purchase, for any reason,  just go through our easy online returning process and print free return label! As simple as that!
  %p
    %h4 
      3 steps easily return:
    %p
      1. Go to "My account" and select item you would like to return. Please note that the item needs to be in their original packaging and condition.
      %br
      2. Print your prepare return shipping label to your original Boutiqueken box or any other cardboard shipping box. Just make sure to cover or remove any old shipping labels, and seal your box completely. 
      %br
      3. The courier service that delivered it, will take a package with the shipping label from you.
      And that is all!
  %p
    %h4
      What about shipping fees?
    Standard shipping (3-5 business days)  for orders more than $75 is FREE, and for orders under $75 the fee is $15 per order.

  %p
    %h4
      Which items are eligible for expedited shipping?
    Boutiqueken offers a fascinating selection of clothing, shoes, and accessories for men, women and children, and everything on our site is eligible for expedited shipping.

  %p
    %h4
      Do you charge sales tax on any item?
    No, All the price listed over website included all taxes and duties according to your country.
  %p
    %h4
      Are you authorized to sell the brands you advertise on your site?
    Yes, Boutiqueken.com is an authorized online retailer of all brands sold on our site, and we only sell original merchandise (no knock-offs or fakes here!). For a full list of brands that we carry, please visit our Brands page.
  %p
    %h4
      Do you sell factory seconds?
    Never -- we only buy first-quality. All of our merchandise comes directly to us from the brand manufacturers or one of their authorized dealers. We stand behind all of our merchandise, so please contact us in the event you feel something you received has a manufacturer's defect.
  %p
    %h4
      Do you process exchanges?
    We are unable to offer exchanges at this time, however we do accept returns! We are happy to accept a return within 30 days of the date of purchase.
    Once your return is processed, you will receive a refund for the amount paid for the returned item back to the original method of payment. Any outbound shipping charges paid will not be refunded if the order is returned. All merchandise must be unworn and in the same condition it was received.
  %p
    %h4
      I returned an incorrect or personal item in error. What do I do next?
    We will do our best to locate this item, but is not liable for any item(s) that are returned to us in error, and we cannot guarantee that we will be able to locate the item. We suggest the following: Contact the return carrier and attempt to request a return to sender for the package/item, if at all possible. Also, contact the Boutiqueken.com customer service so we can put an alert on your account.