%h1 Privacy Policy
%p.word_style_15px
  Thank you for visiting our esteemed website Boutiqueken.com, which is operated by NYFashoFin Inc.  We have utmost respect of your privacy and are committed to protect your personal information from any kind of infringement. Please read this Privacy Policy to know more about the steps and care we take to safeguard your privacy.
%p.word_style_15px
  Here, we will explain how we collect your personal information, use it and disclose it (under certain conditions). The steps and measures we have taken to safeguard your personal information and privacy are listed in this privacy policy as well. Also, we will outline your options for the collection, usage and disclosure of your personal information. By visiting Boutiqueken.com directly or through another site, you accept the terms and conditions described in this Policy.
%p.word_style_15px
  This privacy policy applies to Boutiqueken.com. And, does not necessarily hold true for any offline collection of your personal information.  Boutiqueken.com is not responsible for the collection of personal information and its subsequent usage by any web site not operated by NYFashoFin Inc.  that the Site links or links to the Site. 

%h2
  INFORMATION COLLECTION AND USE

%h3
  1. Information Collection.

%p.word_style_15px 
  On Boutiqueken.com, the information is collected in several different ways. We collect your personal information to provide you an efficient, convenient and customized shopping experience. Your personal information might be used to
  %ul.word_style_15px
    %li
      Create and provide content that is most relevant and useful to you.
    %li
      Help you quickly find relevant information, products, and services.
    %li
      Make the Site more convenient and easier to use by eliminating need of entering information more than once.
    %li
      Inform you about new information, products, and services that we offer. 
  
  %h4 
    A. Email addresses

  %p.word_style_15px
    The different segments of the Site allow you to enter your email address for purposes including but not limited to: to allow us to notify you of new brands, new product or/and new deals; to register for a contest or sweepstakes; to sign up for our email newsletters and special offers. As participation in a contest or sweepstakes is completely voluntary, so it is completely your choice to participate and disclose information to us. We use the email address to notify contest and sweepstakes winners and to award prizes. Also, we may post the personal information such as the names and cities of contest and sweepstakes winners.  By entering a contest or sweepstakes, you may be electing to receive our email newsletter and special offers. This will be stated in the official rules of the contest or sweepstakes.
  %h4
    B. Registration and ordering
  %p.word_style_15px
    Before ordering products or using certain sections of Boutiqueken.com, you will have to complete an online registration form. For the registration process, you will be asked to provide to us certain personal information, including but not limited to your name, shipping and billing address(es), phone number, email address, and credit card number. You will have to provide last four (4) digits of your social security number and your birth date for the use of Bill Me Later® payment method. This information is solely used to facilitate the Bill Me Later® transaction and will not be stored in our files or database. Also, we may ask you to state your country of residence and/or your organization’s country of operation, so that we can adhere to applicable laws and regulations. Such type of personal information is used for billing purposes, to fulfill your orders, to communicate with you about your order and the Sites, and for internal marketing purposes. Your personal information may also be used to contact you in case we encounter a problem while processing your order.
  %h4 
    C. Log Files
  %p.word_style_15px
    Similar to most web sites, Boutiqueken.com server automatically recognizes the Internet URL from which you access the Site. Your Internet protocol (“IP”) address, Internet service provider, order verification, internal marketing, date/time stamp for system administration, and system troubleshooting purposes may be stored in log files as well. Also, your IP address may reveal the location of your computer on the Internet.
  %h4
    D. Age
  %p.word_style_15px
    We respect children’s privacy. We never knowingly or intentionally collect personal information from children under age 13. By accessing Boutiqueken.com, you have represented and warranted that you are either 18 years of age or using the Site with the supervision of a parent or guardian. If you are under the age of 13, rely on a parent or guardian to assist you. And, please do not submit any personal information to us.
  %h4
    E. Cookies
  %p.word_style_15px
    Boutiqueken.com employs cookies and web beacons (also known as “action tags” or clear GIF technology) to recognize you and your access privileges, track your Site usage, and assist you in navigation of the Site.
    %ol.word_style_15px{:class=>"order_list_lower_roman"}
      %li
        Cookies are the text files containing small pieces of information saved by your Internet browser on your computer’s hard drive. Most Internet browsers are initially set to accept cookies. You can change your browser settings to refuse cookies from web sites or to remove cookies from your hard drive. But by doing so, you will not be able to access or use certain sections of the Site. The cookies have to be enabled to select products, place them in an online shopping cart, and to purchase those products. This allows us to keep a record of your browsing activity and purchase. As the cookies are not ‘spyware’, hence they cannot and do not steal your confidential information from your hard drive.
      %li
        Web beacons help in delivering cookies and assists us in determining whether a web page on the Site has been viewed and, if so, then how many times. Any electronic image on the Site, such as an ad banner, can work as a web beacon.
      %li
        We may use third-party advertising companies to customize content according to users or to provide ads on our behalf. These companies may use cookies and web beacons to check advertising effectiveness and their working (such as which web pages are visited or what products are purchased and in what amount). The information collected by these third parties via cookies and web beacons is not linked to any personal information collected by us.
      %li
        For example, Facebook via cookies and web beacons collects certain information to know which web pages are visited or what products are purchased. The customer's personal information collected by us is not linked to any information collected by Facebook using cookies and web beacons.

  %h4
    F. Bizrate reviews
  %p.word_style_15px
    Bizrate.com is an independent company that allows shoppers to rate their visiting and shopping experiences at online stores. Post order placement on the Site, you may receive the chance to provide feedback about your overall experience. This is completely optional and whether or not you choose to provide feedback, it will not affect your order or service from us. As the feedback is collected by Bizrate.com, not us, it is subjected to their privacy policy, which can be read at http://shop.bizrate.com/content/privacy.html.
  %h4
    G. Product reviews
  %p.word_style_15px
    If you post a review (which is optional and depends on your choice), you will have to provide your email address and geographic location. Along with your review, your geographic location will be visible to other users as well. However, your email address will be kept private. Any personally identifiable information that you submit as part of the review can be read or used by other visitors to the Site and we are not responsible for it. We believe you are capable of posting a helpful review without disclosing any personal information.
%h3
  2. Information Use and Disclosure.

  %h4
    A. Internal Use
  %p.word_style_15px
    Your personal information is used to process your order and provide you good customer service. The personal information may be internally used to improve the Sites’ content and layout, to increase outreach and for our marketing efforts (including marketing our services and products to you), and to get general marketplace information such as visitors to the Site. We may share your information with affiliates under Zillion Pvt Ltd’s control to promote such use and the other uses described in this Section 2.

  %h4
    B. Communicationword_style_15px

  %p.word_style_15px
    Your personal information will be used for communication with you about Boutiqueken.com, and your order   nd dliveries. On registering with us, you might receive the confirmation email. When it is necessary on  the rare occasions (such as when we must temporarily suspend our service for maintenance), we may send you a service-related announcement. Also, you may submit your email address for purposes such as to register for a contest or sweepstakes; for notification about new brands, new products, and/or offers; or to sign up for email newsletters and special offers. If you submit your email address, we use it to deliver the information to you. You always have option to unsubscribe or opt out of future emails (for more details, see the opt out section, below). You cannot opt out of receiving emails related to your orders because we have to communicate with you about orders that you have placed.
  %h4
    C. External Use
  %p.word_style_15px
    We always want to offer you the great range of products and provide you with excellent service. We do not sell, rent, trade, license or disclose your personal information or financial information to anyone other than affiliates under Zillion Pvt Ltd’s control, except for:
  %ol.word_style_15px{:class=>"order_list_lower_roman"}
    %li 
      Like most catalog and Internet retailers, we sometimes employ other companies to perform specific operations on our behalf. So, when we disclose your personal information to these service providers, our sole aim is to help them to perform their service. For example, for the efficient product delivery, we have to share some information. We partner with third parties (such as the U.S. Postal Service, United Parcel Service, and Federal Express) to deliver products, to ensure delivery, and to obtain feedback, which would assist us in improving quality of our service, and measure and improve the quality of the service of the third party. In the example of delivery agencies, we provide them some personally identifiable information such as your name, shipping address, email, and phone number.
    %li
      Similarly, to assist you in shopping and provide better customer service, we must provide your credit card number to financial-services corporations such as credit-card processors and issuers. To protect your information, we use state-of-the-art data encryption for the submission of your credit card number for authorization. (More on this below in Data Security.)
    %li
      In case you have decided to use the Bill Me Later® payment method, to help you complete your purchase and provide better service to you, we must provide the last four (4) digits of your social security number and your birth date to the financial-services corporations processing your transaction. To protect your information, we use state-of-the-art data encryption for submission of this information for approval and authorization.
    %li
      We will not sell, trade or rent your personal information to other companies as part of our regular course of business. However, acquisition of or merger with another company or be acquired by another company is possible. Or we might dispose of some or all of our assets. If any of the above scenario happens, your personal information may be disclosed to another company. However, even that disclosure will be subject to the Privacy Policy in effect.
    %li
      We may disclose personal and financial information in response to requests from law enforcement officials conducting investigations; a court order; subpoenas; or if we are otherwise obliged by law to disclose such information. Also, we will share personal information where disclosure is needed to protect our legal rights, enforce our Terms of Use or other agreements, or to protect ourselves or others. For example, to mitigate the risk of fraud we may share information. Or if someone uses or attempts to use Boutiqueken.com for fraudulent purposes or illegal reasons.
    %li
      We may share non-personal information (such as the number of visitors to a particular web page, or the cost of an order placed on a certain day) with third parties such as advertising agencies. Such information isn’t directly related to your or any user’s personal information.
    %li
      Also, we may publicly reveal the name, city, and state of the sweepstakes and contest winners.
%h2 
  DATA SECURITY
%p.word_style_15px
  Boutiqueken.com employs physical, administrative and electronic procedures to protect the confidentiality of your personal information, including the usage Secure Sockets Layer (“SSL”) technology for all financial transactions through the Site. The SSL encryption ensures protection of your personal information online. We undertake necessary measures to safeguard your personal information in our facilities as well. Any kind of unauthorized access to your personal information is strictly prohibited. The employees, who have to perform a specific information related job are granted access to your personal information. Finally, we employ third-party service providers for the physical security of some of our computer hardware. All necessary security procedures to ensure safety of our customers’ personal security are undertaken. The servers which contain personal and other sensitive information are kept in a physically secure environment, in a locked cage and behind an electronic firewall.
%p.word_style_15px
  Though, we undertake necessary industry-standard precautions to protect your personal information, we cannot guarantee complete security. Currently, the 100% complete security isn’t possible anywhere either online or offline.
%h2
  OPT OUT/CORRECTIONS
%p.word_style_15px
  On your request, we will (a) correct or change your personal information; (b) remove you from our email and newsletter recipient lists; and/or (c) disable your shopping account and forbid any future purchases using that account. You can place above requests at the customer information section of the Site 
  %link{ :rel => "stylesheet", :href => "/css/master.css"}
    http://www.Boutiqueken.com/customer-service-center
  , or emailing your request to Boutiqueken.com’s Customer Service Team at 
  %link{ :rel => "stylesheet", :href => "/css/master.css"}
    care@ boutiqueken.com
%p.word_style_15px
  And, never email your credit-card number or other sensitive information.
%h2
  OFFLINE COLLECTION, USE & DISCLOSURE OF INFORMATION
%p.word_style_15px
  The majority of personal information that we gather is obtained through the Site. And, this Privacy Policy is applicable only to that online compilation of information. We also may gather information offline, and we try to safeguard the privacy of that personal information as well. The instance of us gathering offline information involves someone phoning us to place an order or to make enquiries. The personal information that is solely needed to place the order or to answer the question will be asked from the caller or our customers telephoning us. The personal information needed in such instances (such as order information), is entered into our secure database through SSL encryption. (Refer to the Data Security section above for more information). Another example of information gathered offline involves faxes. If you fax some information to us, we will use the information in the fax to perform necessary operations and then will either store it in a locked repository or we will shred the fax if there is no need to retain the information. Also, there are other ways through which we could gather your personal information offline (for example, a letter including some return address information), and this Privacy Policy doesn’t discuss or try to predict all of other offline methods to gather personal information and/or the subsequent uses of that information. As we have mentioned earlier, we will try to treat offline collection, uses, and disclosures in consistency with our relevant online information protection practices.
%h2
  UPDATES TO THIS POLICY

%p.word_style_15px
  If we make any change or update to this Privacy Policy, we will inform you via the Site so that you will always remain aware of what information we collect, use and share. We encourage you to read this Privacy Policy from time to time so that you will know if the Privacy Policy has been changed or updated. If you have any questions about the Privacy Policy, please contact us at 
  %link{ :rel => "stylesheet", :href => "/css/master.css"}
    care@boutiqueken.com
  OR
  %link{ :rel => "stylesheet", :href => "/css/master.css" }
    privacy@boutiqueken.com 
