.safe-shopping
  %h1 Safe Shopping Guarantee
  %p
    We take seriously the issue of security of your money and  Elie Doxy provides you safe shopping! So, we provide you The Protection Against Credit Card Fraud! That means that every credit card purchase is covered by our Safe Shopping Guarantee:
    .sp-div-tall 
    According to the Fair Credit Billing Act, your bank will not hold you liable for more than $50.00 of fraudulent charges. If that occurs, Elie Doxy will cover the liability for you- up to the full $50.00!
    .sp-div-tall 
    We will cover it if the liability is the effect of an unauthorized use of your credit card that occurred without your fault and from purchases made on our website while using the secure server. 
    .sp-div-tall 
    In a case of any unauthorized use of your card, you must notify your bank to familiarize yourself with its reporting rules and further procedures.
    .sp-div-tall 
    We are honored by your trust and provide you the highest standards of safe online shopping. We know how important is the protection of your personal information. For us, your security and the security of your private information and credit card data are the imperative. We are using a broad range of both electronic and physical security measures and devices to protect your personal information and credit card data from any unauthorized access.
  %p
    %h3
      Is it safe to use my credit card?
    Yes, shopping at boutiqueken.com is safe. Every credit card purchase on boutiqueken.com is covered by our boutiqueken.com Safe Shopping Guarantee. See Guarantee details below.
  %p
    %h3
      Why are the sites so safe?
    Safe Technology: boutiqueken.com secure socket layer (SSL) software is the industry standard and among the best software available today for secure commerce transactions. It encrypts your credit card number so that it cannot be read as the information travels over the Internet.
  %p
    %h3
      Guarantee Details:
    Under the Fair Credit Billing Act, your bank cannot hold you liable for more than $50.00 of fraudulent charges. If your bank does hold you liable for any of this $50.00, boutiqueken.com will cover the entire liability for you, up to the full $50.00. boutiqueken.com will only cover this liability if the unauthorized use of your credit card resulted through no fault of your own from purchases made at boutiqueken.com while using the secure server.
    .sp-div-tall 
    In the event of unauthorized use of your credit card, you must notify your credit card provider in accordance with its reporting rules and procedures.
  %p
    %h3 Privacy Policy:
    Boutiqueken.com respects your privacy and is committed to protecting it. For more detail, please see our Privacy Policy.
  %p
    %h3
      It doesn't stop there! We're also proud members of:
    .list_images
      =image_tag "static_page/2014_platinum.gif",alt: "Platinum 2014"
      =image_tag "static_page/bizrate_2007.gif",alt: "Biz Rate 2007"
      =image_tag "static_page/bbb.gif",alt: "BBB"
      =image_tag "static_page/nextag.gif",alt: "Nextag"
      =image_tag "static_page/google_trust.jpg",alt: "Google Trusted",class: "logo-trust-google"