.secure-shopping
  %h1 Secure Shopping 
  %p
    Boutiqueken is incredibly honored to provide you the safest, most secure shopping experience ever! 
  %p
    %h3
      Secure Sockets Layer (SSL Technology)
    We are using SSL Technology that enables encryption of sensitive information, like passwords and credit card numbers, during the online transaction.  The all of the forms on our website are secured with SSL technology, which means that your personal information and credit card data are safe from unauthorized access and malicious hands. 
  %p
    %h3
      VeriSign
    More than that, you may see VerySign on our website. VerySign.Inc is a technology company specialized for data encryption and e-commerce, also and one of the most known companies for certifying that a website is secure and encrypted.
    .sp-div-tall 
    Yes, Boutiqueken takes the issues of security of your data seriously. With VerySign, you may feel confident shopping on our site.
  %p
    %h3
      Industry Standard Firewalls
    We are using and Industry Standard Firewalls-  specially designed communication management of computers that keep information secure and inaccessible.
    .sp-div-tall 
    SSL Technology, VerySign, and Industry Standard Firewalls, all together ensuring your privacy and your data security.
    .sp-div-tall 
    You are absolutely safe during shopping on Boutiqueken!
  %p
    %h3
      Privacy Policy
    We don't like if someone gives away our personal information, and we don't do it to you, either. We NEVER rent, sell or share your personal information, and Our Privacy Policy details how are we collecting your personal information and how they may be used. 
  %p
    %h3
      FAQ
    %p
      %h4  
        1. Are you using a secure connection? How to recognize whether it is a safe connection?
      Boutiqueken uses SSL encryption to ensure the communication of all sensitive information passing between a browser and our server and you may see https:// secure-  in the URL. The "https" means that we are using SSL. Even more, as u proof that we are using a secure connection, at the bottom right corner of the browser, you may see a yellow lock. 
    %p
      %h4  
        2. Are you constantly using a secure connection?
      No, we are using "https" only for secure pages, such as pages that transfer confidential information- Login, My Account, Checkout pages. For other pages, we are using "http" since no sensitive information is being passed through them.
    %p
      %h4
        3. How to reset a password? Why do I need to call you to get the password changed?
      It usually takes 2 to 3 minutes to send an email with the new password. 
      .sp-div-tall 
      After that, check your "spam", or if you are using a corporate email address, remember that some company has a centralized spam filter.
      .sp-div-tall  
      In that case, you should contact company's IT department and ask them to release our email. 
    %p
      %h4
        4. Is my payment information safe if I save them?
      Absolutely, YES!
      .sp-div-tall
      We are using SSL technology, all payment information are encrypted, all data are in storage within a network that is firewalled off from the rest of the internet, as well as the rest of the company.  Boutiqueken is incredibly honored to provide you the safest, most secure shopping experience ever! 
    %p
      %h4
        5. Why don't you demand the three digit security code from the credit card?
      Boutiqueken is trying very hard to provide a safe and enjoyable shopping. After all that has been done in terms of security, we believe that is a hassle typing three digit security code again and again. Moreover, we do not need it to complete payment. 
    %p
      %h4
        6. Why I cannot see that is a secure connection when using Internet Explorer browser?
      We are using a secure connection for all Login/Checkout/Account pages travel over SSL, but there is some issue with a specific version of the Internet Explorer, and our team is working towards a solution. The most important think is that all your personal information and credit card data are safe!