.term-of-use
  %h1 Terms of use
  %p
    Welcome to the Boutiqueken.com website (the "Site"). The services provided by NYFashoFin Inc. to you is subject to the notices, terms, and conditions set forth in this agreement (the "Agreement"). Also, when you use any of our services (such as Customer Reviews), you will be subject to the guidelines, rules, policies, terms, and conditions relevant for such service. They are clearly defined and explained in this Agreement for the reference. We reserve the right to change this Site and these terms and conditions at any time. BY VISITING, ACCESSING OR USING THE SITE IN ANY OTHER WAY YOU AGREE TO ALL THE TERMS AND CONDITIONS SPECICFIED IN THIS AGREEMENT. THEREFORE, PLEASE READ THIS AGREEMENT CAREFULLY BEFORE USING OUR SERVICES IN ANY FORM.

  %p
    %h3
      USE OF SITE

    By visiting or proceeding, you warrant and affirm that you at least 18 years old or have the supervision of a parent or guardian while visiting the website.
    .sp-div-tall
    In accordance to the terms and conditions of this Agreement, we hereby grant you a revocable, limited, non-transferable and non-exclusive license to use and access Boutiqueken.com by opening it on your internet browser solely for the purpose of personal shopping for products sold on the Site and not for any commercial use or use on behalf of any third party, except in special cases permitted by us in advance. We reserve right to immediately terminate the license granted in this paragraph without a notice for any breach of this Agreement.
    .sp-div-tall
    You may not display, sell, lease, transmit, reproduce, distribute, translate, modify, disassemble, decompile, derive any works from or exploit Boutiqueken.com or any portion of it in any other way unless we have issued a written permission. Also, any commercial use of any of the information displayed on the Site is strictly prohibited.  Any use of the Site for the benefit of another business unless explicitly permitted by us in advance is prohibited as well. In case, we believe that customer in any way is violating applicable law or is detriment to our interests, we reserve the right to terminate accounts, refuse service, and/or cancel orders at our discretion.
    .sp-div-tall
    Also, you shall not distribute, upload or otherwise publish through this Site any information, content, or other material that (a) is obscene, indecent, pornographic, libelous, threatening, defamatory, or could lead to any civil or criminal liability under U.S. or international law; (b) violates or breaches trademarks, copyrights, patents, trade secrets, service marks, or other proprietary rights of any person or organization; or (c) includes any trap doors, bugs, Trojan horses viruses, worms or other harmful software or properties.
    .sp-div-tall
    The content displayed on the site is solely for informational purposes. The sole responsibility to consult a licensed physician or qualified health care professional for advice, diagnosis, and/or treatment of any health related condition is yours. The opinions expressed in form of customer reviews or in any other way on this Site are that of the individual expressing and voicing their personal opinions and may not reflect our opinions as an organization. Also, the product description and representations published on the Site are that of the vendor and are not made by us.
    .sp-div-tall
    The password and account identification may be assigned to allow you to access and use certain sections of this Site. With use of the password or identification, you will be authorized to access and use the Site in accordance with the terms and conditions of this Agreement. Also, we have no obligation to investigate the authorization or source of any such access or use of the Site. THE SOLELY RESPONSIBILITY OF ACCESS AND USE OF THIS SITE BY ANYONE USING THE PASSWORD AND IDENTIFICATION ASSIGNED TO YOU WHETHER OR NOT SUCH ACCESS OR USE OF THIS SITE IS ACTUALLY AUTHORIZED BY YOU LIES COMPLETELY WITH YOU. THIS INCLUDES WITHOUT LIMITATION, ALL COMMUINICATIONS AND ALL OBLIGATIONS THAT ARE BROUGHT BY SUCH ACCESS OR USE. IT HOLDS TRUE FINANCIAL OBLIGATIONS AS WELL. It is solely your responsibility to safeguard confidentiality of the password and identification assigned to you by us. In case of any unauthorized use of your password or identification and/or any other breach, you shall inform us immediately.

  %p
    %h3
      REVIEWS AND COMMENTS

    Unless stated otherwise anywhere in this Agreement or on the Site, anything that you post, upload to the Site and/or provide us, including and not limited to, ideas, questions, reviews, comments, know-how, techniques, and suggestions (collectively, "Submissions") is and will be treated as nonconfidential and nonproprietary. Also, we shall have the worldwide, irrevocable, royalty-free and transferable right to use, copy, distribute, display, publish, perform, sell, lease, transmit, adapt, use for any derivative works from such Submissions in any form and by any means. We shall have right to translate, modify, disassemble, or decompile such Submissions as well. All Submissions to the Site automatically becomes our sole and exclusive intellectual property with no claim or right for anyone else.
    .sp-div-tall
    Along with the rights applicable to any Submission, by posting comments or reviews to the Site, you lend us the right to use the name that you submit with any review, comment, or other Content for such review, comment, or content. You agree and warrant that you own or have full control of the rights to the reviews, comments and other Content that you publish on this Site and that use of your reviews, comments, or other Content by us and/or by our affiliates will not infringe upon or violate the rights of any third party. Also, you are prohibited to use a false e mail address, pretend to be someone other than yourself or otherwise mislead us or third parties as to the origin of any Submissions or Content. We shall reserve right to remove or edit any Submissions (including comments or reviews) for any reason. Please note, we are not obligated to do so and it solely depends on our indiscretion.
  %p
    %h3
      PRIVACY POLICY
    To understand our practices, please read our Privacy Policy, which defines the actions we undertake to safeguard your personal information. 

  %p
    %h3
      INTELLECTUAL PROPERTY
    The Content which includes text, graphics, images, audio clips, and software among other aspects of webpage belongs exclusively to NYFashoFin Inc., and/or its affiliates. The collection, reuse, and assembly of all Content on this Site (the “Compilation”) belongs exclusively to NYFashoFin Inc. and/or its affiliates.   The software used on this Site (the “Software”) is the property of NYFashoFin Inc., its affiliates or associated Software suppliers. The Content, the Compilation and the Software are all used in accordance with U.S. and international copyright laws. Boutiqueken, Boutiqueken.COM along with design logos, taglines, slogans, trade names or words is a registered trademark, trademarks or service marks of NYFashoFin Inc. its affiliates,  suppliers, or other associated third parties. The reproduction, use or/and distribution of any of the trademarks or service marks without our written permission is strictly prohibited. The use of our trademarks or service marks along with any product or service in any way that is likely to deceive or cause confusion is forbidden as well. Also, you may not use our trademarks or service marks with an aim to disparage or discredit us. Finally, without prior explicit permission you may not include any of our trademarks or service marks in meta tags.
  %p
    %h3
      TERMINATION AND EFFECT OF TERMINATION
    We reserve rights to immediately terminate the Agreement or revoke any or all of your rights granted under this Agreement without any prior notice. In case of such termination, we shall immediately block all access to and use of the Site. Also, along with any other legal or equitable remedies for infringement of this Agreement, we shall immediately revoke all password(s) and account identification issued to you and block your access to and use of the sections or whole Site. Any termination of this Agreement shall not affect the respective rights and obligations (including without limitation, payment obligations) of the parties arising before the date of termination.  
  %p
    %h3
      OTHER TERMS OF SALE

    The title of products or items bought by you pass to you upon our delivery of the items to the shipping carrier in accordance with our standard terms of sale, which you may access here 
    %a{href: "http://www.boutiqueken.com/c/customer-service-center"}
      http://www.Boutiqueken.com/c/customer-service-center 
    (and on the webpages to which that webpage links).
  %p
    %h3
      TYPOGRAPHICAL ERRORS

    We reserve the right to refuse or cancel any orders placed for item listed at the incorrect price or with incorrect and inconsistent information due to a typographical error or error in pricing or product information received from our suppliers. We shall also have the right to cancel or refuse any such orders irrespective of whether or not the order has been confirmed and your credit card charged. In case your credit card has already been charged for the purchase and your order is subsequently canceled, we shall issue a credit to your credit card account of the amount paid for purchase.
  %p
    %h3
      INTERNATIONAL ACCESS
    Boutiqueken.com may be accessed from countries other than the United States. This Site may have items or references to items that are not available outside of the United States. Such references do not mean that the related items will be delivered outside the United States. The sole responsible of complying with your local laws and regulations lies is yours.

  %p
    %h3
      LINKS

    By reading this agreement, you understand and acknowledge that we are not responsible for the working of or content present on any third parties owned and operated sites that you may have visited using links present on this Site. 
  %p
    %h3
      COPYRIGHT COMPLAINTS

    We honor and respect the intellectual property of others. In case, you believe that your work has been copied or used in a way that constitutes copyright infringement, please follow our Notice and Procedure for Making Claims of Copyright Infringement.
  %p
    %h3
      REMEDIES

    You acknowledge and agree that our lawful solution for any actual or threatened breach of this Agreement would be insufficient and that we shall be accredited to specific performance or legal relief, or both, in addition to any damages that we may be legally eligible to recover, along with reasonable expenses due to dispute resolution and settlement, including, but not limited to attorneys' fees.
    .sp-div-tall
    All our legal rights and/or remedies shall be inclusive of each other, whether at law or in equity, including without limitation damages injunctive relief, attorneys' fees and expenses. None of our rights or remedies exist in exclusion of any other.
    .sp-div-tall
    Any instance of waiver by us of our legal rights or remedies in accordance with these terms and conditions shall mean we have any obligation to grant any similar, future or any other type of waiver.
  %p
    %h3
      APPLICABLE LAW

    Boutiqueken.com is developed, maintained and controlled by us in the 108 Madison Ave, New York, NY 10016, USA. Therefore, the laws of the New York City will govern these disclaimers, terms, and conditions, without causing effect to any principles of conflicts of laws.
  %p
    %h3
      DISCLAIMER AND LIMITATION OF LIABILITY

    UNLESS MENTIONED OTHERWISE IN THE STANDARD TERMS OF SALE THAT DICTATE AND OVERSEE THE SALE OF EACH PRODUCT ON THIS SITE, A COPY OF WHICH YOU MAY READ HERE 
    %a{:href =>"http://www.Boutiqueken.com/c/customer-service-center"}
      http://www.Boutiqueken.com/c/customer-service-center 
    (and on the webpages to which that webpage links), THIS SITE, THE ITEMS SOLD ON IT AND THE TRANSACTIONS CONDUCTED USING OR THROUGH IT ARE PROVIDED BY US ON AN "AS IS" BASIS. WE GIVE NO WARRANTIES OR ASSURANCES OF ANY KIND, NEITHER EXPRESS NOR IMPLIED, ABOUT THE OPERATION OR REPRESENTATION OF THE SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS PRESENT ON THIS SITE EXCEPT AS PROVIDED HERE 
    %a{:href =>"http://www.Boutiqueken.com/c/customer-service-center"}
      http://www.Boutiqueken.com/c/customer-service-center 
    (and on the webpages to which that webpage links). IN ACCORDANCE WITH THE APPLICABLE LAW, WE HEREBY DISCLAIM ALL WARRANTIES, BOTH IMPLIED OR EXPRESSES, INCLUDING WITHOUT LIMITATIONS, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, DATA ACCURACY, NONINFRINGEMENT, QUIET ENJOYMENT AND SYSTEM INTEGRATION. WE DO NOT WARRANT THAT THE CONTENT WILL BE UNINTERRUPTED OR ERROR FREE. THE INACCURACIES, MISTAKES OR TYPOGRAPHICAL ERRORS MAY BE PRESENT ON THIS SITE.
    .sp-div-tall
    WE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY TYPE AS A RESULT OF THE USE OF THIS SITE, INCLUDING WITHOUT LIMITATION, TO INDIRECT, INCIDENTAL, UNINTENDED, PUNITIVE, SPECIAL OR CONSEQUENTIAL DAMAGES. AS PERMITTED BY APPLICABLE LAW, OUR TOTAL LIABILITY AND LEGAL RESPONSIBILITY TO YOU FOR ANY DAMAGES SHALL NOT EXCEED IN TOTAL THE AMOUNT OF COST ACTUALLY PAID BY YOU TO US DURING THE MONTH IMMEDIATELY PRECEDING THE ACT THAT LEAD TO OUR LIABILITY.
  %p
    %h3
      DISPUTES

    Any dispute rising or pertaining in any way to your visit to the Site or to the items purchased through the Site shall be submitted to confidential arbitration in New York City except for the case in which you have in any manner infringed or threatened to infringe our intellectual property rights, we may seek injunctive or other appropriate legal relief in any state or federal court in the New York City. You hereby agree to waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in the state and federal courts of New York City. Adjudication under these Terms of Use shall be supervised pursuant to the Commercial Arbitration Rules which are relevant for the American Arbitration Association. The arbitrator's judgment shall be final and binding and may be regarded as a judgment in any court of reliable jurisdiction. Also, no adjudication under this Agreement shall be merged or linked to an judgment involving any other entity subject to this Agreement, whether through class action proceedings or otherwise. You acknowledge and accept that irrespective of any statute or law, any claim or cause of action arising out of, related to or connected with the use of Boutiqueken.com, its services or this Agreement must be filed within one (1) year after such claim or cause of action arose or be forever banned.
  %p
    %h3
      SEVERABILITY
    If any of the above or hence mentioned provisions shall be considered void, invalid, or for any other reason unenforceable, then that particular condition shall be regarded several and shall not affect the enforceability and validity of any remaining provision.
  %p
    %h3
      OUR ADDRESS
    For any enquiries, questions or comments (even if unrelated to copyright infringement) regarding Boutiqueken.com write to:
    .sp-div-tall
    NYFashoFin Inc 108 Madison Ave, New York, NY 10016, USA
    .sp-div-tall
    Note: Please do not send any return to this address. All returns should be requested through your online account within 30 days of the purchase or contacting and informing customer service about the return. For more information, please visit our Returns page.
