- if page.current?
  %a.item.active{ href: url, title: t('views.pagination.page.current') + " #{page}","data-remote": true,method: :get }
    = page
- else
  %a.item{ href: url, title: t('views.pagination.page.goto') + " #{page}","data-remote":true,method: :get }
    = page
