- content_for(:title, 'Internal Server Error')

.error-dialog
  .error-dialog-box
    .dialog-error
      .dialog-text 
        We're sorry, but something went wrong.
      %p If you are the application owner check the logs for more information.

