- content_for(:title, 'Page not found')

.error-dialog
  .error-dialog-box
    .dialog-error
      .dialog-text 
        We're sorry. The page you're looking for cannot be found.
      %p Try one of our popular links (below) or use our search at top to find a designer.
