%section.section-apparal-area.brand-type-page
  .container
    .apparal-body
      %h2.sr-only Main Apparal Area
      .row
        .col-md-2.col-sm-3
          %aside
            %strong=@category.cat_name.upcase
            %ul
              -if @category.parent_id.present?
                -@left_navs = LeftNav.where(:parent_id => @category.parent_id)
              -@left_navs.each_with_index do |i,index|
                -cat = Category.find(i.category_id)
                %li
                  %a{:href => category_path(f_id(cat),:vtype =>"brands")}=i.cat_name
        / .col-md-2 ends
        .col-md-10.col-sm-9
          .letter-order
            %strong=@category.cat_name.upcase

            -available = Brand.where(:category_id => @category.id)
            -if @category.cat_name.upcase == "BRANDS"
              -all_brand_cate = @left_navs.where(:cat_name =>"All Brands").first.category_id
              -available = Brand.where(:category_id => all_brand_cate).order("group_name asc")
            -available_group =  available.order("group_name asc").pluck(:group_name).uniq
            %ul.letter-order-list
              -('A'..'Z').to_a.each do |i|
                %li{class: available_group.include?(i) ? "" : "unavailable"}
                  %a.group-letter{:href => "javascript:;","data-id" =>"letter_#{i}"}=i
              %li
                %a.group-letter{:href => "javascript:;","data-id" =>"letter_#"} #
          / .letter-order ends
          .all-letter-ordered-items
            / SINGLE LETTER ORDER starts
            -available_group.each do |i|
              .single-letter-order-item{:class=>"letter_#{i}"}
                .letter
                  %strong=i
                .letter-list
                  -list = available.where(:group_name =>i)
                  %ul.ul-letter-list
                    -list.each do |links|
                      -search_key = [@category.cat_name.to_s,links.brand_name.to_s].join(" ")
                      %li
                        %a{:href => search_products_path({:search_txt =>search_key})}=links.brand_name
                  
            

