%section.section-category-featured
  .container
    .row
      .col-md-4.col-sm-4
        .category-banner-wrapper
          %img.img-responsive{:alt => "category-banner", :src => "img/banner/banner-6.jpg"}/
      / .col-md-4 ends
      .col-md-8.col-sm-8
        .category-featured
          %h2 FEATURED DESIGNERS:
          %ul.category-featured-inner-list
            %li
              %a{:href => "#"} 3.1 Phillip Lim
            %li
              %a{:href => "#"} Akris/Akris Punto
            %li
              %a{:href => "#"} Alexander McQueen
            %li
              %a{:href => "#"} Alice + Olivia
            %li
              %a{:href => "#"} Balmain
            %li
              %a{:href => "#"} Bottega Veneta
            %li
              %a{:href => "#"} Burberry
            %li
              %a{:href => "#"} Chloe
            %li
              %a{:href => "#"} 3.1 Phillip Lim
            %li
              %a{:href => "#"} Christian Louboutin
            %li
              %a{:href => "#"} Diane von Furstenberg
            %li
              %a{:href => "#"} Dolce &amp; Gabbana
            %li
              %a{:href => "#"} Donna Karan
            %li
              %a{:href => "#"} Fendi
            %li
              %a{:href => "#"} Giorgio Armani
            %li
              %a{:href => "#"} Givenchy
            %li
              %a{:href => "#"} Gucci
            %li
              %a{:href => "#"} Helmut Lang
            %li
              %a{:href => "#"} Jimmy Choo
            %li
              %a{:href => "#"} Jlexander McQueen
            %li
              %a{:href => "#"} Lanvin
            %li
              %a{:href => "#"} Manolo Blahnik
            %li
              %a{:href => "#"} Michael Kors
            %li
              %a{:href => "#"} Miane von Furstenberg
            %li
              %a{:href => "#"} Michael Kors
            %li
              %a{:href => "#"} Moncler
            %li
              %a{:href => "#"} Prada
            %li
              %a{:href => "#"} Rag &amp; Bone
            %li
              %a{:href => "#"} Ralph Lauren
            %li
              %a{:href => "#"} Saint Laurent
            %li
              %a{:href => "#"} Salvatore Ferragamo
            %li
              %a{:href => "#"} Stella McCartney
            %li
              %a{:href => "#"} St. John
            %li
              %a{:href => "#"} Theory
            %li
              %a{:href => "#"} The Row
            %li
              %a{:href => "#"} Tory Burch
            %li
              %a{:href => "#"} Valentino
            %li
              %a{:href => "#"} Theory
            %li
              %a{:href => "#"} Vince
        / .category-featured ends
      / .col-md-8 ends
    / .row ends
  / .container ends
%section.section-apparal-area
  .container
    .apparal-body
      %h2.sr-only Main Apparal Area
      .row
        .col-md-2.col-sm-3
          %aside
            %strong WOMEN’S APPARAL
            %ul
              %li
                %a{:href => "#"} SHOES
              %li
                %a{:href => "#"} HANDBAGS
              %li
                %a{:href => "#"} JEWELRY &amp; ACCESSORIES
              %li
                %a{:href => "#"} MENBEAUTY
              %li
                %a{:href => "#"} MEN
              %li
                %a{:href => "#"} KIDS
              %li
                %a{:href => "#"} HOME
              %li
                %a{:href => "#"} SALE
        / .col-md-2 ends
        .col-md-10.col-sm-9
          .letter-order
            %strong WOMEN’S APPARAL:
            %ul.letter-order-list
              %li
                %a{:href => "#"} A
              %li
                %a{:href => "#"} B
              %li
                %a{:href => "#"} C
              %li
                %a{:href => "#"} D
              %li
                %a{:href => "#"} E
              %li
                %a{:href => "#"} F
              %li
                %a{:href => "#"} G
              %li
                %a{:href => "#"} H
              %li
                %a{:href => "#"} I
              %li
                %a{:href => "#"} J
              %li
                %a{:href => "#"} K
              %li
                %a{:href => "#"} L
              %li
                %a{:href => "#"} M
              %li
                %a{:href => "#"} N
              %li
                %a{:href => "#"} O
              %li
                %a{:href => "#"} P
              %li.unavailable
                %a{:href => "#"} Q
              %li
                %a{:href => "#"} R
              %li
                %a{:href => "#"} S
              %li
                %a{:href => "#"} T
              %li
                %a{:href => "#"} U
              %li
                %a{:href => "#"} V
              %li
                %a{:href => "#"} W
              %li.unavailable
                %a{:href => "#"} X
              %li
                %a{:href => "#"} Y
              %li
                %a{:href => "#"} Z
              %li
                %a{:href => "#"} #
          / .letter-order ends
          .all-letter-ordered-items
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong a
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong b
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong c
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong d
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong e
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong f
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong g
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong h
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong i
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong j
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong k
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong l
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong m
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong n
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong o
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong p
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong r
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong s
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong t
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
                  %li
                    %a{:href => "#"} Alberta Ferretti
                  %li
                    %a{:href => "#"} ALBERTO MAKALI
                  %li
                    %a{:href => "#"} Alexander McQueen
                  %li
                    %a{:href => "#"} Alexander Wang
                  %li
                    %a{:href => "#"} Alexis
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
                  %li
                    %a{:href => "#"} Alice and Olivia
                  %li
                    %a{:href => "#"} Alix
                  %li
                    %a{:href => "#"} Alo Yoga
                  %li
                    %a{:href => "#"} Altuzarra
                  %li
                    %a{:href => "#"} Andrew Marc
                  %li
                    %a{:href => "#"} Ann Demeulemeester
                  %li
                    %a{:href => "#"} Annabelle New York
                  %li
                    %a{:href => "#"} Antonio Berardi
                  %li
                    %a{:href => "#"} Apiece Apart
                  %li
                    %a{:href => "#"} APL
                  %li
                    %a{:href => "#"} Aquilano Rimondi
                  %li
                    %a{:href => "#"} Araks
                  %li
                    %a{:href => "#"} Armani Collezioni
                  %li
                    %a{:href => "#"} Army by Yves Salomon
                  %li
                    %a{:href => "#"} Asceno
                  %li
                    %a{:href => "#"} ATM Anthony Thomas Melillo
                  %li
                    %a{:href => "#"} Aubade
                  %li
                    %a{:href => "#"} Augden
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong u
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong v
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong w
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong y
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
            / SINGLE LETTER ORDER starts
            .single-letter-order-item
              .letter
                %strong z
              .letter-list
                %ul.ul-letter-list
                  %li
                    %a{:href => "#"} A Detacher
                  %li
                    %a{:href => "#"} A.L.C.
                  %li
                    %a{:href => "#"} ABS
                  %li
                    %a{:href => "#"} ABS, Plus Size
                  %li
                    %a{:href => "#"} Acne Studios
                  %li
                    %a{:href => "#"} Adam Lippes
                  %li
                    %a{:href => "#"} Addiction Nouvelle Lingerie
                  %li
                    %a{:href => "#"} adidas by Stella McCartney
                  %li
                    %a{:href => "#"} Adrienne Landau
                  %li
                    %a{:href => "#"} AG
                  %li
                    %a{:href => "#"} Agnona
                  %li
                    %a{:href => "#"} Agua de Coco by liana
                  %li
                    %a{:href => "#"} Thomaz
                  %li
                    %a{:href => "#"} Aidan Mattox
                  %li
                    %a{:href => "#"} Akris
                  %li
                    %a{:href => "#"} Akris Punto
              / .letter-list ends
            / .single-letter-order-item ends
            / SINGLE LETTER ORDER ends
          / .single-letter-order-item ends
        / .all-letter-ordered-items ends
      / .col-md-10 ends
    / .row ends
  / .apparal-body ends
  / </div>
  / .container ends

