//Filter type size
-group_name = ""
#filters
  -@filters.each do |i|
    -puts "==#{i.id}== #{i.group_name}"
    .single-product-cat
      -if group_name != i.group_name
        %strong.trigger
          =i.group_name
          %span
            %i.fa.fa-chevron-down
        -group_name = i.group_name
      -if i.sub_group_name.blank?
        %ul.ul-product-cat
          -filters = JSON.parse(i.filters)
          -filters.each do |i|
            %li{class: determine_type(group_name)}
              -if group_name.downcase == "color"
                %a{href: "#"}
                  %span.item_icon{title: i["name"]}
                  %span.item
                    =i["name"]
              -elsif group_name.downcase == "customer ratings"
                %input{:type=>"checkbox",name: "filter",value: i[:value]}
                %span.item_review{title: i["name"]}
              -else
                %input{:type=>"checkbox",name: "filter",value: i[:value]}
                  =i["name"]

        / %ul.ul-product-cat

        /   -main_subs[key].each do |i|
        /     %li
        /       %a{:href => category_path(i.cat_id)}=i.cat_name