/ PRODUCTS AREA STARTS

.main-product-area
  .sort-by-area
    .sort-left
      %h1.pull-left Shop All
    / .sort-left ends
    .sort-right.hidden-xs
      .single-view-option.items
        %a{:href => "#"}
          %span 23,952
          lteams
      .single-view-option.view-number.hidden-xs
        %a{:href => "#"} View 60
        %a{:href => "#"}
          %span 180
      .single-view-option.view-pagi.hidden-xs
        %span.current 1
        of
        %span.total 400
      .single-view-option.pagi
        %a{:href => "#"}
          %i.fa.fa-chevron-left
        %ul.product-pagination
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li
            %a{:href => "#"} 5
        %a{:href => "#"}
          %i.fa.fa-chevron-right
      / .single-view-option.pagi ends
    / .sort-right ends
  / .sort-by-area ends
  .product-showcase
    .row
      .product-item-div
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li.active{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-4.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li.active{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li.active{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-5.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-1.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li.active{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li.active{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li.active{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li.active{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
        / SINGLE PRODUCT starts
        .col-md-3.col-sm-4
          .single-product
            .product-img-wrapper
              %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => "img/products/ccp-1.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-2", :src => "img/products/ccp-2.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-3", :src => "img/products/ccp-3.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-4", :src => "img/products/ccp-4.jpg"}/
              %img.img-responsive.has-color{:alt => "product", "data-img" => "p-5", :src => "img/products/ccp-5.jpg"}/
            / .product-img-wrapper ends
            .product-details-info
              %ul.coloring-ul
                %li.active{"data-color" => "Black", "data-img" => "p-1"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-2"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
                %li{"data-color" => "Ash", "data-img" => "p-3"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-3.png"}/
                %li{"data-color" => "Black", "data-img" => "p-4"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color.png"}/
                %li{"data-color" => "Gray", "data-img" => "p-5"}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "img/color-2.png"}/
              %strong
                %a{:href => "#"} Calvin Klein Performance Space-Dyed Type
              %span.reg-price
                %strong Reg. $69.00
              %span.sale-price
                %strong Ssle. $44.00
          / .single-product ends
        / .col-md-4 ends
        / SINGLE PRODUCT ends
      .sort-right.sort-right-bottom
        .single-view-option.items
          %a{:href => "#"}
            %span 23,952
            lteams
        .single-view-option.view-number.hidden-xs
          %a{:href => "#"} View 60
          %a{:href => "#"}
            %span 180
        .single-view-option.view-pagi.hidden-xs
          %span.current 1
          of
          %span.total 400
        .single-view-option.pagi
          %a{:href => "#"}
            %i.fa.fa-chevron-left
          %ul.product-pagination
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
          %a{:href => "#"}
            %i.fa.fa-chevron-right
        / .single-view-option.pagi ends
      / .sort-right ends
    / .row ends
  / .product-showcase ends
/ .main-product-area ends
/ .col-md-10 ends
