/ .zoom-wrapper
/   .zoom-left
/     %img#zoom_03{"data-zoom-image" => show_image_url(@product.main_image_url), :src => show_image_url(@product.main_image_url), :style => "border:1px solid #e8e8e6;"}/
/     #gallery_01{:style => "float:left; "}
/       -list_addtion_images = JSON.parse(@product.additional_images);
/       -list_addtion_images.each_with_index do |i,index|
/         %a.elevatezoom-gallery.width-25{"data-image" => i, "data-update" => "", "data-zoom-image" => show_image_url(i), :href => "#", class: index==0 ? "active" : ""}
/           %img{:src => show_image_url(i),width: "100"}/
      
.zoom-wrapper
  .zoom-left
    %img#zoom_03{"data-zoom-image" => show_large_image_url(@product.main_image_url), :src => show_image_in_detail(@product.main_image_url), :style => "border:1px solid #e8e8e6;", :width => "411"}/
    #gallery_01{:style => "width=500px;float:left; "}
      -list_addtion_images = JSON.parse(@product.additional_images);
      -list_addtion_images.each_with_index do |i,index|
        %a.elevatezoom-gallery.width-25{"data-image" => show_image_in_detail(i), "data-update" => "", "data-zoom-image" => show_large_image_url(i), :href => "#", class: index==0 ? "active" : ""}
          %img{:src => show_image_in_detail(i),width: "100"}/
      -@product.product_details.each do |i|
        -if i.product_image.present?
          %a.elevatezoom-gallery.product-thumb-image.width-25.hide{"color-name" =>i.color_name, "data-image" => show_image_in_detail(i.product_image), "data-update" => "", "data-zoom-image" => show_large_image_url(i.product_image), :href => "#"}
            %img{:src => show_image_in_detail(i.product_image),width: "100"}/
        
