/ PRODUCTS AREA STARTS
%section.section-products-details-2-area
  .container
    / PRODUCT DETAILS 2 TOP AREA STARTS
    .product-details-2-top
      / DETAILS 2 LEFT STARTS
      .details-2-left
        .left-content
      / DETAILS 2 LEFT ENDS
      / DETAILS 2 MIDDLE STARTS
      .details-2-middle
        / PRODUCT DETAILS 2 TOP STARTS
        .p-details-2-top
          %h1=@product.brand_name
          %p=@product.short_desc
          %p.details-2-price
            %span.del-price
              %strong Was
              %span
                %del 
                  $
                  =@product.orginal_price
            %span.cur-price
              %strong Now
              %span 
                $
                =@product.sale_price
        / PRODUCT DETAILS 2 TOP ENDS
        / PRODUCT DETAILS 2 MIDDLE STARTS
        .p-details-2-middle
          -if @product.product_details.present?
            %p.coloring
              %strong Color:
              %span
            %ul.coloring-ul
              -@product.product_details.each do |i|
                %li{"data-color" => i.color_name}
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => i.color_image}/
              
          %p.sizing
            %strong Size
            %a.pull-right{:href => "#"} Size Guide
          %ul.sizing-ul
            -@product.list_sizes.each do |size|
              %li
                %a{:href => "#"} size.upcase
            
          %button.a-to-b ADD TO BAG
        / PRODUCT DETAILS 2 MIDDLE ENDS
        / PRODUCT DETAILS 2 LAST STARTS
        .p-details-2-last
          %dl
            %dt
              Details
              %i.fa.fa-plus.pull-right.rote-me{"aria-hidden" => "true"}
            %dd
              =@product.long_desc
            %dt
              Shipping &amp; Returns
              %i.fa.fa-plus.pull-right{"aria-hidden" => "true"}
            %dd
              =@product.shipping_return
        / PRODUCT DETAILS 2 LAST STARTS
      / DETAILS 2 MIDDLE ENDS
      / DETAILS 2 RIGHT STARTS
      .details-2-right
        -if @product_related.present?
          .vertical.hidden-xs.hidden-sm
            %button.next
              %i.fa.fa-angle-up{"aria-hidden" => "true"}
            .carousel
              %ul
                - @product_related.each do |product|
                  %li
                    %a{:href => product_path(product)}
                      .vertical-items
                        %img.img-responsive{:alt => product.short_desc, :src => product.main_image_url}/
                        %p=product.short_desc
              
            %button.prev
              %i.fa.fa-angle-down{"aria-hidden" => "true"}
        / .vertical ends
      / DETAILS 2 RIGHT ENDS
    / PRODUCT DETAILS 2 TOP AREA ENDS
    / RECENT VIEW STARTS
    .customers-recent-view.recent-view
      -if @product_loved.present?
        %h1 Customers Who Viewed This Item Also Viewed
        .recent-view-all-item
          / RECENT VIEW SINGLE ITEM
          -@product_loved.each do |product|
            %a{:href => product_path(product)}
              .recent-view-single-item
                %img.img-responsive{:alt => product.short_desc, :src => product.main_image_url}/
                %p=product.short_desc
                %span.reg-price
                  %strong
                    Reg. $
                    =product.orginal_price
                %span.sale-price
                  %strong Reg. $
                  =product.sale_price
        
    / RECENT VIEW STARTS
    / RECENT VIEW STARTS
    .recent-view
      %h1 Recently Viewed
      .recent-view-all-item
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
      / .recent-view-all-item ends
    / RECENT VIEW STARTS
  / .container ends
/ PRODUCTS AREA ENDS
