/ PRODUCTS AREA STARTS
%section.section-products-details-2-area
  .container
    / PRODUCT DETAILS 2 TOP AREA STARTS
    .product-details-2-top
      / DETAILS 2 LEFT STARTS
      .details-2-left
        .left-content.image-product-detail
          =render "image_gallery"
      / DETAILS 2 LEFT ENDS
      / DETAILS 2 MIDDLE STARTS
      .details-2-middle
        / PRODUCT DETAILS 2 TOP STARTS
        .p-details-2-top
          %h1=@product.brand_name
          %p=@product.short_desc
          %p.details-2-price
            -if @product.regular_price.present?
              %span.del-price
                %strong Was
                %span
                  %del 
                    $
                    =show_price_digit(@product.regular_price)

            -if @product.sale_price.present?
              %span.cur-price
                %strong Now
                %span 
                  $
                  =show_price_digit(@product.sale_price)
            -elsif @product.list_price_range.present?
              %span.cur-price
                %strong Now
                %span 
                  $
                  =@product.list_price_range.join(" - ")
        / PRODUCT DETAILS 2 TOP ENDS
        / PRODUCT DETAILS 2 MIDDLE STARTS
        .p-details-2-middle
          -if @product.product_details.present?
            %p.coloring
              %strong Color:
              %span.width-150
                =@product.product_details.first.color_name
            -if @product.is_price_color == false
              %ul.coloring-ul
                -@product.product_details.each_with_index do |i,index|
                  %li{"data-color" => i.color_name}
                    %a.color-picking.tt{:href => "javascript:;","product-image" =>show_image_url(i.product_image),"product-large-image" =>show_large_image_url(i.product_image),"color-name" => i.color_name,class: index==0 ? 'active' : ''}
                      %img.img-responsive{:alt => "", :src => show_image_url(i.color_image)}/
            -else
              %ul.coloring-ul
                -group_price = 0
                -@product.product_details.each do |i|
                  -if group_price != i.price
                    
                    .seper-small
                    %div
                      %strong
                        $
                        = show_price_digit(i.price)
                    .seper-small
                  %li{"data-color" => i.color_name}
                    %a.color-picking{:href => "javascript:;","product-image" =>show_image_url(i.product_image),"product-large-image" =>show_large_image_url(i.product_image),"color-name" => i.color_name}
                      %img.img-responsive{:alt => "", :src => show_image_url(i.color_image)}/
              .seper-small
              
          -if @product.list_sizes.present?
            %p.sizing
              %strong Size
              -if @product.size_chart_id.present? || @product.size_chart_table.present?

                %a.pull-right.btn-show-sizechart{:href => "javascript:;","size_id" =>size_chart_id_url(@product.size_chart_id),"size_table" =>@product.size_chart_table} Size Guide
            %ul.sizing-ul
              -@product.list_sizes.each do |size|
                %li
                  %a{:href => "javascript:;"}=size.upcase
          
          -if @product.is_collection
            %button.a-to-b.btn-chose-item CHOSE YOUR ITEMS
          -else  
            %button.a-to-b ADD TO BAG
        / PRODUCT DETAILS 2 MIDDLE ENDS
        / PRODUCT DETAILS 2 LAST STARTS
        .p-details-2-last
          %dl
            %dt
              Details
              %i.fa.fa-plus.pull-right.rote-me{"aria-hidden" => "true"}
            %dd
              =@product.long_desc
              -if @product.list_bullets.length >0
                %ul.bullet-text
                  -@product.list_bullets.each do |i|
                    %li
                      =i
            %dt
              Shipping &amp; Returns
              %i.fa.fa-plus.pull-right{"aria-hidden" => "true"}
            %dd
              =@product.shipping_return
        / PRODUCT DETAILS 2 LAST STARTS
      / DETAILS 2 MIDDLE ENDS
      / DETAILS 2 RIGHT STARTS
      .details-2-right
        -if @product_related.present? && @product_related.count > 0
          .vertical.hidden-xs.hidden-sm
            %button.next
              %i.fa.fa-angle-up{"aria-hidden" => "true"}
            .carousel
              %ul
                - @product_related.each do |product|
                  %li
                    %a{:href => product_path(product)}
                      .vertical-items
                        %img.img-responsive{:alt => product.short_desc, :src => show_image_small_slider(product.main_image_url)}/
                        %p=product.short_desc
                        -if product.regular_price.present?
                          %span.reg-price
                            %strong
                              Reg. $
                              =show_price_digit(product.regular_price)
                        -if product.sale_price.present?
                          %span.sale-price
                            %strong
                              Ssle. $
                              =show_price_digit(product.sale_price)
                        -if product.list_price_range.present?
                          %span.sale-price
                            %strong
                              Ssle. $
                              =product.list_price_range.join(" - ")
                        %br
              
            %button.prev
              %i.fa.fa-angle-down{"aria-hidden" => "true"}
        / .vertical ends
      / DETAILS 2 RIGHT ENDS
    / PRODUCT DETAILS 2 TOP AREA ENDS
    / RECENT VIEW STARTS

    -if @product.is_collection
      .collection-list
        %h1
          Choose your item
        -@product_childrens.each_with_index do|child,child_index|
          .single-product
            .product-img-wrapper.left-content-side
              -if child.product_details.present?
                -is_need_main = true
                -child.product_details.each_with_index do |detail,index|
                  - if detail.product_image.present?

                    %img.img-responsive.has-color{:alt => "product", "data-img" => "p-#{index}",:class=> index==0 ? "active" : "", :src => show_image_url(detail.product_image)}/
                    -is_need_main = false
                -if is_need_main == true
                  %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => show_image_url(child.main_image_url)}/
              -else
                %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => show_image_url(child.main_image_url)}/
            .product-details-info.right-content-side
              .row
                .col-md-12.col-sm-12.col-xs-12
                  %strong
                    %a{:href=>product_path(child)}
                      =child.short_desc
                  .seper-small
                  %strong Color:
                  %span
                  .seper-small
                  -if child.product_details.present?
                    %ul.coloring-ul
                      -child.product_details.each_with_index do |detail,index|
                        %li.color-picking{"data-color" => "Black", "data-img" => "p-#{index}" ,class: index==0 ? 'active' : ''}
                          %a{:href => "javascript:;"}
                            %img.img-responsive{:alt => "", :src => show_image_url(detail.color_image)}/
                .col-md-12.col-sm-12.col-xs-12
                  -if child.regular_price.present? && child.regular_price > 0
                    %span.del-price
                      %span
                        %del.price-txt 
                          $
                          =show_price_digit(child.regular_price)
                  -if child.sale_price.present? && child.sale_price > 0
                    %span.price-txt 
                      $
                      =show_price_digit(child.sale_price)
                .col-md-12.col-sm-12.col-xs-12
                  %p.sizing
                    %strong Size
                  %ul.sizing-ul
                    -child.list_sizes.each do |size|
                      %li
                        %a{:href => "javascript:;"}=size.upcase
                .col-md-12.col-sm-12.col-xs-12
                  %button.a-to-b.btn-medium ADD TO BAG
          .clear-fix
          -if @product_childrens.count >1
            .dot-sperate
            .clear-fix

    .customers-recent-view.recent-view
      -if @product_loved.present?
        %h1 Customers Who Viewed This Item Also Viewed
        .recent-view-all-item
          / RECENT VIEW SINGLE ITEM
          -@product_loved.each do |product|
            %a{:href => product_path(product)}
              .recent-view-single-item
                %img.img-responsive{:alt => product.short_desc, :src => show_image_cus_love(product.main_image_url)}/
                %p=product.short_desc
                %span.reg-price
                  %strong
                    Reg. $
                    =show_price_digit(product.regular_price)
                %span.sale-price
                  %strong 
                    Ssle. $
                    =show_price_digit(product.sale_price)
        
    / RECENT VIEW STARTS
    / RECENT VIEW STARTS
    .recent-view.custom-recent-view.hide
      %h1
        Recent Views
      .recent-view-all-item
        .item
          %ul#content-slider.content-slider
            
    .clear-fix
=render "modal_size_chart"
:javascript
  var product_info = #{@product.to_json};
  $(document).ready(function(){
    ViewProduct.setview(product_info);
  });