/ PRODUCTS AREA STARTS
%section.section-products-details-2-area
  .container
    / PRODUCT DETAILS 2 TOP AREA STARTS
    .product-details-2-top
      / DETAILS 2 LEFT STARTS
      .details-2-left
        .left-content a
      / DETAILS 2 LEFT ENDS
      / DETAILS 2 MIDDLE STARTS
      .details-2-middle
        / PRODUCT DETAILS 2 TOP STARTS
        .p-details-2-top
          %h1 Alexander McQueen
          %p Silk Blend Criss Cross Degrade Stich Peplum Top
          %p.details-2-price
            %span.del-price
              %strong Was
              %span
                %del $198.00
            %span.cur-price
              %strong Now
              %span $148.00
        / PRODUCT DETAILS 2 TOP ENDS
        / PRODUCT DETAILS 2 MIDDLE STARTS
        .p-details-2-middle
          %p.coloring
            %strong Color:
            %span
          %ul.coloring-ul
            %li{"data-color" => "Black"}
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => asset_path("img/color.png")}/
            %li{"data-color" => "Gray"}
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => asset_path("img/color-2.png")}/
            %li{"data-color" => "Ash"}
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => asset_path("img/color-3.png")}/
          %p.sizing
            %strong Size
            %a.pull-right{:href => "#"} Size Guide
          %ul.sizing-ul
            %li
              %a{:href => "#"} X-SMALL
            %li
              %a{:href => "#"} SMALL
            %li
              %a{:href => "#"} MEDIUM
            %li
              %a{:href => "#"} LARGE
          %button.a-to-b ADD TO BAG
        / PRODUCT DETAILS 2 MIDDLE ENDS
        / PRODUCT DETAILS 2 LAST STARTS
        .p-details-2-last
          %dl
            %dt
              Details
              %i.fa.fa-plus.pull-right.rote-me{"aria-hidden" => "true"}
            %dd
              %ul.ul-single-product-feat
                %li Floral-print dress with flouncy dropped waist
                %li Roundneck
                %li Sleeveless
                %li Piped detail
                %li Dropped waist
                %li Ruffled skirt
                %li Concealed back zip
                %li Silk lining
                %li About 35" from shoulder to hem
                %li Acrylic/polyamide
                %li Dry clean
                %li Made in Italy of imported fabric
                %li Model shown is 5'10" (177cm) wearing US size 4
            %dt
              Shipping &amp; Returns
              %i.fa.fa-plus.pull-right{"aria-hidden" => "true"}
            %dd
              %ul.ul-single-product-feat
                %li Floral-print dress with flouncy dropped waist
                %li Roundneck
                %li Sleeveless
                %li Piped detail
                %li Dropped waist
                %li Ruffled skirt
                %li Concealed back zip
                %li Silk lining
                %li About 35" from shoulder to hem
                %li Acrylic/polyamide
                %li Dry clean
                %li Made in Italy of imported fabric
                %li Model shown is 5'10" (177cm) wearing US size 4
        / PRODUCT DETAILS 2 LAST STARTS
      / DETAILS 2 MIDDLE ENDS
      / DETAILS 2 RIGHT STARTS
      .details-2-right
        .vertical.hidden-xs.hidden-sm
          %button.next
            %i.fa.fa-angle-up{"aria-hidden" => "true"}
          .carousel
            %ul
              / vertical-items starts
              %li
                %a{:href => "#"}
                  .vertical-items
                    %img.img-responsive{:alt => "", :src => "img/products/pd-3.jpg"}/
                    %p Slik Blend Criss Cross Degrade Stich Knit Skirt
              / vertical-items ends
              / vertical-items starts
              %li
                %a{:href => "#"}
                  .vertical-items
                    %img.img-responsive{:alt => "", :src => "img/products/pd-2.jpg"}/
                    %p Slik Blend Criss Cross Degrade Stich Knit Skirt
              / vertical-items ends
              / vertical-items starts
              %li
                %a{:href => "#"}
                  .vertical-items
                    %img.img-responsive{:alt => "", :src => "img/products/pd-4.jpg"}/
                    %p Slik Blend Criss Cross Degrade Stich Knit Skirt
              / vertical-items ends
              / vertical-items starts
              %li
                %a{:href => "#"}
                  .vertical-items
                    %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
                    %p Slik Blend Criss Cross Degrade Stich Knit Skirt
              / vertical-items ends
              / vertical-items starts
              %li
                %a{:href => "#"}
                  .vertical-items
                    %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
                    %p Slik Blend Criss Cross Degrade Stich Knit Skirt
              / vertical-items ends
          / .carousel ends
          %button.prev
            %i.fa.fa-angle-down{"aria-hidden" => "true"}
        / .vertical ends
      / DETAILS 2 RIGHT ENDS
    / PRODUCT DETAILS 2 TOP AREA ENDS
    / RECENT VIEW STARTS
    .customers-recent-view.recent-view
      %h1 Customers Who Viewed This Item Also Viewed
      .recent-view-all-item
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
      / .recent-view-all-item ends
    / RECENT VIEW STARTS
    / RECENT VIEW STARTS
    .recent-view
      %h1 Recently Viewed
      .recent-view-all-item
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
        / RECENT VIEW SINGLE ITEM
        %a{:href => "#"}
          .recent-view-single-item
            %img.img-responsive{:alt => "", :src => "img/products/pd-1.jpg"}/
            %p Slik Blend Criss Cross Degrade Stich Knit Skirt
            %span.reg-price
              %strong Reg. $69.00
            %span.sale-price
              %strong Reg. $44.00
        / RECENT VIEW SINGLE ITEM ENDS
      / .recent-view-all-item ends
    / RECENT VIEW STARTS
  / .container ends
/ PRODUCTS AREA ENDS
