/ PRODUCTS AREA STARTS
%section.section-products-details-2-area
  .container
    / PRODUCT DETAILS 2 TOP AREA STARTS
    .product-details-2-top
      / DETAILS 2 LEFT STARTS
      .details-2-left
        .left-content.image-product-detail
          =render "image_gallery"
      / DETAILS 2 LEFT ENDS
      / DETAILS 2 MIDDLE STARTS
      .details-2-middle
        / PRODUCT DETAILS 2 TOP STARTS
        .p-details-2-top
          %h1=@product.brand_name
          %p=@product.short_desc
          %p.details-2-price
            %span.del-price
              %strong Was
              %span
                %del 
                  $
                  =@product.regular_price
            %span.cur-price
              %strong Now
              %span 
                $
                =@product.sale_price
        / PRODUCT DETAILS 2 TOP ENDS
        / PRODUCT DETAILS 2 MIDDLE STARTS
        .p-details-2-middle
          -if @product.product_details.present?
            %p.coloring
              %strong Color:
              %span
            -if @product.is_price_color == false
              %ul.coloring-ul
                -@product.product_details.each do |i|
                  %li{"data-color" => i.color_name}
                    %a.color-picking{:href => "javascript:;","product-image" =>show_image_url(i.product_image),"product-large-image" =>show_large_image_url(i.product_image),"color-name" => i.color_name}
                      %img.img-responsive{:alt => "", :src => show_image_url(i.color_image)}/
            -else
              %ul
              -group_price = 0
              -@product.product_details.each do |i|
                -if group_price != i.price
                  %div{}
                    %strong= i.price
                %li{"data-color" => i.color_name}
                  %a{:href => "#","product-image" =>show_image_url(i.product_image),"product-large-image" =>show_large_image_url(i.product_image),"color-name" => i.color_name}
                    %img.img-responsive{:alt => "", :src => show_image_url(i.color_image)}/

              
          %p.sizing
            %strong Size
            %a.pull-right{:href => "#"} Size Guide
          %ul.sizing-ul
            -@product.list_sizes.each do |size|
              %li
                %a{:href => "#"}=size.upcase
            
          %button.a-to-b ADD TO BAG
        / PRODUCT DETAILS 2 MIDDLE ENDS
        / PRODUCT DETAILS 2 LAST STARTS
        .p-details-2-last
          %dl
            %dt
              Details
              %i.fa.fa-plus.pull-right.rote-me{"aria-hidden" => "true"}
            %dd
              =@product.long_desc
            %dt
              Shipping &amp; Returns
              %i.fa.fa-plus.pull-right{"aria-hidden" => "true"}
            %dd
              =@product.shipping_return
        / PRODUCT DETAILS 2 LAST STARTS
      / DETAILS 2 MIDDLE ENDS
      / DETAILS 2 RIGHT STARTS
      .details-2-right
        -if @product_related.present?
          .vertical.hidden-xs.hidden-sm
            %button.next
              %i.fa.fa-angle-up{"aria-hidden" => "true"}
            .carousel
              %ul
                - @product_related.each do |product|
                  %li
                    %a{:href => product_path(product)}
                      .vertical-items
                        %img.img-responsive{:alt => product.short_desc, :src => show_image_url(product.main_image_url)}/
                        %p=product.short_desc
              
            %button.prev
              %i.fa.fa-angle-down{"aria-hidden" => "true"}
        / .vertical ends
      / DETAILS 2 RIGHT ENDS
    / PRODUCT DETAILS 2 TOP AREA ENDS
    / RECENT VIEW STARTS

    -if @product.is_collection
      .collection-list
        %h1
          Choose your item
        -@product_childrens.each do|child|
          .single-product
            .product-img-wrapper
              -if child.product_details.present?
                -is_need_main = true
                -child.product_details.each_with_index do |detail,index|
                  - if detail.product_image.present?

                    %img.img-responsive.has-color{:alt => "product", "data-img" => "p-#{index}",:class=> index==0 ? "active" : "", :src => show_image_url(detail.product_image)}/
                    -is_need_main = false
                -if is_need_main == true
                  %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => show_image_url(child.main_image_url)}/
              -else
                %img.img-responsive.has-color.active{:alt => "product", "data-img" => "p-1", :src => show_image_url(child.main_image_url)}/
            .product-details-info
              -if child.product_details.present?
                %ul.coloring-ul
                  -child.product_details.each_with_index do |detail,index|
                    %li{"data-color" => "Black", "data-img" => "p-#{index}"}
                      %a{:href => "#"}
                        %img.img-responsive{:alt => "", :src => show_image_url(detail.color_image)}/
    .customers-recent-view.recent-view
      -if @product_loved.present?
        %h1 Customers Who Viewed This Item Also Viewed
        .recent-view-all-item
          / RECENT VIEW SINGLE ITEM
          -@product_loved.each do |product|
            %a{:href => product_path(product)}
              .recent-view-single-item
                %img.img-responsive{:alt => product.short_desc, :src => show_image_url(product.main_image_url)}/
                %p=product.short_desc
                %span.reg-price
                  %strong
                    Reg. $
                    =product.regular_price
                %span.sale-price
                  %strong Reg. $
                  =product.sale_price
        
    / RECENT VIEW STARTS
    / RECENT VIEW STARTS
    .recent-view.custom-recent-view.demo
      %h1
        Recent Views
      .recent-view-all-item
        .item
          %ul#content-slider.content-slider
            %li
              %a{:href => "#"}
                .recent-view-single-item
                  %img.img-responsive{:alt => "", :src => "/assets/img/products/pd-1.jpg"}/
                  %p Slik Blend Criss Cross Degrade Stich Knit Skirt
                  %span.reg-price
                    %strong Reg. $69.00
                  %span.sale-price
                    %strong Reg. $44.00
            %li
              %a{:href => "#"}
                .recent-view-single-item
                  %img.img-responsive{:alt => "", :src => "/assets/img/products/pd-1.jpg"}/
                  %p Slik Blend Criss Cross Degrade Stich Knit Skirt
                  %span.reg-price
                    %strong Reg. $69.00
                  %span.sale-price
                    %strong Reg. $44.00
            %li
              %a{:href => "#"}
                .recent-view-single-item
                  %img.img-responsive{:alt => "", :src => "/assets/img/products/pd-1.jpg"}/
                  %p Slik Blend Criss Cross Degrade Stich Knit Skirt
                  %span.reg-price
                    %strong Reg. $69.00
                  %span.sale-price
                    %strong Reg. $44.00
            %li
              %a{:href => "#"}
                .recent-view-single-item
                  %img.img-responsive{:alt => "", :src => "/assets/img/products/pd-1.jpg"}/
                  %p Slik Blend Criss Cross Degrade Stich Knit Skirt
                  %span.reg-price
                    %strong Reg. $69.00
                  %span.sale-price
                    %strong Reg. $44.00
    .clear-fix

      / .recent-view-all-item ends
    / RECENT VIEW STARTS
  / .container ends
/ PRODUCTS AREA ENDS
:javascript
  //var product_info = #{@product.to_json};
  $(document).ready(function(){
    //ViewProduct.setview(product_info);
  });