!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    -if @category.present?
      %title=@category.seo_title
      %meta{:content => @category.seo_desc, :name => "description"}/
      %meta{:content => @category.seo_keywords, :name => "keywords"}/
    -elsif @product.present?
      %title=@product.seo_title
      %meta{:content => @product.seo_desc, :name => "description"}/
      %meta{:content => @product.seo_keywords, :name => "keywords"}/
    -else
      %title Free SHIPPING, FREE RETURNS & FREE 3-DAY SHIPPING WORLDWIDE latest latest Designer Women's Apparel, Men's Apparel, Shoes, Handbags, Beauty and More. Boutiqueken.com

      %meta{:content => "Free shipping. Free returns. All the time. Shop online for shoes, clothing, jewelry, dresses, makeup and more from top brands. Make returns in store or by mail.", :name => "description"}/
      %meta{:content => "women&#039;s fashion, women&#039;s clothing, designer fashion, boutiqueken, boutiqueken.com", :name => "keywords"}/
      
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    / For third-generation iPad with high-resolution Retina display:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    / For iPhone with high-resolution Retina display:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / For first- and second-generation iPad:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => asset_path("favicon.jpg"), :rel => "icon"}/

    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags 
    /[if IE] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / HEADER STARTS
    =render "shared/header"
    %section.section-home-2
      .container
        =render "shared/left_bar"
        / HOME RIGHT CONTENT MARKUP
        .home-right-content
          / TOP SLIDER AREA STARTS
          .section-slider-area.no-mar-top
            %h2.sr-only Main Slider Area
            #slider-1.carousel.slide.fix-slider{"data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "1", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "2", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "3", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "4", "data-target" => "#slider-1"}
              / Wrapper for slides
              .carousel-inner{:role => "listbox"}
                .item.active
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => asset_path("img/slider/slide0.jpg")}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => asset_path("img/slider/slide1.jpg")}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => asset_path("img/slider/slide2.png")}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => asset_path("img/slider/slide3.jpg")}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => asset_path("img/slider/slide4.jpg")}/
              / .carousel-inner ends
              / Controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#slider-1", :role => "button"}
                %i.fa.fa-angle-left{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.right.carousel-control{"data-slide" => "next", :href => "#slider-1", :role => "button"}
                %i.fa.fa-angle-right{"aria-hidden" => "true"}
                %span.sr-only Next
            / #slider-1 ends
          / TOP SLIDER AREA ENDS
          / SLIDER BOTTOM MENU MARKUP
          =render "shared/home_content"
          = yield
          / .slider-bottom-menu
          /   %a{:href => "#"}
          /     %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_._V279116091_.jpg"}/
          /   %a{:href => "#"}
          /     %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_2._V279116091_.jpg"}/
          /   %a{:href => "#"}
          /     %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_3._V279116091_.jpg"}/
          /   %a{:href => "#"}
          /     %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_4._V279116091_.jpg"}/
          /   %a{:href => "#"}
          /     %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_5._V279116091_.jpg"}/
          / SLIDER BOTTOM MENU MARKUP ENDS
          
        / HOME RIGHT SIDE CONTENT MARKUP ENDS
      / .container ends
    / SECTION HOME CONTENT Starts
    / FOOTER AREA STARTS
    =render "shared/footer"
:javascript
  $(document).ready(function(){
    setTimeout(function(){
    $('.grid').masonry();
    },200);
  });
  
