!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Product Details
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    / For third-generation iPad with high-resolution Retina display:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    / For iPhone with high-resolution Retina display:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / For first- and second-generation iPad:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags 
    /[if IE] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / HEADER STARTS
    %header.header-area
      .header-top
        .container
          / DESKTOP TOP LINKS STARTS
          %ul.ul-top-navigation.ul-top-navigation-desktop.hidden-xs.pull-right
            %li
              %a{:href => "#"} Order Tracking
            %li.star-icon
              %a{:href => "#"}
                Ship To:
                %img{:alt => "star-icon", :src => "/assets/img/icons/star-icon.png"}/
            %li
              %a{:href => "#"} Chat
            %li
              %a{:href => "#"} 1.877.551.7257
            %li
              %a{:href => "#"}
                Saks Bag(
                %span.bag-count> 0
                )
          / DESKTOP TOP LINKS ENDS
          / MOBILE TOP LINKS STARTS
          %ul.ul-top-navigation.ul-top-navigation-mobile.hidden-lg.hidden-md.hidden-sm.pull-right
            %li
              %a{:href => "#"}
                %i.fa.fa-comment{"aria-hidden" => "true"}
            %li
              %a{:href => "#"}
                %i.fa.fa-phone-square{"aria-hidden" => "true"}
            %li
              %a{:href => "#"}
                %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
            %li.m-trigger
              %a{:href => "#"}
                %i.fa.fa-bars{"aria-hidden" => "true"}
          / MOBILE TOP LINKS ENDS
        / .container ends
      / .header-top ends
      .container
        %a.logo-wrapper.pull-left{:href => "#"}
          %img.img-responsive{:alt => "saks-logo", :src => "/assets/img/logo.png"}/
        / MOBILE OFFER TOP TEXT STARTS
        %p.pull-right.free-offer.free-offer-mobile.hidden-lg.hidden-md.hidden-sm
          Enjoy Free Express Shipping on orders $100+
          %a{:href => "#"} Details
        / MOBILE OFFER TOP TEXT ENDS
        / MEDIUM SCREEN SEARCH BOX AREA STARTS
        .search-wrapper.search-wrapper-medium-screen
          %p.pull-left.free-offer.free-offer-desktop.hidden-xs
            Enjoy Free Express Shipping on orders $100+
            %a{:href => "#"} Details
          %form.pull-right.search-box{:action => "#"}
            %input{:type => "text"}/
            %button{:type => "submit"}
              %i.fa.fa-search
        / MEDIUM SCREEN SEARCH BOX AREA ENDS
        / DESKTOP NAVIGATION STARTS
        %nav.main-navigation.hidden-xs
          %ul
            %li#ShopByDesignerNavMenu.menu-item.span-3.first-child
              %a{:href => "#"} DESIGNERS
              %ul.sub-menu.designers-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b DESIGNERS BY CATEGORY
                  %ul
                    %li
                      %a{:href => "#"} Women's Apparel
                    %li
                      %a{:href => "#"} Shoes
                    %li
                      %a{:href => "#"} Handbags
                    %li
                      %a{:href => "#"} Jewelry &amp; Accessories
                    %li
                      %a{:href => "#"} Beauty
                    %li
                      %a{:href => "#"} Men
                    %li
                      %a{:href => "#"} Kids
                    %li
                      %a{:href => "#"} Home
                    %li
                      %a{:href => "#"} Sale
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column.last-child
                  %b FEATURED DESIGNERS
                  %ul
                    %li
                      %a{:href => "#"} 3.1 Phillip Lim
                    %li
                      %a{:href => "#"} Akris/Akris punto
                    %li
                      %a{:href => "#"} Alexander McQueen
                    %li
                      %a{:href => "#"} Alice + Olivia
                    %li
                      %a{:href => "#"} Balmain
                    %li
                      %a{:href => "#"} Bottega Veneta
                    %li
                      %a{:href => "#"} Brunello Cucinelli
                    %li
                      %a{:href => "#"} Burberry
                    %li
                      %a{:href => "#"} Chloe
                    %li
                      %a{:href => "#"} Christian Louboutin
                    %li
                      %a{:href => "#"} Diane von Furstenberg
                    %li
                      %a{:href => "#"} Dolce &amp; Gabbana
                    %li
                      %a{:href => "#"} Eileen Fisher
                    %li
                      %a{:href => "#"} Fendi
                    %li
                      %a{:href => "#"} Gianvito Rossi
                    %li
                      %a{:href => "#"} Giorgio Armani
                    %li
                      %a{:href => "#"} Givenchy
                    %li
                      %a{:href => "#"} Gucci
                  %ul
                    %li
                      %a{:href => "#"} Jimmy Choo
                    %li
                      %a{:href => "#"} Joie
                    %li
                      %a{:href => "#"} Lanvin
                    %li
                      %a{:href => "#"} Manolo Blahnik
                    %li
                      %a{:href => "#"} Moncler
                    %li
                      %a{:href => "#"} Prada
                    %li
                      %a{:href => "#"} Proenza Schouler
                    %li
                      %a{:href => "#"} Rag &amp; Bone
                    %li
                      %a{:href => "#"} Ralph Lauren
                    %li
                      %a{:href => "#"} Saint Laurent
                    %li
                      %a{:href => "#"} Salvatore Ferragamo
                    %li
                      %a{:href => "#"} Stella McCartney
                    %li
                      %a{:href => "#"} St. John
                    %li
                      %a{:href => "#"} Theory
                    %li
                      %a{:href => "#"} The Row
                    %li
                      %a{:href => "#"} Tory Burch
                    %li
                      %a{:href => "#"} Valentino
                    %li
                      %a{:href => "#"} Vince
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#WomensApparelNavMenu.menu-item.span-3
              %a{:href => "#"} WOMEN'S APPAREL
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b WOMEN'S APPAREL
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Dresses
                    %li
                      %a{:href => "#"} Formal &amp; Evening
                    %li
                      %a{:href => "#"} Tops
                    %li
                      %a{:href => "#"} Sweaters
                    %li
                      %a{:href => "#"} Jackets &amp; Vests
                    %li
                      %a{:href => "#"} Coats
                    %li
                      %a{:href => "#"} The Fur Salon
                    %li
                      %a{:href => "#"} Jeans
                    %li
                      %a{:href => "#"} Pants &amp; Shorts
                    %li
                      %a{:href => "#"} Jumpsuits &amp; Rompers
                    %li
                      %a{:href => "#"} Skirts
                    %li
                      %a{:href => "#"} Swimsuits &amp; Cover-ups
                    %li
                      %a{:href => "#"} Suit Separates
                    %li
                      %a{:href => "#"} Activewear
                    %li
                      %a{:href => "#"} Lingerie &amp; Shapewear
                    %li
                      %a{:href => "#"} Sleepwear &amp; Loungewear
                    %li
                      %a{:href => "#"} Plus &amp; Extended Sizes
                    %li
                      %a{:href => "#"} Maternity
                    %li
                      %a{:href => "#"} Special Offers
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b LIFESTYLE BOUTIQUES
                  %ul
                    %li
                      %a{:href => "#"} Premier Designers
                    %li
                      %a{:href => "#"} Contemporary
                    %li
                      %a{:href => "#"} Modern
                  %b SALE: Women's Apparel
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Women's Apparel Designers
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} #SaksStyle
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} Fall 2016 Runway Report: Vol.2
                    %li
                      %a{:href => "#"} Fall 2016 Runway Report:Vol.1
                    %li
                      %a{:href => "#"} Contemporary Designers Editorial
                    %li
                      %a{:href => "#"} Denim Designers Editorial
                    %li
                      %a{:href => "#"} Collection: A Contemporary Series
                    %li
                      %a{:href => "#"} Wedding Shop
                    %li
                      %a{:href => "#"} The It List
                    %li
                      %a{:href => "#"} The Advance
                    %li
                      %a{:href => "#"} Valentino Fall Editorial
                    %li
                      %a{:href => "#"} Evening Editorial
                    %li
                      %a{:href => "#"} The Trendcaster Vol. 10 October
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 9 September
                    %li
                      %a.menu-banner-edition{:href => "#"}
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#ShoesNavMenu.menu-item.span-3
              %a{:href => "#"} SHOES
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b SHOES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Boots
                    %li
                      %a{:href => "#"} Pumps &amp; Slingbacks
                    %li
                      %a{:href => "#"} Flats
                    %li
                      %a{:href => "#"} Sandals
                    %li
                      %a{:href => "#"} Sneakers
                    %li
                      %a{:href => "#"} Oxfords &amp; Loafers
                    %li
                      %a{:href => "#"} Wedges
                    %li
                      %a{:href => "#"} Espadrilles
                    %li
                      %a{:href => "#"} Evening
                    %li
                      %a{:href => "#"} Wedding
                    %li
                      %a{:href => "#"} Cold Weather
                    %li
                      %a{:href => "#"} Mules
                    %li
                      %a{:href => "#"} Mary Janes
                    %li
                      %a{:href => "#"} Exotics
                    %li
                      %a{:href => "#"} Slippers
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} Saks Exclusives
                    %li
                      %a{:href => "#"} Iconic Shoes
                    %li
                      %a{:href => "#"} Military
                    %li
                      %a{:href => "#"} Velvet
                    %li
                      %a{:href => "#"} High Shine
                  %b MENS SHOES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b KIDS SHOES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SALE: Shoes
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Shoes Designers
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} #SaksStyle
                    %li
                      %a{:href => "#"} Wedding Shop
                    %li
                      %a{:href => "#"} Jimmy Choo Editorial
                    %li
                      %a{:href => "#"} Fall Shoe Editorial
                    %li
                      %a{:href => "#"} Valentino Fall Editorial
                    %li
                      %a{:href => "#"} Gucci Pre-Fall Editorial
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 10 October
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 9 September
                    %li
                      %a.menu-banner-edition{:href => "#"}
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#HandbagsNavMenu.menu-item.span-3.is-selected
              %a{:href => "#"} HANDBAGS
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b HANDBAGS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Crossbody Bags
                    %li
                      %a{:href => "#"} Shoulder Bags
                    %li
                      %a{:href => "#"} Clutches
                    %li
                      %a{:href => "#"} Totes
                    %li
                      %a{:href => "#"} Top Handles &amp; Satchels
                    %li
                      %a{:href => "#"} Backpacks
                    %li
                      %a{:href => "#"} Mini Bags
                    %li
                      %a{:href => "#"} Hobo Bags
                    %li
                      %a{:href => "#"} Bucket Bags
                    %li
                      %a{:href => "#"} Saddle Bags
                    %li
                      %a{:href => "#"} Diaper Bags
                    %li
                      %a{:href => "#"} Beach Bags
                    %li
                      %a{:href => "#"} Bag Accessories
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b WALLETS &amp; CASES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Wallets &amp; Wristlets
                    %li
                      %a{:href => "#"} Card Cases &amp; Coin Purses
                    %li
                      %a{:href => "#"} Makeup Bags
                    %li
                      %a{:href => "#"} Mobile Cases
                  %b SPECIAL OFFERS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} Saks Exclusives
                    %li
                      %a{:href => "#"} Iconic Bags
                    %li
                      %a{:href => "#"} Motif Mania
                    %li
                      %a{:href => "#"} Velvet
                    %li
                      %a{:href => "#"} High Shine
                  %b SALE: Handbags
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Handbags Designers
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} #SaksStyle
                    %li
                      %a{:href => "#"} Wedding Shop
                    %li
                      %a{:href => "#"} Jimmy Choo Editorial
                    %li
                      %a{:href => "#"} Designer Handbag Editorial
                    %li
                      %a{:href => "#"} Valentino Fall Editorial
                    %li
                      %a{:href => "#"} Gucci Pre-Fall Editorial
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 10 October
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 9 September
                    %li
                      %a.menu-banner-edition{:href => "#"}
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#JewelryAccessoriesNavMenu.menu-item.span-3
              %a{:href => "#"} JEWELRY &amp; ACCESSORIES
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b ALL JEWELRY
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Earrings
                    %li
                      %a{:href => "#"} Necklaces
                    %li
                      %a{:href => "#"} Bracelets
                    %li
                      %a{:href => "#"} Rings
                    %li
                      %a{:href => "#"} Brooches
                    %li
                      %a{:href => "#"} Jewelry Storage
                  %b FINE JEWELRY
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b FASHION JEWELRY
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b WATCHES
                  %ul
                    %li
                      %a{:href => "#"} For Her
                    %li
                      %a{:href => "#"} For Him
                  %b SUNGLASSES &amp; OPTICALS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b ACCESSORIES
                  %ul
                    %li
                      %a{:href => "#"} Scarves
                    %li
                      %a{:href => "#"} Hats &amp; Gloves
                    %li
                      %a{:href => "#"} Cold-Weather Accessories
                    %li
                      %a{:href => "#"} Fur &amp; Faux Fur
                    %li
                      %a{:href => "#"} Wraps, Capes &amp; Vests
                    %li
                      %a{:href => "#"} Belts
                    %li
                      %a{:href => "#"} Wallets &amp; Cases
                    %li
                      %a{:href => "#"} Tech Cases, Electronics &amp; Accessories
                    %li
                      %a{:href => "#"} Hair Accessories
                    %li
                      %a{:href => "#"} Umbrellas &amp; Key Chains
                    %li
                      %a{:href => "#"} Tights &amp; Hosiery
                    %li
                      %a{:href => "#"} The Fur Salon
                  %b SPECIAL OFFERS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} Bridal
                    %li
                      %a{:href => "#"} Pearls &amp; Pearl Embellished
                    %li
                      %a{:href => "#"} Fun Fur
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b SALE: Jewelry &amp; Accessories
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Jewelry &amp; Accessories Designers
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} #SaksStyle
                    %li
                      %a{:href => "#"} Wedding Shop
                    %li
                      %a{:href => "#"} Sunglasses Editorial
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 10 October
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 9 September
                    %li
                      %a.menu-banner-edition{:href => "#"}
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#SaksBeautyPlaceNavMenu.menu-item.span-2
              %a{:href => "#"} beauty
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b SPECIAL OFFERS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b FOR HER
                  %ul
                    %li
                      %a{:href => "#"} Skin Care
                    %li
                      %a{:href => "#"} Makeup
                    %li
                      %a{:href => "#"} Fragrance
                    %li
                      %a{:href => "#"} Sun Care &amp; Bronzers
                    %li
                      %a{:href => "#"} Tools &amp; Accessories
                    %li
                      %a{:href => "#"} Bath &amp; Body
                    %li
                      %a{:href => "#"} Hair Care
                    %li
                      %a{:href => "#"} Gifts &amp; Gift Sets
                  %b FOR HIM
                  %ul
                    %li
                      %a{:href => "#"} Cologne
                    %li
                      %a{:href => "#"} Skin Care
                    %li
                      %a{:href => "#"} Shaving
                    %li
                      %a{:href => "#"} Sun Care
                    %li
                      %a{:href => "#"} Bath &amp; Body
                    %li
                      %a{:href => "#"} Hair Care
                    %li
                      %a{:href => "#"} Toiletry Kits &amp; Cases
                    %li
                      %a{:href => "#"} Gifts &amp; Gift Sets
                  %b CANDLES, SOAPS &amp; SCENTS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} The Apothecary Shop
                    %li
                      %a{:href => "#"} Best in Beauty
                    %li
                      %a{:href => "#"} Fall Color
                    %li
                      %a{:href => "#"} Vensette's Beauty Picks
                  %b SALE: Beauty
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Beauty Designers
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} The Trendcaster: Vol 10 October
                    %li
                      %a.menu-banner-edition{:href => "#"}
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#TheMensStoreNavMenu.menu-item.span-4
              %a{:href => "#"} men
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b APPAREL
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Coats &amp; Jackets
                    %li
                      %a{:href => "#"} Suits, Sportcoats &amp; Vests
                    %li
                      %a{:href => "#"} Sweaters &amp; Sweatshirts
                    %li
                      %a{:href => "#"} Casual Button-Down Shirts
                    %li
                      %a{:href => "#"} Dress Shirts
                    %li
                      %a{:href => "#"} T-Shirts &amp; Polos
                    %li
                      %a{:href => "#"} Jeans
                    %li
                      %a{:href => "#"} Pants &amp; Shorts
                    %li
                      %a{:href => "#"} Activewear
                    %li
                      %a{:href => "#"} Swimwear
                    %li
                      %a{:href => "#"} Ties &amp; Formal Accessories
                    %li
                      %a{:href => "#"} Underwear &amp; Socks
                    %li
                      %a{:href => "#"} Loungewear, Pajamas &amp; Robes
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b SHOES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Sneakers
                    %li
                      %a{:href => "#"} Boots
                    %li
                      %a{:href => "#"} Dress Shoes
                    %li
                      %a{:href => "#"} Loafers
                    %li
                      %a{:href => "#"} Oxfords &amp; Lace-Ups
                    %li
                      %a{:href => "#"} Drivers
                    %li
                      %a{:href => "#"} Slip-Ons
                    %li
                      %a{:href => "#"} Flip Flops &amp; Sandals
                    %li
                      %a{:href => "#"} Slippers
                  %b ACCESSORIES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Belts
                    %li
                      %a{:href => "#"} Bags &amp; Leather Goods
                    %li
                      %a{:href => "#"} Luggage, Travel &amp; Umbrellas
                    %li
                      %a{:href => "#"} Sunglasses &amp; Opticals
                    %li
                      %a{:href => "#"} Ties &amp; Formal Accessories
                    %li
                      %a{:href => "#"} Lapel Pins
                    %li
                      %a{:href => "#"} Scarves, Hats and Gloves
                    %li
                      %a{:href => "#"} Pens &amp; Desk Accessories
                    %li
                      %a{:href => "#"} Tech Cases, Electronics &amp; Accessories
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b CUFF LINKS, JEWELRY &amp; WATCHES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Cuff Links &amp; Tie Bars
                    %li
                      %a{:href => "#"} Jewelry
                    %li
                      %a{:href => "#"} Watches
                    %li
                      %a{:href => "#"} Jewelry &amp; Watch Storage
                  %b SPORTS MEMORABILIA
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b GROOMING &amp; COLOGNE
                  %ul
                    %li
                      %a{:href => "#"} Cologne &amp; Aftershave
                    %li
                      %a{:href => "#"} Skin Care
                    %li
                      %a{:href => "#"} Shaving
                    %li
                      %a{:href => "#"} Gifts &amp; Gift Sets
                    %li
                      %a{:href => "#"} Bath &amp; Body
                    %li
                      %a{:href => "#"} Hair Care
                    %li
                      %a{:href => "#"} Sun Care
                    %li
                      %a{:href => "#"} Toiletry Kits &amp; Cases
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} The New Office Casual
                    %li
                      %a{:href => "#"} Colors of the Season
                    %li
                      %a{:href => "#"} Cutting-Edge Designers
                    %li
                      %a{:href => "#"} Saks Exclusives
                  %b SALE: Men
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Men Designers
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} The Trendcaster: Vol. 1 Fall
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} #SaksStyle
                    %li
                      %a{:href => "#"} The Summer Shop
                    %li
                      %a{:href => "#"} Wedding Shop
                    %li
                      %a{:href => "#"} Made to Measure
                    %li
                      %a.menu-banner-edition{:href => "#"}
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#JustKidsNavMenu.menu-item.span-3
              %a{:href => "#"} kids
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b BABY (0-24 MONTHS)
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Baby Girl (0-24 Months)
                    %li
                      %a{:href => "#"} Baby Boy (0-24 Months)
                    %li
                      %a{:href => "#"} Accessories
                    %li
                      %a{:href => "#"} Baby Gifts
                  %b BABY GEAR &amp; ESSENTIALS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Strollers &amp; Accessories
                    %li
                      %a{:href => "#"} Car Seats &amp; Accessories
                    %li
                      %a{:href => "#"} Diaper Bags
                    %li
                      %a{:href => "#"} Feeding
                    %li
                      %a{:href => "#"} Bathing
                    %li
                      %a{:href => "#"} Blankets
                    %li
                      %a{:href => "#"} Baby Carriers
                    %li
                      %a{:href => "#"} Playards &amp; Activity Chairs
                  %b GIRLS (SIZES 2-16)
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Girls (2-6)
                    %li
                      %a{:href => "#"} Girls (7-16)
                    %li
                      %a{:href => "#"} Accessories
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b BOYS (SIZES 2-20)
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Boys (2-6)
                    %li
                      %a{:href => "#"} Boys (7-20)
                    %li
                      %a{:href => "#"} Accessories
                  %b SHOES FOR ALL AGES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Baby (0-24 Months)
                    %li
                      %a{:href => "#"} Girls (2-16)
                    %li
                      %a{:href => "#"} Boys (2-20)
                  %b TOYS &amp; GIFTS
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b PLAYROOM DECOR
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#"} Cold Weather Shop
                    %li
                      %a{:href => "#"} Names to Know
                    %li
                      %a{:href => "#"} The New Baby Checklist
                    %li
                      %a{:href => "#"} Premier Designer Shop
                    %li
                      %a{:href => "#"} Unisex Shop
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b SPECIAL OFFERS
                  %ul
                    %li
                      %a{:href => ""} Shop All
                  %b SALE: Kids
                  %ul
                    %li
                      %a{:href => ""} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => ""} Kids Designers
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => ""} #SaksStyle
                    %li
                      %a{:href => ""} Wedding Shop
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li#HomeHiTechNavMenu.menu-item.span-4
              %a{:href => "#"} home
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b HOME DECOR
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Frames
                    %li
                      %a{:href => "#"} Decorative Pillows &amp; Throws
                    %li
                      %a{:href => "#"} Home Fragrance &amp; Candles
                    %li
                      %a{:href => "#"} Vases, Bowls &amp; Trays
                    %li
                      %a{:href => "#"} Room Accents
                    %li
                      %a{:href => "#"} Books &amp; Games
                    %li
                      %a{:href => "#"} Desk Decor &amp; Stationery
                    %li
                      %a{:href => "#"} Furniture &amp; Rugs
                    %li
                      %a{:href => "#"} Outdoor Decor
                  %b BED &amp; BATH
                  %ul
                    %li
                      %a{:href => "#"} Bedding Collections
                    %li
                      %a{:href => "#"} Bath
                  %b DINING &amp; ENTERTAINING
                  %ul
                    %li
                      %a{:href => "#"} Dinnerware
                    %li
                      %a{:href => "#"} Serveware
                    %li
                      %a{:href => "#"} Drinkware
                    %li
                      %a{:href => "#"} Table Linens &amp; Accessories
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b KITCHEN
                  %ul
                    %li
                      %a{:href => "#"} Cookware &amp; Bakeware
                    %li
                      %a{:href => "#"} Coffee &amp; Tea
                    %li
                      %a{:href => "#"} Small Appliances
                    %li
                      %a{:href => "#"} Cutlery
                    %li
                      %a{:href => "#"} Prep &amp; Tools
                  %b GOURMET FOODS
                  %ul
                    %li
                      %a{:href => "#"} Gift Baskets &amp; Gift Sets
                    %li
                      %a{:href => "#"} Candies &amp; Chocolates
                    %li
                      %a{:href => "#"} Appetizers
                    %li
                      %a{:href => "#"} Entrees &amp; Side Dishes
                    %li
                      %a{:href => "#"} Desserts
                  %b TRAVEL &amp; TECH
                  %ul
                    %li
                      %a{:href => "#"} Totes &amp; Luggage
                    %li
                      %a{:href => "#"} Travel Accessories
                    %li
                      %a{:href => "#"} Tech Cases, Electronics &amp; Accessories
                  %b PERSONALIZATION
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SPORTS &amp; LEISURE
                  %ul
                    %li
                      %a{:href => "#"} Games
                    %li
                      %a{:href => "#"} Sports Memorabilia
                    %li
                      %a{:href => "#"} Bicycles
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b HOME CLEANING &amp; GARMENT CARE
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b PET ACCESSORIES
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b HOLIDAY
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                    %li
                      %a{:href => "#"} Ornaments &amp; Decor
                    %li
                      %a{:href => "#"} Hanukkah
                    %li
                      %a{:href => "#"} Snow Globes &amp; Collectibles
                    %li
                      %a{:href => "#"} Holiday Menu
                    %li
                      %a{:href => "#"} Signature Saks
                  %b NEW &amp; POPULAR
                  %ul
                    %li
                      %a{:href => "#"} New Arrivals
                    %li
                      %a{:href => "#"} Best Sellers
                    %li
                      %a{:href => "#4"} Saks Fifth Avenue Collection
                    %li
                      %a{:href => "#"} Designer Home
                    %li
                      %a{:href => "#"} Wedding Gifts
                  %b SALE: Home
                  %ul
                    %li
                      %a{:href => "#"} Shop All
                  %b SHOP BY DESIGNER
                  %ul
                    %li
                      %a{:href => "#"} Home Designers
                / SUBMENU COLUMN ENDS
                %li.sub-menu-column
                  %b TRENDS &amp; EVENTS
                  %ul
                    %li
                      %a{:href => "#"} Wedding Shop
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
            %li.gift
              %a{:href => "#"} gift
            %li#SaksSaleNavMenu.menu-item.span-1.last-child
              %a{:href => "#"} sale
              %ul.sub-menu
                %li.triangle
                %li.sub-menu-column.first-child
                  %b SHOP BY CATEGORY
                  %ul
                    %li
                      %a{:href => "#"} Women's Apparel
                    %li
                      %a{:href => "#"} Shoes
                    %li
                      %a{:href => "#"} Handbags
                    %li
                      %a{:href => "#"} Jewelry &amp; Accessories
                    %li
                      %a{:href => "#"} Beauty
                    %li
                      %a{:href => "#"} Men
                    %li
                      %a{:href => "#"} Kids
                    %li
                      %a{:href => "#"} Home
                  %b SHOP BY PRICE
                  %ul
                    %li
                      %a{:href => "#"} Under $50
                    %li
                      %a{:href => "#"} $50 - $150
                    %li
                      %a{:href => "#"} $150 - $300
                    %li
                      %a{:href => "#"} $300 - $500
                    %li
                      %a{:href => "#"} $500 - $1000
                    %li
                      %a{:href => "#"} $1000 - $2000
                    %li
                      %a{:href => "#"} Over $2000
                  %b SALE: Trending Now
                  %ul
                    %li
                      %a{:href => "http://www.saksfifthavenue.com/SALE:-Trending-Now/Fall-Favorites/shop/_/N-52k0u2"} Fall Favorites
                  %b SHOP Saks OFF 5TH
                  %ul
                    %li
                      %a{:href => "http://www.saksoff5th.com", :target => "_blank"} saksoff5th.com
                / SUBMENU COLUMN ENDS
              / SUBMENU ENDS
        / DESKTOP NAVIGATION ENDS
        / MOBILE NAVIGATION STARTS
        %nav.main-navigation-mobile.hidden-lg.hidden-md.hidden-sm
          %ul
            %li.close-close
              %span
                Close
                %span X
            %li
              %a{:href => "#"}
                DESIGNERS
                %span &gt;
            %li
              %a{:href => "#"}
                WOMEN'S APPAREL
                %span &gt;
            %li
              %a{:href => "#"}
                SHOES
                %span &gt;
            %li
              %a{:href => "#"}
                HANDBAGS
                %span &gt;
            %li
              %a{:href => "#"}
                JEWELRY &amp; ACCESSORIES
                %span &gt;
            %li
              %a{:href => "#"}
                beauty
                %span &gt;
            %li
              %a{:href => "#"}
                men
                %span &gt;
            %li
              %a{:href => "#"}
                kids
                %span &gt;
            %li
              %a{:href => "#"}
                home
                %span &gt;
            %li.gift
              %a{:href => "#"}
                gift
                %span &gt;
            %li
              %a{:href => "#"}
                sale
                %span &gt;
        / MOBILE NAVIGATION ENDS
        / BIG SCREEN SEARCH BOX AREA STARTS
        .search-wrapper.search-wrapper-big-screen
          %p.pull-left.free-offer.free-offer-desktop
            Enjoy Free Express Shipping on orders $100+
            %a{:href => "#"} Details
          %form.pull-right.search-box{:action => "#"}
            %input{:type => "text"}/
            %button{:type => "submit"}
              %i.fa.fa-search
        / BIG SCREEN SEARCH BOX AREA ENDS
      / .container ends
    / HEADER ENDS
    / SECTION HOME CONTENT Starts
    %section.section-home-2
      .container
        / HOME LEFT MENU MARKUP
        %aside.home-left-menu.hidden-xs
          / single category starts
          .catagory-item
            .catagory-item-title
              %img{:alt => "category-icon", :src => "/assets/img/clothing_50.png"}/
              %h4 Clothing, Shows &amp; Accessories
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
            %ul.catagory-item-ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Denim Store
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  The Restore Shop
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Boots &amp; Booties Store
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Handbags &amp; Shoulder
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Bags
          / single category ends
          / single category starts
          .catagory-item
            .catagory-item-title
              %img{:alt => "category-icon", :src => "/assets/img/CANADA_DENIM_tile.png"}/
              %h4 WOMEN
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
            %ul.catagory-item-ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Clothing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Shoes
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Handbags
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Accessories
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Jewelry
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Watches
          / single category ends
          / single category starts
          .catagory-item
            .catagory-item-title
              %img{:alt => "category-icon", :src => "/assets/img/belts_v2.png"}/
              %h4 MES
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
            %ul.catagory-item-ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Clothing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Shoes
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Messenger Bags
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Accessories
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Watches
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Jewelry
          .catagory-item
            .catagory-item-title
              %img{:alt => "category-icon", :src => "/assets/img/50_kids.png"}/
              %h4 KIDS
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
            %ul.catagory-item-ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Clothing
                %ul
                  %li
                    %a{:href => "#"} Girls
                  %li
                    %a{:href => "#"} Boys
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Shoes
                %ul
                  %li
                    %a{:href => "#"} Girls
                  %li
                    %a{:href => "#"} Boys
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Watches
          / single category ends
          / single category starts
          .catagory-item
            .catagory-item-title
              %img{:alt => "category-icon", :src => "/assets/img/belts_v2.png"}/
              %h4 MES
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
            %ul.catagory-item-ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Clothing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Shoes
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Messenger Bags
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Accessories
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Watches
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Jewelry
          / single category ends
          / single category starts
          .catagory-item
            .catagory-item-title
              %img{:alt => "category-icon", :src => "/assets/img/belts_v2.png"}/
              %h4 MES
              %i.fa.fa-chevron-up{"aria-hidden" => "true"}
            %ul.catagory-item-ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Clothing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Shoes
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Messenger Bags
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Accessories
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Watches
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  Jewelry
          / single category ends
          .aside-left-add
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "/assets/img/adds/Fall2_WLP_2._V279537642_.jpg"}/
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "/assets/img/adds/FASHION_MEN_R1C2_TOP.jpg"}/
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "/assets/img/adds/FASHION_MEN_R1C2_BOTTOM.jpg"}/
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "/assets/img/adds/FASHION_MEN_R3C3.jpg"}/
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "/assets/img/adds/CAT_PROMO_R2C2_FASHION_DEALS.png"}/
          / .aside-left-add ends
        / HOME LEFT MENU MARKUP
        / HOME RIGHT CONTENT MARKUP
        .home-right-content
          / TOP SLIDER AREA STARTS
          .section-slider-area
            %h2.sr-only Main Slider Area
            #slider-1.carousel.slide{"data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "1", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "2", "data-target" => "#slider-1"}
                %li{"data-slide-to" => "3", "data-target" => "#slider-1"}
              / Wrapper for slides
              .carousel-inner{:role => "listbox"}
                .item.active
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => "/assets/img/slider/slider-1.jpg"}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => "/assets/img/slider/slider-2.jpg"}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => "/assets/img/slider/slider-3.jpg"}/
                .item
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "slider-image", :src => "/assets/img/slider/slider-4.jpg"}/
              / .carousel-inner ends
              / Controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#slider-1", :role => "button"}
                %i.fa.fa-angle-left{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.right.carousel-control{"data-slide" => "next", :href => "#slider-1", :role => "button"}
                %i.fa.fa-angle-right{"aria-hidden" => "true"}
                %span.sr-only Next
            / #slider-1 ends
          / TOP SLIDER AREA ENDS
          / SLIDER BOTTOM MENU MARKUP
          .slider-bottom-menu
            %a{:href => "#"}
              %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_._V279116091_.jpg"}/
            %a{:href => "#"}
              %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_2._V279116091_.jpg"}/
            %a{:href => "#"}
              %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_3._V279116091_.jpg"}/
            %a{:href => "#"}
              %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_4._V279116091_.jpg"}/
            %a{:href => "#"}
              %img{:alt => "nav-img", :src => "/assets/img/_Fall2_FLP_MTE_5._V279116091_.jpg"}/
          / SLIDER BOTTOM MENU MARKUP ENDS
          / ADD HOME MARKUP
          .add-home
            .row
              .col-xs-6.col-sm-3.r-not
                .add-left
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/Fall2_LP_W_5._V279251455_.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/Fall2_LP_W_4._V279251455_.jpg"}/
              / .col-xs-6 ends
              .col-xs-6.col-sm-3.visible-xs
                .add-right
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/FASHION_MEN_R1C2_TOP.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/FASHION_MEN_R1C2_BOTTOM.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/FASHION_MEN_R3C3.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/CAT_PROMO_R2C2_FASHION_DEALS.png"}/
                / .add-right ends
              / .col-xs-6 ends
              .col-xs-12.col-sm-6
                .add-middle
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/Fall2_WLP_2._V279537642_.jpg"}/
              / .col-xs-6 ends
              .col-xs-6.col-sm-3.l-not.hidden-xs
                .add-right
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/FASHION_MEN_R1C2_TOP.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/FASHION_MEN_R1C2_BOTTOM.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/FASHION_MEN_R3C3.jpg"}/
                  %a{:href => "#"}
                    %img{:alt => "add-img", :src => "/assets/img/adds/CAT_PROMO_R2C2_FASHION_DEALS.png"}/
              / .col-xs-6 ends
            / .row ends
          / ADD HOME MARKUP ENDS
          / PRODUCT THUMB MARKUP
          .section-product-thumb
            .grid
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-1.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-2.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-3.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-4.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-6.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-7.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-8.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
              / single product starts
              %a{:href => "#"}
                .grid-item
                  %img{:alt => "product-image", :src => "/assets/img/products/pd-1.jpg"}/
                  .product-thumb-text.text-center
                    %h3 FASHION FINDS
                    %span Top style under $200
                / .grid-item ends
              / single product ends
            / grid ends
          / PRODUCT THUMB MARKUP ENDS
          / SHOP BRAND MARKUP
          .section-shop-brand
            .product-container
              %h2 Shop by Brand
              .all-brands
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/1.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/2.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/3.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/4.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/5.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/6.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/7.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/8.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/9.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/10.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/11.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/12.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/13.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/14.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/15.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/16.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/17.jpg"}/
                %a{:href => "#"}
                  %img{:alt => "brand-image", :src => "/assets/img/brand/18.jpg"}/
              / .all-brands ends
            / .product-container ends
          / .section-shop-brand ends
        / HOME RIGHT SIDE CONTENT MARKUP ENDS
      / .container ends
    / SECTION HOME CONTENT Starts
    / FOOTER AREA STARTS
    %footer.footer-area
      .footer-top
        .container
          .footer-top-inner
            .f-left.pull-left
              .rotate-image
                %img.img-responsive.pull-left{:alt => "rotate-img", :src => "/assets/img/rotate.png"}/
              %h3 OUR NEW CATALOG IS HERE
              %p
                The latest issue now available online.
                %a{:href => "#"} View Now
            / .f-left ends
            .f-center.pull-left
              .exclusive.pull-left
                %img{:alt => "saks-img", :src => "/assets/img/saks.png"}/
                %img{:alt => "first-img", :src => "/assets/img/first.png"}/
                %p Exclusive Rewards Card.
              .start.pull-left
                %h3
                  START GETTING
                  %br/
                  POINTS &amp; MORE
                %p
                  from your first purchase with ourExclusive Rewards Card.
                  %a{:href => "#"} Apply Now
            / .f-center ends
            .f-right.pull-left
              %form.pull-right{:action => "#"}
                %label{:for => "sign-up-1"} SIGN UP FOR DAILY EMAILS
                %input#sign-up-1{:placeholder => "Enter Email Address", :type => "text"}/
                %button{:type => "submit"} GO
            / .f-right ends
          / .footer-top-inner ends
        / .container ends
      / .footer-top ends
      .footer-bottom
        .container
          %h2 Were Dedicated to Our Customers 24/7
          .footer-bottom-inner
            .footer-sitemap
              .row
                .col-sm-3
                  %strong Shop Saks
                  %ul.ul-single-sitemap
                    %li
                      %a{:href => "#"} EDITION
                    %li
                      %a{:href => "#"} The Trendcaster
                    %li
                      %a{:href => "#"} Fall Fashion: A Designer Series
                    %li
                      %a{:href => "#"} Collection: A Contemporary Series
                    %li
                      %a{:href => "#"} #SaksStyle Hub
                    %li
                      %a{:href => "#"} Catalogs
                    %li
                      %a{:href => "#"} Gift Cards
                / .col-sm-3 ends
                .col-sm-3
                  %strong Stores &amp; Corporate
                  %ul.ul-single-sitemap
                    %li
                      %a{:href => "#"} Store Locations &amp; Events
                    %li
                      %a{:href => "#"} Bridal Trunk Shows
                    %li
                      %a{:href => "#"} About Us
                    %li
                      %a{:href => "#"} Careers
                    %li
                      %a{:href => "#"} Policies
                / .col-sm-3 ends
                .col-sm-3
                  %strong Shipping &amp; Returns
                  %ul.ul-single-sitemap
                    %li
                      %a{:href => "#"} Domestic
                    %li
                      %a{:href => "#"} International
                    %li
                      %a{:href => "#"} Order Status &amp; Tracking
                / .col-sm-3 ends
                .col-sm-3
                  %strong SaksFirst Card
                  %ul.ul-single-sitemap
                    %li
                      %a{:href => "#"} SaksFirst
                    %li
                      %a{:href => "#"} Pay Bills &amp; Manage
                    %li
                      %a{:href => "#"} Apply
                    %li
                      %a{:href => "#"} Upgrade to the Saks MasterCard
                / .col-sm-3 ends
              / .row ends
            / .footer-sitemap ends
          / .footer-bottom-inner ends
          .footer-social
            %ul.ul-social-icons
              %li
                %a{:href => "#"}
                  %img{:alt => "pov-icon", :src => "/assets/img/icons/pov.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "fb-icon", :src => "/assets/img/icons/facebook.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "twitter-icon", :src => "/assets/img/icons/twitter.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "pinterest-icon", :src => "/assets/img/icons/pinterest.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "tumbler-icon", :src => "/assets/img/icons/tumbler.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "instagram-icon", :src => "/assets/img/icons/instagram.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "youtube-icon", :src => "/assets/img/icons/youtube.png"}/
            %a.download-app{:href => "#"}
              Download the Saks App:
              %img{:alt => "app-icon", :src => "/assets/img/icons/app.png"}/
            %a.sign-up-sms{:href => "#"}
              Sign up for SMS:
              %img{:alt => "sms-icon", :src => "/assets/img/icons/sms.png"}/
          / .footer-social ends
          %p.copyright
             2015, Saks Fifth Avenue
            %span 
            CA Transparency in Supply Chains Act
        / .container ends
      / .footer-bottom ends
    / FOOTER AREA ENDS
    / %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    / :javascript
    /   window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    / %script{:src => "js/bootstrap.min.js"}
    / %script{:src => "https://apis.google.com/js/platform.js"}
    / %script{:src => "https://assets.pinterest.com/js/pinit.js"}
    / %script{:src => "js/wow.min.js"}
    / %script{:src => "js/owl.carousel.min.js"}
    / %script{:src => "js/product.js"}
    / %script{:src => "js/jquery.rateit.js", :type => "text/javascript"}
    / %script{:src => "js/jquery.rateit.min.js.map", :type => "text/javascript"}
    / %script{:src => "js/main.js"}
    / %script{:src => "js/masonry.pkgd.js"}
    :javascript
      $('.grid').masonry();
