!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    -if @category.present?
      %title=@category.seo_title
      %meta{:content => @category.seo_desc, :name => "description"}/
      %meta{:content => @category.seo_keywords, :name => "keywords"}/
    -elsif @product.present?
      %title=@product.seo_title
      %meta{:content => @product.seo_desc, :name => "description"}/
      %meta{:content => @product.seo_keywords, :name => "keywords"}/
    -elsif @seo_title.present?
      %title=@seo_title
      %meta{:content => @seo_desc, :name => "description"}/
      %meta{:content => @seo_keywords, :name => "keywords"}/
    -else
      %title Boutiqueken  Online & In Store: Shoes, Jewelry, Clothing, Makeup, Dresses

      %meta{:content => "FREE RETURNS & FREE 3-DAY SHIPPING WORLDWIDE  All the time. Shop online for shoes, clothing, jewelry, dresses, makeup and more from top brands.", :name => "description"}/
      %meta{:content => "Free Shipping, Every Day, Every Order. Shop boutiqueken.com , Women's Apparel, Men's Apparel, Shoes, Handbags, Beauty, makup, boutiqueken.", :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    / For third-generation iPad with high-resolution Retina display:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    / For iPhone with high-resolution Retina display:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / For first- and second-generation iPad:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    %link{:href => "#", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => asset_path("favicon.jpg"), :rel => "icon"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags 
    /[if IE] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / HEADER STARTS
    =render "shared/header"
    %section.section-products-area.category-list
      .container
        .row
          .col-md-10.col-sm-12.col-xs-12.pull-right
            =yield
          .col-md-2.col-sm-12.col-xs-12
            =render "shared/static_left"
          / .col-md-2 ends
        / .row ends
      / .container ends
    / PRODUCTS AREA ENDS


    =render "shared/footer"